{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}


{% block header %}
            <div class="d-flex align-items-center">
                <a href="{% url 'app_reports:index' %}" class=" px-4 py-4 border-right back-btn"><h4 ><i class="fal fa-chevron-left"></i></h4></a>
                <h1 class="ml-3 mt-1" style="width:220px;">
                    <div>Отчет о ДДС</div>
                </h1>
            </div>
            <form class="d-flex   border-left pl-3 py-4 w-100 justify-content-between" method="post" onsubmit="addspinner(this, 'report_button')">
                {% csrf_token %}

                {{ form.non_field_errors }}




                {{ form.grid.errors }}
                {{ form.dayFrom.errors }}
                {{ form.weekFrom.errors }}
                {{ form.monthFrom.errors }}
                {{ form.monthYearFrom.errors }}
                {{ form.quartalFrom.errors }}
                {{ form.quartalYearFrom.errors }}
                {{ form.yearFrom.errors }}

                <div class="d-flex align-items-center">

                    <div  style="width: 100px;">{{ form.grid}}</div>

                    <div  v-if="day" style="width: 100px;" class="ml-1">{{ form.dayFrom|add_class:""}}</div>
                    <div  v-if="week" style="width: 100px;" class="ml-1">{{ form.weekFrom|add_class:""}}</div>
                    <div  v-if="month" style="width: 100px;" class="ml-1">{{ form.monthFrom|add_class:""}}</div>
                    <div  v-if="month" style="width: 70px;" class="ml-1">{{ form.monthYearFrom|add_class:""}}</div>
                    <div  v-if="quartal" style="width: 100px;" class="ml-1">{{ form.quartalFrom|add_class:""}}</div>
                    <div  v-if="quartal" style="width: 70px;" class="ml-1">{{ form.quartalYearFrom|add_class:""}}</div>
                    <div  v-if="year" style="width: 70px;" class="ml-1">{{ form.yearFrom|add_class:""}}</div>


                    <div class="mx-2">—</div>

                    <div v-if="day" style="width: 100px;" class="ml-1">{{ form.dayTo|add_class:""}}</div>
                    <div v-if="week" style="width: 100px;" class="ml-1">{{ form.weekIntervalFrom|add_class:""}}</div>
                    <div v-if="month" style="width: 100px;" class="ml-1">{{ form.monthTo|add_class:""}}</div>
                    <div v-if="month" style="width: 70px;" class="ml-1">{{ form.monthYearTo|add_class:""}}</div>
                    <div v-if="quartal" style="width: 100px;" class="ml-1">{{ form.quartalTo|add_class:""}}</div>
                    <div v-if="quartal" style="width: 70px;" class="ml-1">{{ form.quartalYearTo|add_class:""}}</div>
                    <div v-if="year" style="width: 70px;" class="ml-1">{{ form.yearTo|add_class:""}}</div>

                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center ml-3">
                        <div  style="width: 150px;" class="ml-1">{{ form.pay_status|add_class:""}}</div>
                        <div  style="width: 110px;" class="ml-1">{{ form.taxes|add_class:""}}</div>
                    </div>
                    <button  type="button" class="btn btn-outline-primary  pr-3 pl-3 pt-2 pb-2 ml-3" onclick="location.href='{% url 'app_reports:cashflow' %}';" id="clear_button">Очистить</button>
                    <button type="submit" class="btn  btn btn-primary pr-3 pl-3 pt-2 pb-2 ml-1" id="report_button">
                        Выгрузить
                    </button>
                </div>
            </form>
{% endblock %}

{% block content %}


<div class="block-section-3" >

<div v-if="empty" class="d-flex flex-column align-items-center justify-content-center"    style="height: 80vh; color: lightgrey;" >
    <i class="fal fa-chart-bar" style="font-size:17em;"></i>
    <p  style="font-size:1em;">Отчет пока не создан</p>
</div>
    {% verbatim %}

    <div class="row" v-if="reportRaw">
        <div class="col-2 mb-3">
            <label for="group">Группировка</label>
            <select
            id="group"
            v-model="groupSelected">
                <option
                 v-for="item in groupVerbose" v-bind:value="item.id"
                >{{item.name}}
                </option>
            </select>
        </div>
        <div class="col-2 mb-3" v-show="showLevels">
            <label for="levels">Глубина просмотра</label>

            <select
            id="levels"
            v-model="levelSelected">
                <option
                 v-for="item in levelVerbose"
                >{{item}}
                </option>
            </select>
        </div>
    </div>


    <table class="table table-bordered table-sm" v-if="reportRaw">
        <thead class="thead-dark">
            <td class="normal3  align-middle"></td>
            <td class="normal3  align-middle" style="min-width: 100px;">За период</td>
            <td
                    class="normal3  align-middle" style="min-width: 135px;"
                v-for="item in reportRaw.header"
            >{{item}}</td>
        </thead>
        <tbody>
            <tr
                v-for="item in reportFiltered.data"
                v-bind:class="colorize(item)"
            >
                <td v-bind:class="colorize(item)" style="min-width: 400px;" >
                    {{item.added}}
                    {{item.transaction}}
                    <span v-show="!showLevels">
                        <span v-show="item.project" class="text-muted">
                        — {{item.project}} / {{item.subcategory}} / {{item.category}}

                        </span>
                    </span>
                </td>
                <td  class="normal3  align-middle" style="min-width: 100px;">{{item.sum}}</td>
                <td style="min-width: 120px;"
                    class="normal3  align-middle"
                    v-for="el in item.timegrid"
                >
                    {{el}}
                </td>

            </tr>
        </tbody>
    </table>

    {% endverbatim %}

</div>

{% endblock %}





{% block javascript %}

<script>

var app = new Vue({
    el: '#app',
    data: {
        grid: '1',
        dayFrom : '',
        weekFrom : '',
        weekIntervalFrom : '2',
        monthFrom : '1',
        monthYearFrom : '',
        quartalFrom : '1',
        quartalYearFrom : '',
        yearFrom : '',
        dayTo : '',
        monthTo : '12',
        monthYearTo : '',
        quartalTo : '4',
        quartalYearTo : '',
        yearTo : '',
        pay_status : '1',
        taxes : '1',
        day: true,
        week: false,
        month: false,
        quartal: false,
        year: false,
        empty: true,
        initial: '',
        groupVerbose:
            [
                {
                    id: 0,
                    name: 'Проекты'
                },
                {
                    id: 1,
                    name: 'Налогооблажение'
                },
                {
                    id: 2,
                    name: 'Без сортировки'
                }
            ],
        groupSelected: '0',
        levelSort: '',
        levelSelected: '',
        levelVerbose: '',
        showLevels: true,
        taxe_selected: '',
        reportRaw: '{{report}}',
        reportFormated: '',
        reportFiltered: '',
    },
    computed: {},
    mounted: function() {
        try{
            let txt = document.createElement("textarea");
            txt.innerHTML = this.reportRaw;
            this.reportRaw = JSON.parse(txt.value);

            this.reportBuilder(this.groupSelected); // building report
            this.defaultSelected(this.groupSelected); // setting default select filters
        }
        catch(err){
            console.log('нет  объекта');
        }
        this.defaultFilters() // rebuilding filter options after post

    },
    watch: {
        grid: function (newGrid, oldGrid) {
            if (newGrid === '1'){
                this.day = true;
                this.week = false;
                this.month = false;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '2'){
                this.day = false;
                this.week = true;
                this.month = false;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '3'){
                this.day = false;
                this.week = false;
                this.month = true;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '4'){
                this.day = false;
                this.week = false;
                this.month = false;
                this.quartal = true;
                this.year = false
            }
                if (newGrid === '5'){
                this.day = false;
                this.week = false;
                this.month = false;
                this.quartal = false;
                this.year = true
          }
        },
        levelSelected: function (newLevelSelected, oldLevelSelected) {
            for (let j = 0; j < this.levelVerbose.length; j++) {
                if (newLevelSelected === this.levelVerbose[j]) {

                    if (newLevelSelected !== this.levelVerbose[this.levelVerbose.length - 1]) {

                        let reportFormatedCopy = JSON.parse(JSON.stringify(this.reportFormated));
                        if (reportFormatedCopy.data){
                            for (var i = reportFormatedCopy.data.length - 1; i >= 0; i--) {
                                if (reportFormatedCopy.data[i].indent > j) {
                                    reportFormatedCopy.data.splice(i, 1);
                                }
                            }
                        }

                        this.reportFiltered = reportFormatedCopy;
                        return this.reportFiltered
                    }
                    else{
                        this.reportFiltered = JSON.parse(JSON.stringify(this.reportFormated));
                        return this.reportFiltered
                    }
                }
            }
        },
        groupSelected: function(newGroupSelected, oldGroupSelected){
            this.reportBuilder(newGroupSelected);
            this.defaultSelected(newGroupSelected)
        },
    },
    methods: {
        defaultSelected: function(id){
            id = parseInt(id)
            if (id === 0 || id === 1){
                this.showLevels = true;
                this.levelSelected = this.levelVerbose[this.levelVerbose.length-2]
            }
            if (id === 2){
                this.showLevels = false;
            }
        },
        defaultFilters: function(){
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();
            var year = d.getFullYear();
            var now = year + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;

            this.dayFrom = now;
            this.weekFrom = now;
            this.monthYearFrom = year;
            this.quartalYearFrom = year;
            this.yearFrom = year;
            this.dayTo = now;
            this.monthYearTo = year;
            this.quartalYearTo = year;
            this.yearTo = year ;


            try {
                let txt = document.createElement("textarea");
                txt.innerHTML = '{{initial}}';
                this.initial = JSON.parse(txt.value) ;

                this.empty = false;

                if (this.initial.grid !== undefined){
                    this.grid = this.initial.grid[0]
                }
                if (this.initial.dayFrom !== undefined){
                    this.dayFrom = this.initial.dayFrom[0]
                }
                if (this.initial.weekFrom !== undefined){
                    this.weekFrom = this.initial.weekFrom[0]
                }
                if (this.initial.weekIntervalFrom !== undefined){
                    this.weekIntervalFrom = this.initial.weekIntervalFrom[0]
                }
                if (this.initial.monthFrom !== undefined){
                    this.monthFrom = this.initial.monthFrom[0]
                }
                if (this.initial.monthYearFrom !== undefined){
                    this.monthYearFrom = this.initial.monthYearFrom[0]
                }
                if (this.initial.quartalFrom !== undefined){
                    this.quartalFrom = this.initial.quartalFrom[0]
                }
                if (this.initial.quartalYearFrom !== undefined){
                    this.quartalYearFrom = this.initial.quartalYearFrom[0]
                }
                if (this.initial.yearFrom !== undefined){
                    this.yearFrom = this.initial.yearFrom[0]
                }
                if (this.initial.dayTo !== undefined){
                    this.dayTo = this.initial.dayTo[0]
                }
                if (this.initial.monthTo !== undefined){
                    this.monthTo = this.initial.monthTo[0]
                }
                if (this.initial.monthYearTo !== undefined){
                    this.monthYearTo = this.initial.monthYearTo[0]
                }
                if (this.initial.quartalTo !== undefined){
                    this.quartalTo = this.initial.quartalTo[0]
                }
                if (this.initial.quartalYearTo !== undefined){
                    this.quartalYearTo = this.initial.quartalYearTo[0]
                }
                if (this.initial.yearTo !== undefined){
                    this.yearTo = this.initial.yearTo[0]
                }
                if (this.initial.pay_status !== undefined){
                    this.pay_status = this.initial.pay_status[0]
                }
                if (this.initial.taxes !== undefined){
                    this.taxes = this.initial.taxes[0]
                }

            }
            catch (err) {
               console.log('нет POST объекта')
            }
        },
        reportBuilder: function(groupSelected){
            try {
                try {
                    this.levelSort = this.reportRaw.levels[groupSelected];
                    this.levelVerbose = this.reportRaw.levels_verbose[groupSelected];

                    let sortBy = this.reportRaw.sort_by[groupSelected];
                    this.reportRaw.data.sort(function(a,b){
                        let i = 0, result = 0;
                        while(i < sortBy.length && result === 0) {
                            result = sortBy[i].direction*(a[ sortBy[i].prop ].toString() < b[ sortBy[i].prop ].toString() ? -1 : (a[ sortBy[i].prop ].toString() > b[ sortBy[i].prop ].toString() ? 1 : 0));
                            i++;
                        }
                        return result;
                    });
                }
                catch (err) {
                    console.log('нет сортировки');
                }

                console.log('ff')
                let reportRawCopy = JSON.parse(JSON.stringify(this.reportRaw));
                let reportRawCopyFormated = this.linesBuilder(reportRawCopy, groupSelected);
                this.reportFormated = JSON.parse(JSON.stringify(reportRawCopyFormated));
                this.reportFiltered = JSON.parse(JSON.stringify(reportRawCopyFormated))

            }
            catch (err) {
                console.log('нет  объекта');
                this.reportFormated = '';
                this.reportFiltered = ''
            }
        },
        linesBuilder : function (reportRawCopy, groupSelected) {
            try {
                this.reportRaw.levels[groupSelected] // to check if it's a Non sorting oprtion
                reportRawCopy.data = this.indentAdd(reportRawCopy.data)
                reportRawCopy.data = this.grouper(reportRawCopy.data, this.levelSort, this.levelSort.length);
            }
            catch (err) {
                console.log('нет сортировки');
            }

            reportRawCopy.data = this.summerizer_vertical(reportRawCopy.data, this.reportRaw);
            reportRawCopy.data = this.summerizer_horizontal(reportRawCopy.data);

            return reportRawCopy
        },
        indentAdd: function(reportRawCopyData){
            let level;
            try {
                level = this.levelSort.length
            }
            catch (err){
                level=1

            }
            for (var i = 0; i < reportRawCopyData.length; i++){
                reportRawCopyData[i].indent = level
            }
            return reportRawCopyData
        },
        summerizer_horizontal: function(reportRawCopyData){
            for (let i = 0; i < reportRawCopyData.length; i++){
                if (i !== 0 && i !== reportRawCopyData.length -1) {   // do not sum first and last line
                    let sum = 0;
                    for (let j = 0; j < reportRawCopyData[i]['timegrid'].length; j++) {
                        sum = Number((sum + reportRawCopyData[i]['timegrid'][j]).toFixed(2))
                    }
                    reportRawCopyData[i]['sum'] = sum
                    sum = 0
                }
            }
            return reportRawCopyData
        },
        summerizer_vertical: function(reportRawCopyData, rawReport){
            let move = Array(rawReport.data[0]['timegrid'].length).fill(0); // fill timegrid with zeros
            for (let i = 0; i < rawReport.data.length; i++){
                move = this.arraySum(move, rawReport.data[i].timegrid, true);
            }

            let start_balance = Array(rawReport.data[0]['timegrid'].length - 1).fill(0); // fill timegrid with zeros
            start_balance.unshift(rawReport.start_balance);
            let end_balance = Array(rawReport.data[0]['timegrid'].length).fill(0); // fill timegrid with zeros

            for (let i = 0; i < rawReport.data[0]['timegrid'].length; i++){
                end_balance[i] = Number((start_balance[i] + move[i]).toFixed(2))
                if (i !== rawReport.data[0]['timegrid'].length - 1){
                    start_balance[i + 1] = end_balance[i]
                }
            }
            reportRawCopyData.unshift({
                    'indent' : 0,
                    'added' : 'Итого движения',
                    'timegrid' : move,
                });
            reportRawCopyData.unshift({
                    'indent' : false,
                    'added' : 'Конечный остаток',
                    'timegrid' : end_balance,
                });
            reportRawCopyData.push({
                    'indent' : false,
                    'added' : 'Начальный остаток',
                    'timegrid' : start_balance,
                });
            return reportRawCopyData
        },
        grouper: function(reportRawCopyData, levels, length){
            let param = levels[0];
            if (param !== undefined) {
                let new_data = [];

                // loop data
                let state = reportRawCopyData[0][param]; // use state of the first element
                let gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0); // fill timegrid with zeros
                let datasum = [];

                for (var i = 0; i < reportRawCopyData.length; i++) {
                    if (reportRawCopyData[i][param] === state && i === (reportRawCopyData.length - 1)) {
                        gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                        datasum.push(reportRawCopyData[i]);
                    }

                    //if state has changed OR we are in the end of array
                    if (reportRawCopyData[i][param] !== state || i === (reportRawCopyData.length - 1)) {

                        let new_levels = levels.slice();
                        new_levels.shift();
                        datasum = this.grouper(datasum, new_levels, length);

                        let added;
                        if (param === 'transaction_type'){
                            if (state === 0){added = 'Расход'} else{ added = 'Доход'}
                        } else{
                            added = state
                        }
                        let obj = {
                                'indent': length - levels.length,
                                'added': added,
                                'timegrid': gridsum
                            };

                        new_data.push(obj);
                        new_data = new_data.concat(datasum);

                        gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0);
                        datasum = []
                    }

                    //if state has changed AND we are in the end of array
                    if (reportRawCopyData[i][param] !== state && i === (reportRawCopyData.length - 1)) {
                        gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                        datasum.push(reportRawCopyData[i]);
                        state = reportRawCopyData[i][param];

                        let new_levels = levels.slice();
                        new_levels.shift();
                        datasum = this.grouper(datasum, new_levels, length);

                        let added;
                        if (param === 'transaction_type'){
                            if (state === 0){added = 'Расход'} else{ added = 'Доход'}
                        } else{
                            added = state
                        }
                        let obj = {
                                'indent': length - levels.length,
                                'added': added,
                                'timegrid': gridsum
                            };

                        new_data.push(obj);
                        new_data = new_data.concat(datasum);

                        gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0);
                        datasum = []

                    }
                    gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                    datasum.push(reportRawCopyData[i]);
                    state = reportRawCopyData[i][param];
                }
                reportRawCopyData = new_data
            }
            return reportRawCopyData
        },
        arraySum: function (array1, array2, type){
            var result = [];
            var ctr = 0;
            var x=0;

            if (array1.length === 0)
            return "array1 is empty";
            if (array2.length === 0)
            return "array2 is empty";

            if (type){
                while (ctr < array1.length && ctr < array2.length) {
                    // console.log((array1[ctr] + array2[ctr]))
                    result.push(Number((array1[ctr] + array2[ctr]).toFixed(2)));
                    ctr++;
                }
                if (ctr === array1.length) {
                    for (x = ctr; x < array2.length; x++)   {
                      result.push(array2[x]);
                    }
                }
                else {
                    for (x = ctr; x < array1.length; x++)
                        {
                          result.push(array1[x]);
                    }
                }
                return result;

            } else {
                while (ctr < array1.length && ctr < array2.length) {
                    // console.log((array1[ctr] - array2[ctr]))
                    result.push(Number((array1[ctr] - array2[ctr]).toFixed(2)));
                    ctr++;
                }
                if (ctr === array1.length) {
                    for (x = ctr; x < array2.length; x++)   {
                      result.push(array2[x] * -1 );
                    }
                }
                else {
                    for (x = ctr; x < array1.length; x++)
                        {
                          result.push(array1[x] * -1 );
                    }
                }
                return result;
            }
        },
        colorize: function (item) {
            if (item.indent === false){
                return  'normal  align-middle tablerow-f-c tablerow-f-p'
            }
            if (item.indent === 0) {
                return 'normal  align-middle tablerow-0-c tablerow-0-p'
            }
            else if (item.indent === 1){
                if(this.groupSelected !== this.groupVerbose.length -1 ){
                    return  'normal  align-middle tablerow-1-c tablerow-1-p'
                } else{
                    return  'normal  align-middle tablerow-4-c tablerow-1-p'
                }
            }
            else if (item.indent === 2){
                if(this.groupSelected !== 1){
                    return  'normal  align-middle tablerow-2-c tablerow-2-p'
                } else{
                    return  'normal  align-middle tablerow-4-c tablerow-2-p'
                }
            }
            else if  (item.indent === 3){
                return  'normal  align-middle tablerow-3-c tablerow-3-p'
            }
            else {
                return  'normal  align-middle tablerow-4-c tablerow-4-p'
            }
        },
    },
})


</script>
{% endblock %}
