{% extends 'base_app.html' %}
{% load static %}


{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Отчеты
        </h1>
    </div>



{% endblock %}

{% block content %}

<div class="block-section-3">
    <div class="row mb-5 mt-3">
        <div class="col-4">
            <h2>Классические отчеты</h2>
        </div>
        <div class="col-4">
            <h2>Эффективность</h2>
        </div>
        <div class="col-4">
            <h2>Сотрудники</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p><a href="{% url 'app_reports:pl' %}">Отчет о прибыли и убытках (P&L)</a></p><hr>
            <p><a href="{% url 'app_reports:cashflow' %}">Отчет о ДДС (Cashflow)</a><br></p>
        </div>

        <div class="col-4">
            <p><a href="{% url 'app_reports:subcontractors' %}">Отчет по контрагентам</a></p><hr>
            <p><a href="{% url 'app_reports:brands' %}">Отчет по брендам</a></p>
        </div>

        <div class="col-4">
            <p><a href="{% url 'app_reports:index' %}">ФОТ</a></p><hr>
            <p><a href="{% url 'app_reports:index' %}">Обороты</a></p><hr>
            <p><a href="{% url 'app_reports:index' %}">Часы</a></p>
        </div>
    </div>
</div>

{% endblock %}
