<form method="post" action="{% url 'app_setup:user_delete' usr.pk %}" class="js-user-delete-form"
onsubmit="addspinner(this)"
id="userInviteForm"
>
  {% csrf_token %}

<div class="modal-header">
        <h4 >
            Удаление пользователя
        </h4>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
        </button>
</div>

          <div class="modal-body">
            <p class="lead">Вы уверены, что хотите удалить пользоватлея <strong>{{ usr.user_id }}</strong>?</p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">Удалить</button>
        </div>


</form>
