{% load widget_tweaks %}


<form method="post" action="{% url 'app_setup:user_create' %}" class="js-user-create-form"
onsubmit="addspinner(this)"
id="userInviteForm"
>
    {% csrf_token %}

    <div class="modal-header">
            <h4 >
                Добавление контрагента
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">
        {% include 'app_setup/users/partial_user_form.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">Создать</button>
    </div>


</form>





