
{% for user in users_list %}

    <div class="row mt-3 mb-3  mr-1 px-4 py-4 border border-1">
        <div class="col-4 d-flex flex-column justify-content-between">
            <div class="d-flex justify-content-between">

                <div>
                    <h5 style="white-space: nowrap">{{ user.first_name }} {{ user.last_name }}
                        <br>
                        {% if user.is_joined %}
                            <span class="badge badge-success">
                                <span>Подключен </span>
                            </span>
                        {% else %}
                            <form method="post"   id="sendagain" action="{% url 'app_setup:user_resend' user.id %}">
                                {% csrf_token %}
                                <span class="badge badge-warning">
                                    <span>Не подключен </span>
                                </span>
                                <button type="submit" class="js-resend-user btn btn-link btn-sm" >Выслать повторно</button>
                            </form>
                        {% endif%}
                    </h5>
                </div>
                <div >
                    <small class="d-flex flex-column align-items-end">
                        <span class=" font-weight-lighter">{{ user.email }}</span>
                         <span class="font-weight-lighter">{{ user.unit| default_if_none:wording.none_unit }}</span>
                    </small>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <small class="font-weight-lighter text-black-50 ">Приглашен {{ user.invited_at.date }}</small>

                <button type="button"
                    class="js-delete-user btn btn-sm btn-outline-secondary border-0 align-self-start"
                    data-url="{% url 'app_setup:user_delete' user.id %}">
                     <i class="fas fa-trash mr-2"></i> Удалить из компании
                </button>
            </div>
        </div>





        <div class="col-4">
            <h5>Права
                <button type="button"
                    class="js-update-user btn btn-sm btn-link"
                      data-url="{% url 'app_setup:user_update' user.id %}">
                    Изменить<i class="far fa-pencil ml-2"></i>
                </button>
            </h5>
            <small style="line-height: 2;">

                <table class=" w-100">
                    <tr>
                        <td style="width:230px;">Раздел Dashboard</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_app_dashboard_display }}</td>
                    </tr>
                    <tr>
                        <td>Раздел Документы</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_app_docs_display }}</td>
                    </tr>
                    <tr>
                        <td>Раздел Настройки</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_app_setup_display }}</td>
                    </tr>
                    <tr>
                        <td>Раздел Проекты и транзакции</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_app_project_display }}</td>
                    </tr>

                </table>
            </small>

        </div>
        <div class="col-4 " >

            <small style="line-height: 2;">
                <table class="w-100" style="margin-top: 40px !important;">
                    <tr>
                        <td>Раздел Отчеты</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_app_reports_display }}</td>
                    </tr>
                    <tr>
                        <td>Раздел Пользователи</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_users_display }}</td>
                    </tr>
                    <tr>
                        <td>Может блокировать проекты</td>
                        <td class="text-right font-weight-bold">{{ user.get_access_can_block_display }}</td>
                    </tr>
                </table>
            </small>
        </div>
        <hr/>
    </div>

{% endfor %}



