<template>
    <div class="w-100">
        <h2 v-if="instancesIncome.length !== 0">{{wording.header.income}}</h2>
        <div
                class="row border border-1 mb-3 mr-1 py-3 px-3"
                v-for="item in instancesIncome"
                v-bind:key="item.id"
            >
                <div class="col-9  d-flex  align-items-center ">
                    <span class="font-weight-bold">{{item.name}} </span>

                </div>
                <div class="col-3 d-flex justify-content-end">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 ml-3"
                            v-on:click="$emit('update-instance', item.id)"
                        >
                            <i class="far fa-pencil"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 "
                            v-on:click="$emit('delete-instance', item.id)"
                            v-if="item.is_deletable"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                </div>
        </div>
        <h2 v-if="instancesOutcome.length !== 0">{{wording.header.outcome}}</h2>
        <div
                class="row border border-1 mb-3 mr-1 py-3 px-3"
                v-for="item in instancesOutcome"
                v-bind:key="item.id"
            >
                <div class="col-9  d-flex  align-items-center ">
                    <span class="font-weight-bold">{{item.name}} </span>

                </div>
                <div class="col-3 d-flex justify-content-end">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 ml-3"
                            v-on:click="$emit('update-instance', item.id)"
                        >
                            <i class="far fa-pencil"></i>
                        </button>
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-primary border-0 "
                            v-on:click="$emit('delete-instance', item.id)"
                            v-if="item.is_deletable"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'searchQuery',
        'wording',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instancesIncome:[],
            instancesOutcome:[],
            url:"/setup/api/paypurposes/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: 1000, // switched pagination off
                    page: this.paginator.activePage,
                    searchquery: this.searchQuery,
                }
            })
            .then(response => {
                this.instancesIncome = []
                this.instancesOutcome = []
                for (const purpose of response.data.list){

                    if (purpose.type === true) {
                        this.instancesIncome.push(purpose)
                    }  else if (purpose.type === false) {
                        this.instancesOutcome.push(purpose)
                    }
                }

                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        },
        searchQuery: _.debounce(function(newValue){
            this.getInstanceAll()
        },500)
    },
}
</script>

