{% extends 'base_app.html' %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Dashboard
        </h1>
    </div>



{% endblock %}


{% block content %}


<div class="block-section">
    <h2>Добро пожаловать в компанию {{company}}. </h2>
</div>
{% endblock %}



