<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header.list}}
                </h1>
                <button  type="submit" class=" btn btn-primary pr-3 pl-3 pt-2 pb-2 ml-3"  v-on:click="createInstance">
                    <i class="fas fa-plus"></i>
                </button>
                <button  type="submit" class="btn btn-outline-primary  pr-3 pl-3 pt-2 pb-2 ml-2" v-on:click="showHistory">
                    <i class="far fa-hourglass-start"></i>
                </button>
                <button  v-on:click="settings" ty type="submit" class="btn btn-outline-primary pr-3 pl-3 pt-2 pb-2 ml-3" >
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <div style="white-space: nowrap;">

                <button  v-on:click.prevent="cleanFilter" type="submit" class="btn btn-outline-secondary  pr-3 pl-3 pt-2 pb-2" id="clear_button">
                    <i class="far fa-times"></i>
                </button>
                <button v-on:click.prevent="updateList"  type="submit"  class="btn btn-secondary  pr-3 pl-3 pt-2 pb-2 ml-3" id="filter_button" >
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </section>




        <section class="content-area">

            <!--Preloader-->
            <v-preloader :page-loading="pageLoading"></v-preloader>
            <!--End-->

            <!--Messages-->
                <v-messages ref="messages"></v-messages>
            <!--End-->

            <!--List-->
            <div class="block-section">
                <table class="table table-striped table-hover" id="docs_list">
                <thead>
                    <tr >
                        <th class="width-5 list" v-if="colParam.type">{{wording.fields.type }}</th>
                        <th class="width-3 list" v-if="colParam.full_name">{{wording.fields.name }}</th>
                        <th class="width-4 list" v-if="colParam.signed_at">{{wording.fields.signed_at }}</th>
                        <th class="width-8-1 list" v-if="colParam.status">{{wording.fields.status }}</th>
                        <th class="width-4 list" v-if="colParam.status_date">{{wording.fields.date_status_change }}</th>
                        <th class="width-10 list" v-if="colParam.agreement">{{wording.fields.agreement }}</th>
                        <th class="width-6 list" v-if="colParam.subcontractor">{{wording.fields.subcontractor }}</th>
                        <th class="width-5 list" v-if="colParam.mycompany">{{wording.fields.mycompany }}</th>
                        <th class="width-4 list" v-if="colParam.covered_period_from">{{wording.fields.covered_period_from }}</th>
                        <th class="width-4 list" v-if="colParam.covered_period_till">{{wording.fields.covered_period_till }}</th>
                        <th class="width-9 list" v-if="colParam.project">{{wording.fields.project }}</th>
                        <th class="width-4 list" v-if="colParam.transaction">{{wording.fields.transaction }}</th>
                        <th class="width-4 list" v-if="colParam.report">{{wording.fields.report }}</th>
                        <th class="width-4 list" v-if="colParam.has_attachment">{{wording.fields.files_attached }}</th>
                        <th class="width-4 list" v-if="colParam.has_scan">{{wording.fields.has_scan }}</th>
                        <th class="width-4 list" v-if="colParam.has_src">{{wording.fields.has_src }}</th>
                    </tr>
                    <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>
                </thead>

                <tbody
                        is="v-list"
                        ref="list"
                        :paginator.sync="paginator"
                        :filter-param.sync="filterParam"
                        v-on:isready="isReadyList = true"
                        v-on:isloaded="pageLoading = false"
                        v-on:isloading="pageLoading = true"
                        v-on:update-instance="updateInstance"
                        v-on:delete-instance="deleteInstance"
                        v-on:send-message="sendMessage"
                ></tbody>


            </table>
            </div>
            <!--End-->


            <!--Pagination-->
            <div id="pagination" class="block-section">
                <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
            </div>
            <!--End-->

            <!--Modals-->
                    <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-create-instance>
                    <v-update-instance ref="updateInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-update-instance>
                    <v-delete-instance ref="deleteInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-delete-instance>
                    <v-history ref="history" :wording="wording"></v-history>
                    <v-settings :wording="wording" ref="settings" v-on:send-message="sendMessage"></v-settings>

            <!--End-->




        </section>
    </div>

</template>

<script>

import Wording from '@/components/accountings/wording.json'

import Preloader from '@/components/global/Preloader.vue'
import Paginator from '@/components/global/Paginator.vue'
import Messages from '@/components/global/Messages.vue'


import List from '@/components/accountings/List.vue'
import Filter from '@/components/accountings/Filter.vue'
import CreateInstance from '@/components/accountings/CreateInstance.vue'
import UpdateInstance from '@/components/accountings/UpdateInstance.vue'
import DeleteInstance from '@/components/accountings/DeleteInstance.vue'
import History from '@/components/accountings/History.vue'
import Settings from '@/components/accountings/Settings.vue'



export default {
    name: 'Accountings',
    components: {
        'v-preloader': Preloader,
        'v-paginator': Paginator,
        'v-list': List,
        'v-filter': Filter,
        'v-create-instance': CreateInstance,
        'v-update-instance': UpdateInstance,
        'v-delete-instance': DeleteInstance,
        'v-history': History,
        'v-messages': Messages,
        'v-settings': Settings,

    },
    data(){
        return{
            filterParam:{},
            paginator: {},
            isReadyList: false,
            pageLoading: true,
        }
    },
    mounted(){},
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        },
        colParam(){
            return this.$store.state.interfaceAccountingsInitSetColumn
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateList:  _.debounce(function(){
            this.$refs.list.getInstanceAll();
        }),
        cleanFilter(){
            this.$refs.filter.clean();
            this.updateList()
        },
        createInstanceChild(el){
            this.$refs.createInstanceChild.show(el);
        },
        createInstance(){
            this.$refs.createInstance.show();
        },
        updateInstance(el){
            this.$refs.updateInstance.show(el);
        },
        deleteInstance(el){
            this.$refs.deleteInstance.show(el);
        },
        showHistory(){
            this.$refs.history.show();
        },
        settings(){
            this.$refs.settings.show();
        },
    },
    watch:{
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




