<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header}}
                </h1>
            </div>
        </section>

        <section class="content-area">
            <div class="block-section-3">
                <div class="row">
                    <div class="col-4">
                        <p><router-link :to="{ name: 'Agreements'}"><a> {{wording.menu.agreements}}</a></router-link></p><hr>
                        <p><router-link :to="{ name: 'Accountings'}"><a> {{wording.menu.accountings}}</a></router-link><br></p>
                    </div>

                </div>
            </div>
        </section>
    </div>

</template>

<script>

import Wording from './wording.json'


export default {
    name: 'Documents',
    components: {
    },
    data(){
        return{
        }
    },
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },

}
</script>




