{% load widget_tweaks %}




    <div class="modal-header">
            <h4 >
                Подсказка
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times-circle close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body-3">
        {{text}}
    </div>

    <div class="modal-footer">
        <button type="button" class="button-outline" data-dismiss="modal">Понял</button>
    </div>







