{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate"/>
        <title>FinS | Financial CRM</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_signup.css' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>

    <body>
        <div class="container">
            <a href="{% url 'app_about:index' %}"><img width='140' class="mt-4" src="{% static 'img/finslogo.svg' %}"></a>

            <h2 style="margin-top: 70px; margin-bottom: 50px;">Присоединиться к FinS</h2>
            <div class="row " style="margin-bottom: 100px;" id="app">
                <div class="col-12 ">
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <span>{{ message }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        {{ user_form.non_field_errors }}

                        {% for hidden_field in user_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                        {% endfor %}

                        {% for field in user_form.visible_fields %}
                        {{ field.label_tag}}
                        {% render_field field  class="form-control mb-3" %}
                        {{ field.errors}}
                        {% endfor %}


                        {{ account_form.non_field_errors }}

                        {% for hidden_field in account_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                        {% endfor %}

                        {% for field in account_form.visible_fields %}
                        {{ field.label_tag }}
                        {% render_field field  class="form-control mb-3" %}
                        {{ field.errors }}
                        {% endfor %}

                        <button class="btn btn-lg mt-5 btn-primary btn-block" :disabled="isDisabled" type="submit" id="signup" v-on:click="onClick">
                            <span v-if="!isDisabled">Зарегистрироваться</span>
                            <div v-else style="display: flex;justify-content: center;">
                                <div class="spinner-grow text-light" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Создаем аккаунт
                            </div>
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
              el: '#app',
              data: {
                isDisabled: false,
              },
                methods:{
                  onClick(){
                      // console.log('cliccccc')
                      //  this.isDisabled = true
                      setTimeout(()=>{
                          this.isDisabled = true
                      }, 500)

                  },
                },
            })
        </script>
    </body>
</html>










