
<thead>
    <tr>
        <td><b>Назначения дохода</b></td>
        <th class="last-col-width"></th>

    </tr>
</thead>
<tbody>
    {% for el in list %}
        {% if el.type == True %}

            <tr>
                <td>{{ el.name }}</td>
                <td>
                    <button type="button"
                      class="js-update-purpose btn btn-sm btn-link ml-3 "
                      data-url="{% url 'app_setup:purpose_update' el.id %}">
                    <i class="far fa-pencil"></i>
                    </button>

                    {% if el.is_deletable %}
                        <button type="button"
                          class="js-delete-purpose btn btn-sm btn-link px-0"
                          data-url="{% url 'app_setup:purpose_delete' el.id %}">
                        <i class="fas fa-trash"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</tbody>

<thead>

    <tr>
        <td><b>Назначения расхода</b></td>
        <th class="last-col-width"></th>

    </tr>
</thead>
<tbody>
{% for el in list %}
    {% if el.type == False %}

        <tr>
            <td>{{ el.name }}</td>
            <td>
                <button type="button"
                  class="js-update-purpose btn btn-sm btn-link ml-3 "
                  data-url="{% url 'app_setup:purpose_update' el.id %}">
                <i class="far fa-pencil"></i>
                </button>

                {% if el.is_deletable %}
                    <button type="button"
                      class="js-delete-purpose btn btn-sm btn-link px-0"
                      data-url="{% url 'app_setup:purpose_delete' el.id %}">
                    <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>