<template>
    <div class="border mx-1 px-5 py-5  h-100">
        <div class="d-flex justify-content-between align-items-start  mb-4">
            <h4>{{wording.header.list}}</h4>
            <button type="submit" class=" btn  btn-sm btn-primary" v-on:click="create">
                <i class="fal fa-plus"></i>
            </button>
        </div>
        <div v-for="item in instances">
            <div><hr></div>
            <div class="mt-5 mb-5">
                <div class="row">
                    <div class="col-12 d-flex flex-nowrap mb-4 justify-content-between">

                        <div class="d-flex flex-nowra">
                            <h2 class="mt-n1"><span>{{item.name}}</span></h2>
                                <div class="ml-3">
                                    <button type="button"
                                        class="btn btn-sm btn-link px-0"
                                        v-on:click="$emit('update-period', item.id)"
                                    >
                                    <i class="far fa-pencil"></i>
                                    </button>

                                    <button type="button"
                                        class="btn btn-sm btn-link px-0 ml-2"
                                        v-on:click="$emit('delete-period', item.id)"
                                    >
                                    <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                        </div>

                            <div>
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-secondary  ml-3"
                                            v-on:click="$emit('create-transaction-period', item.id)"
                                    >
                                        <i class="fal fa-plus"></i>
                                    </button>

                                    <button type="submit"
                                            class=" btn btn-sm btn-outline-secondary  ml-1"
                                            v-on:click="$emit('create-report', item.id)"
                                    >
                                        <i class="fal fa-file"></i>
                                    </button>
                            </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table  class="table table-hover" >
                            <thead>
                                <v-transaction-header-names></v-transaction-header-names>
                            </thead>

                            <tbody
                                is="v-transactions-list"
                                ref="transactionsList"
                                v-on:update-instance="updateTransaction"
                                v-on:delete-instance="deleteTransaction"
                                :edited-in-period-id="item.id"
                            ></tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <div class="col-12" style="white-space: nowrap;">
                        <v-reports-show
                                :wording="wordingReports"
                                :id=item.id ref="showReports"
                                v-on:update-report="updateReport"
                                v-on:delete-report="deleteReport"
                        ></v-reports-show>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'

import ShowReports from '@/components/projects/project/periods/reports/ShowReports.vue'
import TransactionHeaderNames from '@/components/transactions/HeaderNames.vue'
import TransactionList from '@/components/transactions/List.vue'


export default {
    props: [ 'projectid', 'wording', 'wordingReports'],
    components: {
        'v-reports-show': ShowReports,
        'v-transaction-header-names': TransactionHeaderNames,
        'v-transactions-list': TransactionList,

    },
    data(){
        return{
            instances:{},
            url:"/projects/api/period_list/",
        }
    },
    mounted(){
        this.getInstanceAll()
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.projectid + '/',
            })
            .then(response => {
                this.instances = response.data;
                this.$emit('isloaded');
            })
        },
        create(){
            this.$emit('create-period')
        },
        updateReport(el){
            this.$emit('update-report', el)
        },
        deleteReport(el){
            this.$emit('delete-report', el)
        },
        updateReports(){
            this.$refs.showReports[0].getInstanceAll()
        },
        updateTransaction(el){
            this.$emit('update-transaction-period', el)
        },
        deleteTransaction(el){
            this.$emit('delete-transaction-period', el)
        },
        updateTransactions(){
            this.$refs.transactionsList[0].getInstanceAllPeriod()
        },
    },
}
</script>


