<template>
    <div>
        <router-view></router-view>
    </div>

</template>

<script>

export default {
    name: 'SetupRoot',
    components: {
    },
    data(){
        return{
        }
    },

}
</script>




