<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header}}
                </h1>
            </div>
        </section>


        <section class="content-area">
            <div class="block-section-3">
                <div class="row mb-5 mt-3">
                    <div class="col-4">
                        <h2>{{wording.subheader.transactions}}</h2>
                    </div>
                    <div class="col-4">
                        <h2>{{wording.subheader.projects}}</h2>
                    </div>
<!--                    <div class="col-4">-->
<!--                        <h2>Другие</h2>-->
<!--                    </div>-->
                </div>
                <div class="row">
                    <div class="col-4">
                        <p><router-link :to="{ name: 'SetupSubcontractorType'}">{{wording.menu.subcontractor_types}}</router-link><hr>
                        <p><router-link :to="{ name: 'SetupUnits'}">{{wording.menu.units}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupPayPurposes'}">{{wording.menu.pay_purposes}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupCurrency'}">{{wording.menu.currencies}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupAccounts'}">{{wording.menu.accounts}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupLF'}">{{wording.menu.legals}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupTaxeTypes'}">{{wording.menu.taxe_types}}</router-link></p>
                    </div>

                    <div class="col-4">
                        <p><router-link :to="{ name: 'SetupProjectCategories'}">{{wording.menu.project_categories}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupProjectSubategories'}">{{wording.menu.project_subcategories}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupBrands'}">{{wording.menu.brands}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupNBSources'}">{{wording.menu.nbformats}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupNBFormats'}">{{wording.menu.nbsources}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupProductsCategories'}">{{wording.menu.product_categories}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'SetupProducts'}">{{wording.menu.products}}</router-link></p>
                    </div>

<!--                    <div class="col-4">-->
<!--                        <p>Шаблоны документов</p><hr>-->
<!--                        <p>Сбросить пароль</p><hr>-->
<!--                        <p>Скачать все документы одним архивом</p>-->
<!--                    <div class="col-4">-->
                </div>
            </div>
        </section>
    </div>

</template>

<script>

import Wording from './wording.json'

export default {
    name: 'Setup',
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
}
</script>




