<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                         {{wording.header.update}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-4">Общая информация</h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">Короткое название</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">Тип контрагента</label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.type" v-if="extra" required>
                                        <option v-for="item in extra.subcontractor_type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>

                                </div>
                                <div class="col-4">
                                    <label class="label1">Система налогооблажения</label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.taxe_type" v-if="extra" required>
                                        <option v-for="item in extra.subcontractor_taxe_type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>

                                <div  class="col-4">
                                    <label class="label1">ОПФ</label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.legal_form" v-if="extra" required>
                                        <option v-for="item in extra.subcontractor_lf" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="label1">Pay delay</label>
                                    <input type="number" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.pay_delay" required>
                                </div>
                                <div class="col-6">
                                    <label class="label1">Комментарии</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.comment">
                                </div>

                                <div class="col-3 " style="display:flex; align-items: flex-end; margin-bottom: 10px;">
                                    <div class="custom-control custom-switch" >
                                      <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="instance.is_my_company">
                                      <label class="custom-control-label" for="customSwitch1">Моя компания</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-4">Контактное лицо</h5>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div  class="col-6">
                                    <label class="label1">ФИО</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_name">
                                </div>
                                <div  class="col-3">
                                    <label class="label1">Телефон</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_tel">
                                </div>
                                <div  class="col-3">
                                    <label class="label1">Электронная почта</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_email">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">Сайт</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.site">
                                </div>
                                <div class="col-4">
                                    <label class="label1">Название мессенджера</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_messenger_name">
                                </div>
                                <div class="col-4">
                                    <label class="label1">ID мессенджера</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_messenger_id">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">Соц.сеть</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_social_net">

                                </div>
                                <div class="col-4">
                                    <label class="label1">Ссылка на соц.сеть</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.contact_social_link">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-4">Директор</h5>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">Имя</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.director_firstname">
                                </div>
                                <div class="col-4">
                                    <label class="label1">Фамилия</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.director_secondname">
                                </div>
                                <div class="col-4">
                                    <label class="label1">Отчество</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.director_fathername">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div  class="col-4">
                                    <label class="label1">Телефон</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.director_tel">
                                </div>


                                <div  class="col-4">
                                    <label class="label1">Адрес электронной почты</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.director_email">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-4">Реквизиты компании</h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">Полное название</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_full_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="label1">Юридический адрес</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_official_address">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">Фактический адрес</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_real_address">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label class="label1">ИНН</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_inn">
                                </div>
                                <div class="col-6">
                                    <label class="label1">КРР</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_kpp">
                                </div>
                            </div>
                            <div class="row mt-2">

                                    <div class="col-4">
                                        <label class="label1">ОКПО</label>
                                        <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_okpo">
                                    </div>
                                    <div class="col-4">
                                        <label class="label1">ОКВЭД</label>
                                        <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_okdev">
                                    </div>
                                    <div class="col-4">
                                        <label class="label1">ОГРН</label>
                                        <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_ogrn">
                                    </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-4">Банковские реквизиты</h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="label1">Название банка</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_name">
                                </div>
                                <div class="col-4">
                                    <label class="label1">БИК</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_bik">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">Адрес банка</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_address">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">Расчетный счет</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_pay_acc">
                                </div>
                                <div class="col-4">
                                    <label class="label1">Корреспондентский счет</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_cor_acc">
                                </div>
                                <div class="col-4">
                                    <label class="label1">Номер карты</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.requisites_bank_card_number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"
                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.update}}</button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            urlExtra:"/setup/api/subcontractors/extra/",
            urlList:"/setup/api/subcontractors/",
            showModal: false,
            message: {},
            submitDisabled: false,

        }
    },
    methods:{
        show(el){
            this.instance  = {};
            this.instance = {
                "id": el,
            };
            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            this.submitDisabled = true;
            axios({
                method: 'put',
                url: this.urlList + this.instance.id + "/",
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()
            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
  @import "@/scss/uploadfiles.scss";
</style>