.table table {
  border-collapse: collapse;
}

.table table, th, td {
border: 1px solid black;
}

.table th {
min-width: 100px;
max-width: 300px;
/*white-space: nowrap;*/
}
.table td {
vertical-align: top;
white-space: nowrap;
}

.table tr {
   height: 10px;
    line-height: 10px;
}
.table  tbody tr:hover {background-color: darkgray;}

.soon {
    background-color: rgba(243, 199, 110, 1.0);
}

.debt {
    background-color: rgba(237, 143, 166, 1.0);
}
.topay {
    background-color: rgba(255, 255, 255, 1.0);
}
.payed {
    background-color: rgba(120, 191, 184, 1.0);
}
.bold {
    font-weight: 600;
}
.light {
    color: gray;
}
.table2 {
    margin-left: 30px;
}