{% load widget_tweaks %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}




            {{ form.non_field_errors }}
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="mb-4">Общая информация</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    {{ form.name.label_tag }}
                    {{ form.name.errors }}
                    {{ form.name }}
                    {{ form.name.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.type.label_tag }}
                    {{ form.type.errors }}
                    {{ form.type }}
                    {{ form.type.help_text }}
                </div>
                <div class="col-4">
                    {{ form.taxe_type.label_tag }}
                    {{ form.taxe_type.errors }}
                    {{ form.taxe_type }}
                    {{ form.taxe_type.help_text }}
                </div>

                <div  class="col-4">
                    {{ form.legal_form.label_tag }}
                    {{ form.legal_form.errors }}
                    {{ form.legal_form }}
                    {{ form.legal_form.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    {{ form.pay_delay.label_tag }}
                    {{ form.pay_delay.errors }}
                    {{ form.pay_delay }}
                    {{ form.pay_delay.help_text }}
                </div>
                <div class="col-3">
                    {{ form.is_my_company.label_tag }}
                    {{ form.is_my_company.errors }}
                    {{ form.is_my_company }}
                    {{ form.is_my_company.help_text }}
                </div>
                <div class="col-6">
                    {{ form.comment.label_tag }}
                    {{ form.comment.errors }}
                    {{ form.comment }}
                    {{ form.comment.help_text }}
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="mb-4">Контактное лицо</h5>
                </div>
            </div>

            <div class="row mt-2">
                <div  class="col-6">
                    {{ form.contact_name.label_tag }}
                    {{ form.contact_name.errors }}
                    {{ form.contact_name }}
                    {{ form.contact_name.help_text }}
                </div>
                <div  class="col-3">
                    {{ form.contact_tel.label_tag }}
                    {{ form.contact_tel.errors }}
                    {{ form.contact_tel }}
                    {{ form.contact_tel.help_text }}
                </div>
                <div  class="col-3">
                    {{ form.contact_email.label_tag }}
                    {{ form.contact_email.errors }}
                    {{ form.contact_email }}
                    {{ form.contact_email.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.site.label_tag }}
                    {{ form.site.errors }}
                    {{ form.site }}
                    {{ form.site.help_text }}
                </div>
                <div class="col-4">
                    {{ form.contact_messenger_name.label_tag }}
                    {{ form.contact_messenger_name.errors }}
                    {{ form.contact_messenger_name }}
                    {{ form.contact_messenger_name.help_text }}
                </div>
                <div class="col-4">
                    {{ form.contact_messenger_id.label_tag }}
                    {{ form.contact_messenger_id.errors }}
                    {{ form.contact_messenger_id }}
                    {{ form.contact_messenger_id.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.contact_social_net.label_tag }}
                    {{ form.contact_social_net.errors }}
                    {{ form.contact_social_net }}
                    {{ form.contact_social_net.help_text }}
                </div>
                <div class="col-4">
                    {{ form.contact_social_link.label_tag }}
                    {{ form.contact_social_link.errors }}
                    {{ form.contact_social_link }}
                    {{ form.contact_social_link.help_text }}
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="mb-4">Директор</h5>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-4">
                    {{ form.director_firstname.label_tag }}
                    {{ form.director_firstname.errors }}
                    {{ form.director_firstname }}
                    {{ form.director_firstname.help_text }}
                </div>
                <div class="col-4">
                    {{ form.director_secondname.label_tag }}
                    {{ form.director_secondname.errors }}
                    {{ form.director_secondname }}
                    {{ form.director_secondname.help_text }}
                </div>
                <div class="col-4">
                    {{ form.director_fathername.label_tag }}
                    {{ form.director_fathername.errors }}
                    {{ form.director_fathername }}
                    {{ form.director_fathername.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div  class="col-4">
                    {{ form.director_tel.label_tag }}
                    {{ form.director_tel.errors }}
                    {{ form.director_tel }}
                    {{ form.director_tel.help_text }}
                </div>


                <div  class="col-4">
                    {{ form.director_email.label_tag }}
                    {{ form.director_email.errors }}
                    {{ form.director_email }}
                    {{ form.director_email.help_text }}
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="mb-4">Реквизиты компании</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    {{ form.requisites_full_name.label_tag }}
                    {{ form.requisites_full_name.errors }}
                    {{ form.requisites_full_name }}
                    {{ form.requisites_full_name.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.requisites_official_address.label_tag }}
                    {{ form.requisites_official_address.errors }}
                    {{ form.requisites_official_address }}
                    {{ form.requisites_official_address.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    {{ form.requisites_real_address.label_tag }}
                    {{ form.requisites_real_address.errors }}
                    {{ form.requisites_real_address }}
                    {{ form.requisites_real_address.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    {{ form.requisites_inn.label_tag }}
                    {{ form.requisites_inn.errors }}
                    {{ form.requisites_inn }}
                    {{ form.requisites_inn.help_text }}
                </div>
                <div class="col-6">
                    {{ form.requisites_kpp.label_tag }}
                    {{ form.requisites_kpp.errors }}
                    {{ form.requisites_kpp }}
                    {{ form.requisites_kpp.help_text }}
                </div>
            </div>
            <div class="row mt-2">

                    <div class="col-4">
                        {{ form.requisites_okpo.label_tag }}
                        {{ form.requisites_okpo.errors }}
                        {{ form.requisites_okpo }}
                        {{ form.requisites_okpo.help_text }}
                    </div>
                    <div class="col-4">
                        {{ form.requisites_okdev.label_tag }}
                        {{ form.requisites_okdev.errors }}
                        {{ form.requisites_okdev }}
                        {{ form.requisites_okdev.help_text }}
                    </div>
                    <div class="col-4">
                        {{ form.requisites_ogrn.label_tag }}
                        {{ form.requisites_ogrn.errors }}
                        {{ form.requisites_ogrn }}
                        {{ form.requisites_ogrn.help_text }}
                    </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="mb-4">Банковские реквизиты</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-8">
                    {{ form.requisites_bank_name.label_tag }}
                    {{ form.requisites_bank_name.errors }}
                    {{ form.requisites_bank_name }}
                    {{ form.requisites_bank_name.help_text }}
                </div>
                <div class="col-4">
                    {{ form.requisites_bank_bik.label_tag }}
                    {{ form.requisites_bank_bik.errors }}
                    {{ form.requisites_bank_bik }}
                    {{ form.requisites_bank_bik.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    {{ form.requisites_bank_address.label_tag }}
                    {{ form.requisites_bank_address.errors }}
                    {{ form.requisites_bank_address }}
                    {{ form.requisites_bank_address.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.requisites_bank_pay_acc.label_tag }}
                    {{ form.requisites_bank_pay_acc.errors }}
                    {{ form.requisites_bank_pay_acc }}
                    {{ form.requisites_bank_pay_acc.help_text }}
                </div>
                <div class="col-4">
                    {{ form.requisites_bank_cor_acc.label_tag }}
                    {{ form.requisites_bank_cor_acc.errors }}
                    {{ form.requisites_bank_cor_acc }}
                    {{ form.requisites_bank_cor_acc.help_text }}
                </div>
                <div class="col-4">
                    {{ form.requisites_bank_card_number.label_tag }}
                    {{ form.requisites_bank_card_number.errors }}
                    {{ form.requisites_bank_card_number }}
                    {{ form.requisites_bank_card_number.help_text }}
                </div>
            </div>


