<template>
    <nav class="main-menu">
        <div class="menu-group">
            <router-link :to="{ name: 'Home'}"><a href="#">   <img src="@/assets/img/finslogo_w.svg" style="width:130px; margin: 30px 20px 80px 20px;" alt="Fins"></a></router-link>

<!--            <router-link :to="{ name: 'Dashboard'}"><a class="menu-item" href="#">{{wording.dashboard}}</a></router-link>-->
            <router-link :to="{ name: 'Projects'}"><a class="menu-item"  href="#">{{wording.projects}}</a></router-link>
            <router-link :to="{ name: 'Transactions'}"><a class="menu-item" href="#">{{wording.transactions}}</a></router-link>
            <router-link :to="{ name: 'Documents'}"><a class="menu-item"  href="#">{{wording.docs}}</a></router-link>
            <router-link :to="{ name: 'Reports'}"><a class="menu-item"  href="#">{{wording.reports}}</a></router-link>
        </div>
        <div class="menu-group" style="height: 360px;  border-top: 1px solid rgba( 255, 255, 255, 0.2); padding-top: 40px; padding-bottom: 20px;
    ">
            <div class="lang-container">
                <span class="btn-lang"
                      v-bind:class="{ active: isRu }"
                      v-on:click="setLangActive('ru')"
                >РУ</span>
                <span class="btn-lang ml-2"
                      v-bind:class="{ active: isEn }"
                      v-on:click="setLangActive('en')"
                >EN</span>
            </div>

            <router-link :to="{ name: 'Subcontractors'}"><a class="menu-item"  href="#">{{wording.subcontractors}}</a></router-link>
            <router-link :to="{ name: 'Team'}"><a class="menu-item"  href="#">{{wording.team}}</a></router-link>
            <router-link :to="{ name: 'Setup'}"><a class="menu-item"  href="#">{{wording.settings}}</a></router-link>
            <router-link :to="{ name: 'Profile'}"><a class="menu-item"  href="#">{{wording.profile}}</a></router-link>
            <a class="menu-item"  href="/auth/logout/">{{wording.logout}}</a>
        </div>

    </nav>
</template>

<script>

import Wording from './wording_menu.json'
import axios from 'axios'
import cookies from "@/mixins/cookies";


export default {
    name: 'SideMenu',
    mixins: [cookies,],
    data(){
        return{
            isRu:false,
            isEn:false,
            urlMainUser:"/setup/api/profile/main/",
        }
    },
    created(){
        if(this.getCookie('lang')){
            this.setLangActive(this.getCookie('lang'))
        } else{

            axios({
                method: 'get',
                url: this.urlMainUser,
            })
            .then(response => {
                this.setLangActive(response.data.localization_display)
                })
            .catch(function (response) {
                console.log(response);
            });


        }
    },
    mounted(){
    },
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
    methods:{
        setLangActive(el){
            if (el === 'ru'){
                this.isRu = true
                this.isEn = false
                this.$store.commit('changelang', 'ru')
                this.setCookie('lang', 'ru')

            } else if (el === 'en'){
                this.isRu = false
                this.isEn = true
                this.$store.commit('changelang', 'en')
                this.setCookie('lang', 'en')

            }
        },


    },
}
</script>

<style lang="scss">

    @import "@/scss/_variables.scss";


    .main-menu {
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        width:200px;
        height: 100vh;
        overflow:hidden;
        z-index: 10;
        background-color: $main-color;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-group{
        display:flex;
        flex-direction: column;
        justify-content: start;
    }
    .menu-item{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 45px;
        padding: 0px 20px;

        flex-wrap: nowrap;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 300;
    }

    a.menu-item:hover{
        background-color: #130C3F;
        color: white;
    }

    a.menu-item.selected:hover{
        background-color: rgba( 255, 255, 255, 0.2);
        color: white;
    }

    .router-link-exact-active{
        background: rgba( 255, 255, 255, 0.2);
    }

    .lang-container{
        display: flex;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .btn-lang{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;

    }

    .btn-lang.active{
        border: 1px solid white;
    }

</style>