<template>
    <nav class="mb-5" v-if="this.paginator.pages !== 1">
          <ul class="pagination">

                <li
                        class="page-item"
                        v-for="el in paginator.pages"
                        :class="{ active:isActivePage(el) }"
                >
                    <button class="page-link shadow-none" v-on:click="paginationClick(el)">{{el}}</button>
                </li>
          </ul>
    </nav>
</template>

<script>
export default {
    data(){
        return{
            paginator: {
            },
            paginatorDefault: {
                paginationOffset: 10,
                activePage: 1,
                pages: 1,
            },
        }
    },
    created(){
        this.paginator = JSON.parse(JSON.stringify(this.paginatorDefault))
    },
    methods:{
        isActivePage: function (pageNum) {
            return this.paginator.activePage === pageNum
        },
        paginationClick: function (pageNum) {
            this.paginator.activePage = pageNum;
            this.$emit('update-list');
        },
    },
    watch:{
        paginator:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:paginator', newValue);
            },
        },
    },
}
</script>
