{% load widget_tweaks %}

<form method="post" action="{% url 'app_project:project_update' form.instance.pk %}"
      data-url-estimation="{% url 'app_project:project_update_estimation' form.instance.pk %}" class="js-project-update-estimation-form"
      id="project_est_form"
onsubmit="addspinner(this)">
    {% csrf_token %}


    <div class="modal-header">
            <h4 >
                {{wording.h1_update}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">
            <div class="row mt-2">
                <div class="col-3">
                    {{ form.estimate_probability.label_tag }}
                    {{ form.estimate_probability.errors }}
                    {{ form.estimate_probability }}
                    {{ form.estimate_probability.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3" style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_presale_start.label_tag }}
                    {{ form.estimate_presale_start.errors }}
                    {{ form.estimate_presale_start }}
                    {{ form.estimate_presale_start.help_text }}
                </div>
                <div class="col-3">
                    {{ form.estimate_presale_end.label_tag }}
                    {{ form.estimate_presale_end.errors }}
                    {{ form.estimate_presale_end }}
                    {{ form.estimate_presale_end.help_text }}
                </div>
                <div class="col-3">
                    {{ form.estimate_presale_outcome_ext.label_tag }}
                    {{ form.estimate_presale_outcome_ext.errors }}
                    {{ form.estimate_presale_outcome_ext }}
                    {{ form.estimate_presale_outcome_ext.help_text }}
                </div>
                <div class="col-3">
                    {{ form.estimate_presale_outcome_int.label_tag }}
                    {{ form.estimate_presale_outcome_int.errors }}
                    {{ form.estimate_presale_outcome_int }}
                    {{ form.estimate_presale_outcome_int.help_text }}
                </div>
            </div>
        <hr style="margin: 40px 0;">
            <div class="row mt-2">
                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_inprogress_start.label_tag }}
                    {{ form.estimate_inprogress_start.errors }}
                    {{ form.estimate_inprogress_start }}
                    {{ form.estimate_inprogress_start.help_text }}
                </div>
                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_inprogress_end.label_tag }}
                    {{ form.estimate_inprogress_end.errors }}
                    {{ form.estimate_inprogress_end }}
                    {{ form.estimate_inprogress_end.help_text }}
                </div>
                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_inprogress_income_before_taxes.label_tag }}
                    {{ form.estimate_inprogress_income_before_taxes.errors }}
                    {{ form.estimate_inprogress_income_before_taxes }}
                    {{ form.estimate_inprogress_income_before_taxes.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    {{ form.estimate_inprogress_gross_profitability_before_taxes.label_tag }}
                    {{ form.estimate_inprogress_gross_profitability_before_taxes.errors }}
                    {{ form.estimate_inprogress_gross_profitability_before_taxes }}
                    {{ form.estimate_inprogress_gross_profitability_before_taxes.help_text }}
                </div>
                <div class="col-3"  style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_inprogress_gross_profit_before_taxes.label_tag }}
                    {{ form.estimate_inprogress_gross_profit_before_taxes.errors }}
                    {{ form.estimate_inprogress_gross_profit_before_taxes }}
                    {{ form.estimate_inprogress_gross_profit_before_taxes.help_text }}
                </div>
                <div class="col-3">
                    {{ form.estimate_inprogress_project_profitability_before_taxes.label_tag }}
                    {{ form.estimate_inprogress_project_profitability_before_taxes.errors }}
                    {{ form.estimate_inprogress_project_profitability_before_taxes }}
                    {{ form.estimate_inprogress_project_profitability_before_taxes.help_text }}
                </div>
                <div class="col-3"  style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.estimate_inprogress_project_profit_before_taxes.label_tag }}
                    {{ form.estimate_inprogress_project_profit_before_taxes.errors }}
                    {{ form.estimate_inprogress_project_profit_before_taxes }}
                    {{ form.estimate_inprogress_project_profit_before_taxes.help_text }}
                </div>
            </div>

    </div>

    <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">{{wording.btn_save}}</button>
    </div>


</form>

