{% load widget_tweaks %}


<form method="post" enctype="multipart/form-data"
      action="{% url 'app_project:project_create' %}"
      data-sub-url="{% url 'app_project:ajax_load_subcat' %}"
      class="js-project-create-form" id="projectForm"
      onsubmit="addspinner(this)"
>
    {% csrf_token %}

    <div class="modal-header">
            <h4>
                {{wording.h1_create_p}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"> <i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">
        {% include 'app_project/partial_form.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        <button type="submit"  class="btn btn-success btn-lg pl-5 pr-5" >
            <span>{{wording.btn_create}}</span>
        </button>
    </div>



</form>



