

        <td class="normal align-middle">{{ el.get_type_display }}</td>
        <td class="normal align-middle">{{ el.get_status_display }}</td>
        <td class="normal align-middle">{{ el.get_doc_request_display }}</td>
        <td class="normal align-middle">{{ el.subcontractor }}</td>
        <td class="normal align-middle">{{ el.subcontractor.type }}</td>
        <td class="normal align-middle">{{ el.purpose }}</td>
        <td class="normal align-middle">{{ el.date | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.date_fact | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.date_doc | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.sum_before_taxes }}</td>
        <td class="normal align-middle">{{ el.sat }}</td>
        <td class="normal align-middle">{{ el.taxe }}</td>
        <td class="normal align-middle">{{ el.subcontractor.taxe_type }}</td>

        <td class="normal align-middle">{{ el.agreement_start_date }}</td>
        <td class="normal align-middle">{{ el.agreement_end_date }}</td>
        <td class="normal align-middle">{{ el.pay_delay }}</td>
        <td class="normal align-middle">{{ el.delayed }}</td>
        <td class="normal align-middle">{{ el.get_pay_model_display }}</td>
        <td class="normal align-middle">{{ el.act_date | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.comment | default:wording.empty_str|truncatechars:15}}</td>
        <td class="normal align-middle">{{ el.estimation_link | default:wording.empty_str|truncatechars:15 }}</td>
        <td class="normal align-middle">{{ el.unit }}</td>
        <td class="normal align-middle">{{ el.account }}</td>

        <td class="normal align-middle">{{ el.created_at }}</td>
        <td class="normal align-middle">{{ el.created_by | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.modified_at }}</td>
        <td class="normal align-middle">{{ el.modified_by | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.get_is_transfer_display }}</td>
        <td class="normal align-middle">{{ el.get_hidden_display }}</td>
        <td class="normal align-middle">{{ el.get_is_editable_display }}</td>


