
{% for el in period.transactions %}

    {% if el.status == 0 %}
        <tr class="topay">
    {% elif el.status == 1 %}
        <tr class="soon">
    {% elif el.status == 2 %}
        <tr class="debt">
    {% else %}
        <tr class="payed">
    {% endif%}

            <td class="normal name align-middle">
                <span class="mt-1">{{ el.name }}</span>


                {% if el.transaction_agreements.all or  el.transaction_ads.all%}

                    <button type="button"
                      class="js-docs-transaction"
                      data-url="{% url 'app_transaction:transaction_docs' el.id %}">
                        {{wording.btn_docs}}
                    </button>

                {% endif%}

                {% if el.is_editable == True or user_can_block == 0 and el.status != 3 %}
                        <button type="button"
                          class="js-update-transaction  btn btn-sm btn-link ml-3 "
                          data-url="{% url 'app_transaction:transaction_update_project_period' el.id project.pk %}">
                            <i class="far fa-pencil"></i>
                        </button>
                        <button type="button"
                          class="js-delete-transaction  btn btn-sm btn-link px-0"
                          data-url="{% url 'app_transaction:transaction_delete_project_period' el.id %}">
                            <i class="fas fa-trash"></i>
                        </button>
                {% endif%}





            {% include 'app_transaction/in_project/partial_list_in_projects_basic.html' %}

    </tr>

{% endfor %}

