
{% for el in list %}
    <tr>
        <td>{{ el.name }}</td>
        <td>{{ el.get_type_display }}</td>
        <td>{{ el.currency }}</td>
        <td>{{ el.company_owner }}</td>
        <td>
            <button type="button"
              class="js-update-account  btn btn-sm btn-link ml-3"
              data-url="{% url 'app_setup:account_update' el.id %}">
                <i class="far fa-pencil"></i>
            </button>
            {% if el.is_deletable %}
                <button type="button"
                  class="js-delete-account  btn btn-sm btn-link px-0"
                  data-url="{% url 'app_setup:account_delete' el.id %}">
                    <i class="fas fa-trash"></i>
                </button>
            {% endif %}
        </td>
    </tr>
{% endfor %}

