



    <div class="modal-header">
            <h4 >
                {{wording.h1_docs}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times-circle close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">


            Договора

            <table>
                {% for agr in agrs %}
                    <tr>
                        <td>{{ agr.get_type_display }}  №{{ agr.name }} от {{ agr.signed_at }}</td>
                    </tr>

                    {% for file in agr.agreement_files.all %}
                        <tr>
                            <td><a href="{{file.get_path}}">{{file.get_filename}}</a></td>
                        </tr>
                    {% endfor %}

                    {% for ad in agr.account_docs.all %}
                        <tr>
                            <td>{{ ad.get_type_display }}  №{{ ad.name }} от {{ ad.signed_at }}</td>
                        </tr>

                        {% for file in ad.accounting_docs_files.all %}
                            <tr>
                                <td><a href="{{file.get_path}}">{{file.get_filename}}</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                {% endfor %}

            </table>




    </div>

    <div class="modal-footer">
        <button type="button" class="button-outline button-outline-red" data-dismiss="modal">{{wording.btn_cancel}}</button>
    </div>



