<form method="post"
      action="{{url}}"
      data-project="{% url 'app_transaction:transaction_delete_project' item.pk %}"
      class="{{class_delete}}"
      id="TrDelForm"
      onsubmit="addspinner(this)"
>
  {% csrf_token %}

<div class="modal-header">
        <h4 >
            {{wording.h1_delete}}
        </h4>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
        </button>
</div>
    {%  if deletable == True %}
      <div class="modal-body">
            <p class="lead">{{wording.approve_delete}}<strong>{{ item.name }}</strong>?</p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5"> <i class="fas fa-trash"></i> {{wording.btn_delete}}</button>
        </div>


    {% else %}
          <div class="modal-body">
            <p class="lead">{{wording.not_deletable}} </p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        </div>

    {% endif %}

</form>


