{% load widget_tweaks %}


<form method="post" enctype="multipart/form-data"
      action="{{url_create}}"
      data-purposes-url="{% url 'app_transaction:ajax_load_purpose' %}"
      data-subcontractor-url="{% url 'app_transaction:ajax_subcontractor_info' %}"
      data-account-url="{% url 'app_transaction:ajax_account_info' %}"
      class="{{class_create}}" id="transactionForm"
      onsubmit="addspinner(this)"
>
    {% csrf_token %}

    <div class="modal-header" style="width:870px;">
            <h4 >
                {{wording.h1_create}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body" style="width:870px;">
        {% include 'app_transaction/transaction/partial_form.html' %}
    </div>

    <div class="modal-footer" style="width:870px;">
        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">{{wording.btn_create}}</button>
    </div>



</form>



