{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% load get_verbose_name %}

{% block header %}
    <div style="white-space: nowrap;">
        <div class="d-flex align-items-center">
            <a href="#" class=" px-4 py-4 border-right back-btn"><h4 ><i class="fal fa-chevron-left"></i></h4></a>
            <h1 class="ml-3 mt-1">
                {{ pk }}
                <div id="project_name">{% include 'app_project/project_card/partial_project_name.html' %}</div>
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="block-section-3">




    <div class="row mb-5">
        <div class="col-12">
            <v-statictics :id={{ pk }} ref="statictics"></v-statictics>


        </div>
    </div>
{##}
{##}
{##}
{##}
{#    {% if project.work_format != 1 %}#}
{#    <div class="row  mb-5" style="overflow-y: scroll;">#}
{#        <div class="col-12">#}
{#            <div class="d-flex justify-content-between align-items-start  mb-4">#}
{#                <h4 class="mb-3">{{wording.h1_list}}</h4>#}
{#                {% if project.is_editable == True or user_can_block == 0 %}#}
{#                    <button type="submit" class="js-create-transaction btn btn-sm btn-primary" data-url="{% url 'app_transaction:transaction_create_project' project.pk %}">#}
{#                        {{wording.btn_add}}#}
{#                    </button>#}
{#                {% endif %}#}
{##}
{#            </div>#}
{##}
{#            <table id="transactions_list" class="table">#}
{#                <thead>#}
{#                    {% include 'app_transaction/in_project/partial_list_header.html' %}#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% include 'app_transaction/in_project/partial_list_in_projects.html' %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}
{##}
{##}
{##}
{#    {% if project.work_format == 1 %}#}
{##}
{#        <div class="row mb-5  mr-2" style="overflow-y: scroll;">#}
{#            <div class="col-12">#}
{##}
{#                <div class="d-flex justify-content-between align-items-start  mb-4">#}
{#                    <h4>{{wording.h1_period}}</h4>#}
{#                    {% if project.is_editable == True or user_can_block == 0 %}#}
{#                        <button type="submit" class="js-create-period btn  btn-sm btn-primary" data-url="{% url 'app_project:create_period' project.pk %}">#}
{#                            {{wording.btn_add2}}#}
{#                        </button>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div id="report_periods">#}
{#                    {% include 'app_project/project_card/partial_list_periods.html' %}#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{##}
{##}
    <div class="row mb-4 mr-3">
        <div class="col-6" >
            <div class="border mx-1 px-5 py-5 h-100">
                <v-base-show :id={{ pk }} ref="showBase" v-on:update-base="updateBase"></v-base-show>
            </div>
        </div>
        <div class="col-6" >
            <div class="border mx-1 px-5 py-5 h-100">
                <v-estimate-show :id={{ pk }} ref="showEstimate" v-on:update-estimate="updateEstimate"></v-estimate-show>
            </div>
        </div>
{#        <div class="col-6">#}
{#            <div class="border mx-1 px-5 py-5 h-100">#}
{##}
{#                <div class="d-flex justify-content-between align-items-start">#}
{##}
{#                    <h4  class="mb-5">Предпродажная оценка</h4>#}
{#                    {% if project.is_editable == True or user_can_block == 0 %}#}
{#                        <button type="button"#}
{#                          class="js-update-estimation-project  btn  btn-sm btn-primary  mt-1"#}
{#                          data-url="{% url 'app_project:project_update_estimation' pk %}">#}
{#    <!--                        {{wording.btn_est}}-->#}
{#                            <i class="far fa-pencil"></i>#}
{##}
{#                        </button>#}
{#                    {% endif %}#}
{#                </div>#}
{#               <div id="partial_project_estimation">#}
{#                    {% include 'app_project/project_card/partial_project_estimation.html' %}#}
{#               </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#    <div class="row mb-4 mr-3">#}
{#        {% if project.work_format == 1 %}#}
{#                <div class="col-12 ">#}
{#                    <div class="border mx-1 px-5 py-5  h-100">#}
{#                        <div class="d-flex justify-content-between align-items-start  mb-4">#}
{#                            <h4>{{wording.h1_service}}</h4>#}
{#                            {% if project.is_editable == True or user_can_block == 0 %}#}
{#                                <button type="submit" class="js-create-service btn  btn-sm btn-primary" data-url="{% url 'app_project:service_create' project.pk %}">#}
{#                                    <i class="fal fa-plus"></i>#}
{#    <!--                                {{wording.btn_add3}}-->#}
{#                                </button>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        <table class="table mb-0">#}
{#                            <thead>#}
{#                                <th>Название</th>#}
{#                                <th>Стоимость часа</th>#}
{#                                <th></th>#}
{##}
{#                            </thead>#}
{#                            <tbody id="services">#}
{#                                {% include 'app_project/project_card/partial_list_services.html' %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#        {% endif %}#}
{##}
{##}
{##}
{##}
{##}
{##}
{#    </div>#}
{##}
{##}
    <div class="row mb-5 mr-3">
        <div class="col-6">
            <v-team-show  :id={{ pk }} ref="showTeam" v-on:create-team='createTeam' v-on:update-team="editTeam" v-on:delete-team="deleteTeam"></v-team-show>
        </div>
        <div class="col-6">

            <div class="border mx-1 px-5 py-5  h-100">

                <v-docs :id={{ pk }}></v-docs>
            </div>
        </div>
    </div>
{##}
{##}
{##}
{#    {%  if project.is_deletable == True %}#}
{#        {% if project.is_editable == True or user_can_block == 0 %}#}
{#            <div class="row mb-5">#}
{#                <div class="col-12">#}
{#<!--                    <hr>-->#}
{#                    <button type="button"#}
{#                      class="js-delete-project btn btn-outline-danger mt-4"#}
{#                      data-url="{% url 'app_project:project_delete' pk %}">#}
{#                        {{wording.btn_delete_p}}#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endif %}#}
{##}
{##}
{##}
{#</div>#}
{##}
{##}
{#<div class="modal fade" id="modal-global">#}
{#    <div class="modal-dialog">#}
{#          <div class="modal-content">#}
{#         </div>#}
{#    </div>#}
{#</div>#}

    <!--Modals-->
    <v-base-update :id={{ pk }} ref="updateBase" v-on:update-base="updateProject" :wording="wording"></v-base-update>
    <v-estimate-update :id={{ pk }} ref="updateEstimate" v-on:update-estimate="updateProject" :wording="wording"></v-estimate-update>
    <v-team-create :id={{ pk }} ref="createTeam" v-on:update-team="updateTeam" :wording="wording"></v-team-create>
    <v-team-update :id={{ pk }} ref="updateTeam" v-on:update-team="updateTeam" :wording="wording"></v-team-update>
    <v-team-delete :id={{ pk }} ref="deleteTeam" v-on:update-team="updateTeam" :wording="wording"></v-team-delete>


    <!--End-->

{% endblock %}



{% block javascript %}
    <script type='text/javascript' src="{% static 'project/js/app.js' %}"></script>
    <script type='text/javascript' src="{% static 'project/js/chunk-vendors.js' %}"></script>
{% endblock %}

