{% extends 'base_app.html' %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Настройки
        </h1>
    </div>



{% endblock %}


{% block content %}

<div class="block-section-3">
    <div class="row mb-5 mt-3">
        <div class="col-4">
            <h2>Настройка транзакций</h2>
        </div>
        <div class="col-4">
            <h2>Настройка проекта</h2>
        </div>
        <div class="col-4">
            <h2>Другие</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
<!--            <p><a href="{% url 'app_setup:subcontractors' %}">Контрагенты</a></p><hr>-->
            <p><a href="{% url 'app_setup:subcontractortypes' %}">Тип контрагентов</a></p><hr>
            <p><a href="{% url 'app_setup:units' %}">Юниты</a><br></p><hr>
            <p><a href="{% url 'app_setup:purposes' %}">Назначения платежа</a><br></p><hr>
            <p><a href="{% url 'app_setup:currencies' %}">Валюта</a><br></p><hr>
            <p><a href="{% url 'app_setup:accounts' %}">Счета</a><br></p><hr>
            <p><a href="{% url 'app_setup:legalforms' %}">ОПФ</a><br></p><hr>
            <p><a href="{% url 'app_setup:taxetypes' %}">Тип налогов</a><br></p>
        </div>

        <div class="col-4">
            <p><a href="{% url 'app_setup:projectcats' %}">Категории проектов</a></p><hr>
            <p><a href="{% url 'app_setup:projectsubcats' %}">Субкатегории проектов</a></p><hr>
            <p><a href="{% url 'app_setup:brands' %}">Бренды</a></p><hr>
            <p><a href="{% url 'app_setup:nbsources' %}">Источники нового бизнеса</a></p><hr>
            <p><a href="{% url 'app_setup:nbformats' %}">Форматы получения договоров</a></p><hr>
            <p><a href="{% url 'app_setup:productcategories' %}">Категории продуктов</a></p><hr>
            <p><a href="{% url 'app_setup:projectproducts' %}">Продукты</a></p>
        </div>

        <div class="col-4">
            <p><a href="{% url 'app_setup:doc_templates' %}">Шаблоны документов</a></p><hr>
            <p><a href="{% url 'app_auth:password_reset' %}">Сбросить пароль</a></p><hr>
            <p><a href="{% url 'app_setup:docs_download' %}">Скачать все документы одним архивом</a></p>
        <div class="col-4">
    </div>
</div>

{% endblock %}



