<nav class="mb-5">
  <ul class="pagination">


    {% if list.has_previous %}
        {% if 'name' in request.get_full_path %}
            <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page=1"><i class="fal fa-step-backward"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ list.previous_page_number }}"><i class="fal fa-long-arrow-left"></i></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page=1"><i class="fal fa-step-backward"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ list.previous_page_number }}"><i class="fal fa-long-arrow-left"></i></a></li>
        {% endif %}
    {% endif %}




    {% if 'name' in request.get_full_path %}
        {% for i in list_num %}
            {% ifequal i list.number %}
                   <li class="page-item active"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
            {% else %}
                 <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
            {% endifequal %}
        {% endfor %}

    {% else %}
        {% for i in list_num %}
            {% if i == list.number %}
                   <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if list.has_next %}

        {% if 'name' in request.get_full_path %}
             <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ list.next_page_number }}"><i class="fal fa-long-arrow-right"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ list.paginator.num_pages }}"><i class="fal fa-step-forward"></i></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ list.next_page_number }}"><i class="fal fa-long-arrow-right"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ list.paginator.num_pages }}"><i class="fal fa-step-forward"></i></a></li>
        {% endif %}
    {% endif %}

  </ul>


</nav>