{% extends 'base_app.html' %}
{% load static %}

{% block header %}
    <div style="white-space: nowrap; min-width: 1000px;" >
        <h1 class="title">
            {{wording.h1_list_p}}
        </h1>
          <button  type="submit" class="js-create-project btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" data-url="{% url 'app_project:project_create' %}">
            {{wording.btn_add_p}}
        </button>
          <button  type="submit" class="js-history-project btn btn-link text-primary btn  ml-3" data-url="{% url 'app_project:project_history'%}">
                <i class="far fa-hourglass-start"></i> {{wording.btn_history}}
        </button>
      <button form="projects_excel" type="submit" class="btn btn-link text-primary btn " value='excel' name="xls" formaction="{% url 'app_project:excel_export' %}"  id="project_list_exel">
             <i class="fas fa-file-excel"></i> Excel
        </button>
        <form id="projects_excel" action = "" method = "post">
            {% csrf_token %}
        </form>
    </div>
    <div style="white-space: nowrap;">
        <button  type="submit" class="btn btn-outline-success  pr-3 pl-3 pt-2 pb-2" onclick="location.href='{% url 'app_project:index' %}';" id="clear_button">Очистить</button>
          <button  type="submit" form="projects_filters" style="position: relative;" class="btn btn-success  pr-3 pl-3 pt-2 pb-2 " id="filter_button">

              Фильтровать

        </button>
    </div>


{% endblock %}


{% block content %}

    <div id="messages">
        {% include 'app_project/project_card/partial_project_messages.html' %}
    </div>


    {% block table %}
    {% endblock %}

    <div id="pagination" class="block-section">
                {% include 'app_project/list/pagination.html' %}
    </div>

    <div class="modal fade" id="modal-global">
        <div class="modal-dialog">
              <div class="modal-content">
             </div>
        </div>
    </div>



{% endblock %}




{% block vue %}


{% endblock %}