$main-color: rgba(47, 76, 152, 1);
$main-color:   rgba(47, 76, 152, 1);
$main-color-2: rgba(50, 174, 154, 1);
$main-color-4: #59aaca;
$main-color-3: rgba(160, 215, 250, 1);
$main-color-0: rgba(55, 193, 172, 1);
$main-color-5: rgba(238, 90, 90, 1);

$alert-color-1: rgba(160, 215, 250, 0.3);

$txt-color-1:  rgba(166, 177, 190, 1);
$txt-color-2:  rgba(96, 113, 134, 1);
$txt-color-3: rgba(74, 74, 74, 1);
$txt-color-4: rgba(52, 59, 76, 1);

$background-1: rgba(250, 250, 250, 1);
$background-2: rgba(243, 244, 245, 1);
$table-shadow: rgba(0, 0, 0, 0.15);
$disabled-back: rgba(242, 244, 246, 1);
$disabled-text: rgba(162, 163, 164, 1);
$main-color-tr: rgba(40, 127, 228, 0.5);
$main-color-tr-2: rgba(220, 30, 200, 0.2);
$text-color: rgba(74, 74, 74, 1);
$text-color-disabled: rgba(150, 150, 150, 1);
$podlogka: rgba(180, 180, 180, 0.1);
$podlogka2: rgba(180, 180, 180, 0.1);
$table-hover-border: rgba(74, 74, 74, 0.1);
$table-focus-border: rgba(40, 127, 228, 0.3);
//$text-color: yellow;
$border-color: #D5DAE0;

//$hover: rgba(74, 74, 74, 0.1);

$hover: rgba(220, 30, 200, 0.05);

$font-main-14: 14px;
$font-main-12: 12px;
$font-main-16: 16px;
$table-header-9: 9px;

$scheduled-color:rgba(250, 250, 250, 1);
$payed-color:rgba(126, 210, 30, 0.1);
$debt-color:rgba(210, 0, 30, 0.1);
$soon-color:rgba(250, 230, 30, 0.1);


$new-color:rgba(220, 30, 200, 0.05);
$estimate-color:rgba(144, 20, 254, 0.1);
$presale-color:rgba(250, 230, 30, 0.1);
$inprogress-color:rgba(255, 255, 255, 100);
$finished-color:rgba(126, 210, 30, 0.1);

$height-1: 32px;

$width-1: 60px;
$width-2: 75px;
$width-3: 100px;
$width-4: 120px;
$width-5: 150px;
$width-6: 180px;
$width-7: 210px;
$width-8: 300px;
$width-9: 420px;

$test-color1: red;
$test-color2: yellow;
$test-color3: blue;
$test-color4: beige;
$test-color5: azure;
$test-color6: green;
$test-color7: orange;
$test-color8: pink;
$test-color9: violet;


$test-color1: transparent;
$test-color2: transparent;
$test-color3: transparent;
$test-color4: transparent;
$test-color5: transparent;
$test-color6: transparent;
$test-color7: transparent;
$test-color8: transparent;
$test-color9: transparent;



$theme-colors: (
  "primary": $main-color,
  "secondary": $main-color-2,
  "success": #398d5d,
);