@import "_variables.scss";
@import "preloader.scss";
@import "./bootstrap/scss/bootstrap.scss";
@import "vue-select/src/scss/vue-select.scss";


body {
    font-family: "Roboto", arial;
    background-color: white;
    
}

.background-p{
    background-color: $background-1;
}

a  {
    color: $main-color;
    text-decoration: none;
}
a:hover {
    color: darken($main-color, 7%);
    text-decoration: none;
}

h3 {
    font-size: 18px;
    display:inline;
    color:$txt-color-4;
    font-weight: 600;
}

h1 {
    color:$txt-color-4;
        font-size: 26px;
    padding-top: 7px;
    float:left;
    font-weight: 300;
}

h4 {
padding-top:10px;
     color:$txt-color-4;
        font-size: 24px;
    line-height: 18px;

}

.title {
    margin-left: 80px;
    margin-right: 20px;}

/*

/*
=============UI: Selects, inputs, checkboxes ==================
*/

//===
.ui-hover {
    box-shadow: 0 0 1px 1px  $table-hover-border;
    z-index: 1000;
}


.ui-focus {
    box-shadow: 0 0 1px 1px  $table-focus-border;
    z-index: 100;
}

.ui-border {
    border: 1px solid $border-color;
}

.ui-radius-both {
    border-radius: 4px  !important;
}
.ui-radius-no {
    border-radius: 0px  !important;
}


.ui-radius-left {
    border-radius: 4px 0 0 4px  !important;
}

.ui-radius-right {
    border-radius: 0 4px 4px 0  !important;
}

.heigh-1 {
    height: 40px;
}
.heigh-2 {
    height: 20px;
}

.heigh-3 {
    height: $height-1;
}
.heigh-4 {
    height: 100px;
}
.height-5 {
    height: 43px;
}

.width-1 {
    min-width:$width-1;
    width:$width-1  !important;
}
.width-2 {
    min-width:$width-2;
    width:$width-2 !important;
}
.width-3 {
    min-width:$width-3;
    width:$width-3 !important;
}
.width-3-1 {
    min-width:115px;
    width:115px;
}
.width-3-2 {
    min-width:96px;
    width:96px  !important;
}
.width-4 {
    min-width:$width-4;
    width:$width-4;
}
.width-5 {
    min-width:$width-5;
    width:$width-5;
}
.width-6 {
    min-width:$width-6;
    width:$width-6;
}

.width-6-1 {
    min-width:195px;
    width:195px;
}

.width-7 {
    min-width:$width-7;
    width:$width-7;
}
.width-7-1 {
    min-width:245px;
    width:245px;
}
.width-7-2 {
    min-width:240px;
    width:240px;
}
.width-8 {
    min-width:$width-8;
    width:$width-8;
}
.width-8-1 {
    min-width:360px;
    width:360px;
}

.width-9 {
    min-width:$width-9;
    width:$width-9;
}
.width-10 {
    min-width:730px;
    width:730px;
}

.blocked{
    color: $disabled-text !important;
}


select {
    padding: 5px 10px 5px 5px;
    padding-left: 10px;
    padding-right: 25px;
    font-size: $font-main-12;
    color: $text-color;
//    height: $height-1;
    width: 100%;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/static/img/select_arrow.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 97%;
    background-color: transparent;
    transition-duration: 200ms;
    }


select:focus{
    @extend .ui-focus;
    }

select:hover{
    @extend .ui-hover;
    }


input[type="text"] {
    padding-left: 10px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: $font-main-12;
    color: $text-color;
    width: 100%;
    position: relative;
    outline: none;
    background-color: white;
    transition-duration: 200ms;
}

input[type="number"] {
    padding-left: 10px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: $font-main-12;
    color: $text-color;
    width: 100%;
    position: relative;
    outline: none;
    background-color: white;
    transition-duration: 200ms;
}

input[type="email"] {
    padding-left: 10px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: $font-main-12;
    color: $text-color;
    width: 100%;
    position: relative;
    outline: none;
    background-color: white;
    transition-duration: 200ms;
}



input[type="date"] {

    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    width: 100%;


    padding-left: 32px;
    padding-right: 10px;
    font-size: $font-main-12;
    color: $text-color;
    position: relative;
    outline: none;
    background: url(/static/img/calendar.svg)   no-repeat ;
    background-size: 15px;
    background-position: 10px 50%;
    background-color: transparent;
    transition-duration: 200ms;

}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 15px;
    opacity: 0;
}


input:focus{
    @extend .ui-focus;
    }

input:hover{
    @extend .ui-hover;
    }

input:read-only {
    color: $text-color-disabled;
    }

input:disabled {
    color: $disabled-text;
    background-color: $disabled-back;
    }
input:disabled:hover{
    box-shadow: 0 0 0px 0px  $table-hover-border;

    }

label{
        color: $txt-color-2;

}


textarea {
    padding: 10px;
    font-size: $font-main-12;
    color: $text-color;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    position: relative;
    outline: none;
    background-color: white;
    transition-duration: 200ms;
}


textarea:focus{
    @extend  .ui-focus;
    }

textarea:hover{
    @extend .ui-hover;
    }



// bar =================

.stagebar  {
    display: flex;

}


.stagebar label{
        border-radius: 4px;

    width:100px;
    height: 40px;
    margin: 0px 3px;
}

.stagebar label:hover{
    @extend .ui-hover;
}



.stagebar input[type=radio]{
    position: absolute;
    width:100px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}
.stager-label{
    position: absolute;
    z-index: 2;
    color:$main-color;
    font-size: $font-main-14;
    text-align: center;
        height: 40px;
    width: 100px;
    padding-top:10px;
}


.container2 {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    margin: 0px;
}

.checkmark2 {
    border-radius: 4px;
    border: 1px solid $border-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100px;
}

.container2 input:checked ~ .checkmark2 {
  background-color: $main-color;
}
.container2 input:checked ~ .stager-label {
  color:white;
}

.container2 input:disabled ~ .checkmark2 {
  background-color: $podlogka2;
}
.container2 input:disabled ~ .stager-label {
  color:$txt-color-1;
}





//====


.multiselect{

    border: 1px solid $border-color;
    width:100%;
    margin-top: -1px;
    margin:-1px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    color:$text-color;
    outline: none;
    height: 100%;
    background-color: white;

}


.multiselect:focus{
    @extend .ui-focus;
    transition-duration: 200ms;
}

.multiselect:hover{
    @extend .ui-hover;
    transition-duration: 200ms;
}

.multifilters select {
    background-image: none;
//    margin: 0px 0px;
//    padding: 0px 0px;
}
//=====


.ui-positioner{
    margin-bottom: 13px;
    margin-right: -1px;
//    display: flex;
//    align-items: center;
    float:left;
}


.ui-positioner-2{
    margin-right: -1px;
//    display: flex;
//    align-items: center;
    float:left;
}
.ui-positioner-3{
    display: block;
    margin-right: -1px;
    margin-bottom: 10px;
//    display: flex;
//    align-items: center;
}


.ui-positioner-100{
    width:100%;
    margin-bottom: 13px;
    margin-right: -1px;
}

.ui-margin-left{
    margin-left: 10px;

}







/*
=============CONTENT ==================
*/
// Пока не использую этот слой - потом проверит нуэен ли он вообще
//.work-area{
//    position: absolute;
//    top:0px;
//    left:0px;
//    background-color: greenyellow;
//}

.content-area {
    position: relative;
    display: block;

    padding-top: 85px;
    background-color: $test-color1;
    width:100%;
    height: 100%;
    //box-sizing: border-box;
}

.podlogka{
    position: absolute;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $border-color;
    height: 340px;
}


.block-section-modal {
    position: relative;
    overflow-y: scroll;
    background-color: $test-color2;
    padding-top: 30px;
    margin-right: 30px;
    display: flex;
}

.block-section {
    position: relative;
    overflow-y: scroll;
    background-color: $test-color2;
    padding-top: 30px;
    padding-left: 280px;
    margin-right: 30px;
    display: flex;
}

.block-section-3 {
    position: relative;
    overflow-y: scroll;
    background-color: $test-color2;
    padding-top: 30px;
    padding-left: 280px;
    margin-right: 30px;
    min-width: 1350px;
}

.block-section2 {
    position: relative;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 20px;
    background-color: $background-1;
}




.innerblock {
display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 30px;
    box-shadow: 2px 2px 4px 1px  $table-shadow;
    margin-bottom: 20px;
}


flex-block-0{
    display: flex;

}

.projectcard-filters{
    display: flex;
    justify-content: space-between;

}
.sub-menu {
    position: relative;
    display: flex;
}
.flex-align{
    align-items: center;
}

.justify-content{
    justify-content: space-between;
}

.block-0{
    background-color: $test-color3;
    display: inline-block;
}

.block-1{
    background-color: $test-color4;
    display: inline-block;
    width: 630px;
}

.block-2{
    background-color: $test-color5;
    width: 100%;
    display: flex;
justify-content: space-between;
flex-direction: column;
}




.direction {
//    flex-direction: column;
    overflow: scroll;
    padding-bottom:40px;
}

.divider{
    width: 100%;
    border-bottom: 1px solid $text-color;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: $font-main-14;
}



/*
======== Блок контрагента
*/

.block-section3 {
    position: relative;
    display: inline-block;
    margin-top: 70px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 20px;
    width: 100%;
    height: 100%;

}

.block-3-1{
    float: left;
    display: inline-block;
    width: 50%;
    min-width: 620px;

//    background-color: aqua;
    padding-left:10px;
    padding-bottom:10px;
}

.block-3{
    width: 100%;
    min-height: 600px;
    max-height: 600px;

    background-color: white;
    border: 1px solid $border-color;
    border-radius: 4px;
}



.block-3-line-1{
    display: block;
    border-bottom: 1px solid $border-color;
    width:100%;
    padding: 20px 20px;
}
.block-3-line-2{
    display: flex;
    width:100%;
}
.block-3-column-1{
    display: inline-block;
    border-right: 1px solid $border-color;
        padding: 30px 20px;

    width:47%;
    height: 507px;
    float: left;
}
.block-3-column-2{
    width: 53%;
    padding: 30px 20px;

}

.sub-head{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.sub_attr{
    color:$txt-color-2;
    font-size: 12px;
}

.sub_comment {
        color:$txt-color-4;
        font-size: 12px;
    font-style: italic;
}

h5 {
     color:$txt-color-4;
        font-size: 18px;

}

h6 {
     color:$txt-color-2;
        font-size: 12px;
    font-weight: 600;

}



.sub-col-1 {
       min-width: 100px;
       max-width: 100px;

       color:$txt-color-2;
        font-size: 12px;
    font-weight: 200;
}

.sub-col-2 {
           min-width: 150px;
           max-width: 150px;

      color:$txt-color-4;
        font-size: 12px;
}
.sub-col-3 {
           min-width: 200px;
           max-width: 200px;

      color:$txt-color-4;
        font-size: 12px;
}

.separation{
    margin-top: 20px;
}

.alert-1 {
    margin-top:20px;
    padding:28px ;
    color:$txt-color-2;
    font-size: 16px;
    background-color: $alert-color-1;
}
/*
======== Блок клиента/бренда
*/

.block-4-1{
    float: left;
    display: inline-block;
    width: 25%;
        min-width: 350px;

    padding-left:10px;
    padding-bottom:15px;
}


.block-4{
    float: left;
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 4px;
}










.block-4-line-2{
    width:100%;
    padding:   10px 20px;
    background-color: $background-2;
        border-bottom: 1px solid $border-color;

}

.sub_attr-2{
    color:$txt-color-2;
    font-size: 16px;
}



/*
============= MENU 2 ==================
*/


.bslines{
    margin-top: 30px;
    border-bottom: solid 1px $border-color;
}


.project-menu{
    background-color: $test-color9;

}


.project-menu-item{
    display: inline-block;
    float: left;
    position: relative;
    padding: 20px 20px;
    box-sizing: padding-box;
    background-color: $test-color3;
    text-align: center;
    vertical-align: middle;
    font-size: $font-main-12;
    color: $main-color;
}

.selected .project-menu-item{
    color: $text-color;
}

.project-menu:hover .project-menu-item{
    color: darken($main-color, 7%);
}

.selected.project-menu:hover  .project-menu-item{
    color: $text-color;
}

.bottom-line{
    position: relative;
    bottom: -20px;
    height: 3px;
    width: 140px;
    background-color: transparent;
}

.selected .bottom-line{
    background-color: $main-color;
}

.vertical-separator {
    width:1px;
    height: 30px;
    background-color: $border-color;
    margin: 15px 0px;
}








.modal-1{
    width:700px;
    display:block;
    padding:10px 30px;

//    background-color: aqua;
}

.modal-2{
    width:520px;
    display:block;
    padding:10px 30px;

//    background-color: aqua;
}
.modal-3{
    width:830px;
    display:block;
    padding:10px 30px;
}
.modal-4{
    width:415px;
    display:block;
    padding:10px 30px;
}

.modal-dialog{
    max-width: 870px;
}
.modal-content{
    display: inline-block;
}

.modal-header{
//    display:block;
//    background-color: orange;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50pх;
}

.modal-body{
    display:block;
    //background-color: green;
    padding: 20px 40px;
    //margin-bottom: 20px;
}

.modal-body-1{
    display:block;
//    background-color: green;
    padding: 20px 20px;
    height: 400px;
        margin-bottom: 20px;
}

.modal-body-2{
    display:block;
//    background-color: green;
    padding: 20px 20px;
    height: 230px;
        margin-bottom: 20px;
}

.modal-body-3{
    display:block;
//    background-color: green;
    padding: 20px 20px;
    height: 1000px;
        margin-bottom: 20px;
}

.modal-body-4{
    display:block;
//    background-color: green;
    padding: 20px 20px;
    height: 90px;
        margin-bottom: 20px;
}

.modal-body-5{
    display:block;
//    background-color: green;
    padding: 20px 20px;
    height: 160px;
        margin-bottom: 20px;
}

.modal-footer{
    display:block;
    padding: 20px 40px 40px 30px;
//    background-color: red;
    text-align: right;
}

.modal-block{
        background-color: aqua;
        width:100%;
        padding: 20px 20px;
        margin: 20px 20px;
        display:block;

}
.modal-title {
    display: block;
}


.modal-close{
    background-color: aqua;
        color: forestgreen;
}

/*
=============TABLES  ==================
*/

caption{
    caption-side: top;
    font-size: 18px;
    color:$txt-color-4;
    font-weight: 600;
    padding-bottom: 25px;
    padding-top: 0px;

}

th.list {
    vertical-align: top !important;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    border-bottom:0px !important;
    text-align: left;
//    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    font-size: $table-header-9;
    font-weight: 100;
    color: $text-color;


}

th.project-card {
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: $table-header-9;
    font-weight: 100;
    color: $txt-color-2;
    vertical-align: top;

}

//tr:first-child{
//    height: 30px;
//}

.tr-hover:hover{
//    background-color: $podlogka2;
//    border: 2px solid $main-color;
//    border-bottom: 1px solid $main-color;

//    box-shadow: inset 0px -1px 0px 1px  $main-color-tr;
//    transition-duration: 400ms;
//    z-index: 200;

}
.multifilters {
    height: 30px;
    vertical-align: top;
        //background-color: $background-1;
        background-color: white;
}
.scheduled {
    background-color: $scheduled-color;
}

.payed {
    background-color: $payed-color;
}

.debt {
    background-color: $debt-color;
}

.soon {
    background-color: $soon-color;
}

.p-new {
    background-color: $new-color;
}

.p-estimate {
    background-color: $estimate-color;
}

.p-presale {
    background-color: $presale-color;
}

.p-inprogress {
    background-color: $inprogress-color;
}

.p-finished {
    background-color: $finished-color;
}



table{
    position: relative;
//    display: inline-block;
    border-collapse: collapse;
    background-color: $test-color5;


}

td.normal{
    border: 1px  solid $border-color;
    color: $text-color;
    font-size: $font-main-12;
    height: 36px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
td.normal3{
    border: 1px  solid $border-color;
    font-size: $font-main-12;
    height: 36px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.money{
    text-align: right;
    padding-right: 15px;
}
td.normal2{
    border: 1px  solid $border-color;
    color: $text-color;
    font-size: $font-main-12;
    height: 36px;
}

td.unite{
    border-top: 1px  solid $border-color;
    border-bottom: 1px  solid $border-color;
    border-left: 0px  solid $border-color;
    border-right: 0px  solid $border-color;
}

td.unite-begin{
    border-top: 1px  solid $border-color;
    border-bottom: 1px  solid $border-color;
    border-left: 1px  solid $border-color;
    border-right: 0px  solid $border-color;
}

td.no{
    border: 0px  solid $border-color;

}

td.margin-1{
    padding-right:5px;
//    background-color: aqua

}

.margin-2{
    padding-left:10px;

}

.margin-3{
   margin-right: 10px;
}


table.fin-statistic{
    width: 100%;
    border: 1px solid $border-color;
    font-size: 10px;
}
table.fin-statistic th{
    border: 1px solid $border-color;
}
table.fin-statistic td{
    border: 1px solid $border-color;
}





.time-statistic{

    margin: 30px  0px;



}

.time-statistic-1 {
    width: 130px;
    font-size: $font-main-12;
    color: $txt-color-1;
}

.time-statistic-2 {
     width: 400px;
    font-size: $font-main-12;
    color: $txt-color-4;
}

.inline{
      display: inline;


}


.table-text{
    font-size: $font-main-12;
    padding: 0px 10px;
    color: $text-color;
}

.table-text-total{
    font-size: $font-main-12;
    font-weight: 600;
    padding: 0px 10px;
    color: $text-color;
}

.table-total{
    padding-top: 15px;
}

.add-link{
    font-size: 12px;
}












.table-text-bold{
    font-weight: 600;
}
//
//.table-text-gray{
//    color: $text-color2 !important;
//}



.table-text3{
    font-size: $font-main-12;
    padding: 0px 20px;
}





//span {
//    background-color: hotpink;
//}



.level-0-h {
    font-weight: 600;
}
.level-0-r {

}

.level-1-h {
    padding-left: 25px !important;
    font-weight: 600;

}
.level-1-r {
}


.level-2-h {
    padding-left: 35px !important;
    font-weight: 600;
}
.level-2-r {
}

.level-3-h {
    padding-left: 45px !important;
    font-weight: 600;
}
.level-3-r {
}


/*
=============HEADER MENU ==================
*/

.header {
    position:fixed;
    padding-left: 200px;
    padding-right: 30px;
    flex-wrap: nowrap;
    display: flex;
    align-items:center;
    justify-content: space-between;
    top:0;
    left:0;
    width:100%;
    min-width: 1000px;
    height:90px;
    border-bottom: 1px solid #D5DAE0;
    background-color: white;
    z-index: 9;
    white-space: nowrap;
}

.header-menu {
    position:fixed;
    padding-left: 90px;
    padding-right: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    top:0;
    left:0;
    width:100%;
    height:76px;
    border-bottom: 1px solid #D5DAE0;
    background-color: white;
    z-index: 9;
}

.header-submenu {
      position:fixed;
    padding-left: 90px;
        padding-right: 20px;

    display: flex;
    align-items:center;
    justify-content: space-between;
    top:76px;
    left:0;
    width:100%;
    height:60px;
    border-bottom: 1px solid #D5DAE0;
    background-color: white;
    z-index: 9;


}


.backward{
    margin-left: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: $test-color6;
}
.triangle-left {
    position: relative;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right:7px solid $main-color;
    margin-top: 7px;
    margin-left: 25px;
    margin-right: -30px;
    float: left;
}
.header-text-link{
    font-size: $font-main-14;
    margin-left:7px;

}
.header-text{
    font-size: $font-main-12;
    margin-left:14px;
    white-space: nowrap;
    color: $txt-color-4;
}
.header-extra-info{
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: $test-color7;
}
.header-buttons{
//    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $test-color8;
}
.header-filters{
    display: flex;
    padding: 0 20px;

}
.header-drop{
    margin-left: 7px;
}

/*
============= Фильтры в отчетах ==================
*/

.header-filters2 {
      position:relative;
    padding-left: 90px;
        padding-right: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    top:76px;
    left:0;
    width:100%;
    height:200px;
    border-bottom: 1px solid #D5DAE0;
    background-color: white;
    z-index: 9;
    font-size: $font-main-12;
}

.block-f-0 ul{
    list-style-type: none;
    padding-left:0px;
}
.block-f-1 ul{
    list-style-type: none;
    padding-left:0px;
}


.r-filters {
    width:20px;
    white-space: nowrap;
}



.block-f-0{
    position: relative;
    width:150px;
    float:left;
}
.block-f-1{
    position: relative;
    width:400px;
    float:left;
}

/*
============= UI ==================
*/


.buttom-min{
    min-width: 150px;
}

input[type="button"] {
    min-width: 150px;
    min-height: 45px;
    color: white;
    font-size: $font-main-14;
    background: $main-color;
    border: none;
    outline: none;
    border-radius: 8px;
    transition-duration: 300ms;
    cursor:pointer;

}

input[type="button"]:hover {
    background: darken($main-color, 7%);

}

.icon-button {
        border: none;
    outline: none;
        cursor:pointer;
        background: transparent;


}


.button {
    min-width: 150px;
    min-height: 45px;
    color: white;
    font-size: $font-main-14;
    border: none;
    outline: none;
    border-radius: 8px;
    transition-duration: 300ms;
    cursor:pointer;
}

button:focus {outline:0;}
.button-green{
        background: $main-color-0;
}
.button-blue{
        background: $main-color;
}
.button-green:hover {
    background: darken($main-color-0, 7%);
}
.button-blue:hover {
    background: darken($main-color, 7%);
}


.button-mini {
    min-width: 70px;
    min-height: 25px;
    color: white;
    font-size: $font-main-12;
    background: $main-color;
    border: none;
    outline: none;
    border-radius: 8px;
    transition-duration: 300ms;
    cursor:pointer;

}

.mini-button{
    min-height: 25px !important;
}

.button-outline {
    min-width: 150px;
    min-height: 45px;
    font-size: $font-main-14;
    background: transparent;
    outline: none;
    border-radius: 8px;
    outline: none;
    transition-duration: 300ms;
    cursor:pointer;
}

.button-outline-green{
    color: $main-color-0;
    border: 1px solid $main-color-0;
}
.button-outline-blue{
    color: $main-color;
    border: 1px solid $main-color;
}
.button-outline-red{
    color: $main-color-5;
    border: 1px solid $main-color-5;
}
.button-outline-green:hover {
    border: 1px solid darken($main-color-0, 15%);
    color: darken($main-color-0, 15%);
}
.button-outline-blue:hover {
    border: 1px solid darken($main-color, 15%);
    color: darken($main-color, 15%);
}
.button-outline-red:hover {
    border: 1px solid darken($main-color-5, 15%);
    color: darken($main-color-5, 15%);
}




a.outline-button {
    float:left;
    width: 150px;
    height: 45px;
    font-size: $font-main-14;
    background: transparent;
    outline: none;
    padding-top: 10px;
    border-radius: 8px;
    transition-duration: 300ms;
    text-align: center;
    text-decoration: none;
}

.outline-button-green{
    color: $main-color-0;
    border: 1px solid $main-color-0;
}
.outline-button-blue{
    color: $main-color;
    border: 1px solid $main-color;
}

.outline-button-green:hover {
    border: 1px solid darken($main-color-0, 15%);
    color: darken($main-color-0, 15%);
}
.outline-button-blue:hover {
    border: 1px solid darken($main-color, 15%);
    color: darken($main-color, 15%);
}



a.filled-button {
    float:left;
    width: 50px;
    height: 28px;
    color: white;
    font-size: $font-main-14;
    background-color: $main-color;
    outline: none;
    border-radius: 8px;
    transition-duration: 300ms;
    padding-top: 12px;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
}

a.filled-button:hover {
    background-color: darken($main-color, 15%);
    color: white;


}


.button-rounder{
    border-radius: 100px;
    width: 35px;
    height: 35px;
    color: white;
    font-size: $font-main-14;
    background: $main-color;
    border: none;
    outline: none;
    transition-duration: 300ms;
    cursor:pointer;
    font-size: 20px;
    margin-left: 10px;

}

.button-rounder:hover {
    border: 1px solid darken($main-color, 15%);
    background-color: darken($main-color, 15%);
}

.select-positioner-2{
    margin-right: 10px;
    float:left;
}
.label1{
    font-size: $font-main-12;
    color: $txt-color-1;
    display: block;
    margin-bottom: 7px;
    line-height: 14px;

}


.question-icon{
    font-size:10px;
    margin-right: 0px;
    margin-left: 5px;
    color: $main-color-3;
}
.close-icon{
    font-size:28px;
    color: $main-color;
    margin-top:5px;
}
.add-icon{
    font-size:35px;
    color: $main-color;
}

.excel-icon{
    font-size:25px;
    color: $main-color;
    margin-left:10px;
    margin-top:7px;
}
.add-icon:hover{
    box-shadow: 0 0 3px 1px  $table-hover-border;

}

.dots-icon{
    margin: 5px 65px;
    font-size: 10px;
    color:$border-color;

}

.edit-icon{
     font-size:25px;
    color: $main-color;
}

.edit-icon:hover {
    color: darken($main-color, 7%);
}

.login-icon{
    margin: 0px 7px;
    font-size: 15px;
    color:$text-color;

}


//===== loaders =====

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $main-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

//.back-btn:hover{
//    background-color: #dfe2e6;
//
//}

.tablerow-f-c{
    background-color: rgba($main-color, .6);;
    color: white !important;
}
.tablerow-f-p{
    padding-left: 20px !important;
}
.tablerow-0-c{
    background-color:  rgba($main-color, 1);;
    color: white !important;
}
.tablerow-0-p{
    padding-left: 20px !important;
}
.tablerow-1-c{
    background-color:  rgba($main-color, .15);;
}
.tablerow-1-p{
    padding-left: 70px !important;
}
.tablerow-2-c{
    background-color: rgba($main-color, .1);;
}
.tablerow-2-p{
    padding-left: 100px  !important;
}
.tablerow-3-c{
    background-color: rgba($main-color, .05);;
}
.tablerow-3-p{
    padding-left: 130px  !important;
}
.tablerow-4-c{
    background-color: white;
}
.tablerow-4-p{
    padding-left: 160px  !important;
}

.stages select{
    height: 50px;
}


.product-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.product-list-element {
    display: flex;
    align-items: center;
}

.last-col-width{
    width: 120px;
}

.messages{
    position: fixed;
    bottom: 30px;
    right:34px;
    z-index: 10000;
    max-width: 300px;
}
// ================= Vue animation =================
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;

}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}



.messages-enter-active, .messages-leave-active {
    transition: all 1s;

}
.messages-enter, .messages-leave-to {
    opacity: 0;
    transform: translateX(30px);
}



.indent-arrow{
    transform: rotate(90deg);
    margin-right: 10px;
}


.search-field{
    border: 1px solid $border-color;
    border-radius: 4px  !important;
    padding: 8px 17px;
    width: 250px;
}


.search-field :hover {
    box-shadow: 0 0 1px 1px  $table-hover-border;
    z-index: 1000;
}


.search-field :focus {
    box-shadow: 0 0 1px 1px  $table-focus-border;
    z-index: 100;
}
