// ================= MODAL =================

 .modal-container {
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index:1040;
   overflow-x: hidden;
   overflow-y: auto;

    }

.modal-container-bg {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    left:0;
    top:0;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:50%;
    top:0px;
    transform: translate(-50%,0);
    background-color: white;
    width: 930px;
    height: auto;
    //box-shadow: 0px 6px 16px rgba(212,220,226,0.7);
    padding: 15px  70px;
    border-radius: 12px;
    margin: 50px 0;
}

.modal-header {
    width:100%;
    padding-right: 0;
    padding-left: 0;
}
.modal-body {
    width:100%;
    padding-right: 0;
    padding-left: 0;
}
.modal-footer {
    width:100%;
    padding-right: 0;
    padding-left: 0;
}


.modal-close-btn{
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;

}


.modal-close-btn:hover{
    background-color:gray;
}

.modalopen{
  overflow: hidden;
}