<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <div class="modal">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.history}}
                    </h4>
                </div>

            <div class="modal-body">
                <p v-for="h in history" v-html="h"></p>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-success btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.ok}}</button>
            </div>
        </div>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [ 'wording'],
    data(){
        return{
            history:{},
            url:"/setup/api/projectproducts/history/",
            showModal: false,
        }
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    methods:{
        show(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.history = response.data.records;
                this.showModal = true
                $("body").attr('class', 'modalopen')
            })
            .catch(function (response) {
                console.log(response);
            });
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
    },
}
</script>


