<template>
    <div class="border mx-1 px-5 py-5  h-100">
        <div class="d-flex justify-content-between align-items-start  mb-4">
            <h4>{{wording.header.list}}</h4>
            <button type="submit" class=" btn  btn-sm btn-primary" v-on:click="create">
                <i class="fal fa-plus"></i>
            </button>
        </div>
        <table class="table mb-0">
            <thead>
                <th>{{wording.table.name}}</th>
                <th>{{wording.table.cost}}</th>
                <th></th>

            </thead>
            <tbody id="services">
                <tr v-for="item in instances">
                    <td>{{item.name}}</td>
                    <td>{{item.rate_bt}}</td>
                    <td  style="width: 100px; white-space: nowrap">
                    <button type="button"
                            class="btn btn-sm btn-link ml-3"
                            v-on:click="$emit('update-service', item.id)"
>
                        <i class="far fa-pencil"></i>
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-link px-0"
                            v-on:click="$emit('delete-service', item.id)"
                    >
                        <i class="fas fa-trash"></i>
                    </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>



</template>

<script>
import axios from 'axios'
export default {
    props: [ 'id', 'wording'],
    data(){
        return{
            instances:{},
            url:"/projects/api/service_list/",
        }
    },
    mounted(){
        this.getInstanceAll()
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.id + '/',
            })
            .then(response => {
                this.instances = response.data;
                this.$emit('isloaded');
            })
        },
        create(){
            this.$emit('create-service')
        },
    },
}
</script>


