{% extends 'base_app.html' %}
{% load static %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            [[wording.h1_list]]
        </h1>
        <button  type="submit" v-on:click="showHistory" class="btn btn-link text-primary  mt-1 ml-3">
            <i class="far fa-hourglass-start"></i> [[wording.btn_history]]
        </button>
    </div>

    <input class="form-control w-25" type="search" placeholder="Введите наименование" v-model="query">


    <div style="white-space: nowrap;">

        <button type="submit" v-on:click="createInstance" class="btn btn-primary">
            [[wording.btn_add]]
        </button>
    </div>
{% endblock %}


{% block content %}

    <!--Messages-->
    <transition name="messages">
        <div
            v-if="messages.length !== 0"
            class="messages"
        >
            <div
                colspan="25" class="alert alert-dismissible fade show " role="alert"
                v-for="message in messages"
                v-bind:key="message"
                v-bind:class="[messages_status]"
            >
                <span v-html="message"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </transition>
    <!--End-->
    <!--Preloader-->
    <transition name="fade">
        <div class="loaderArea" v-if="pageLoading">
            <div class="loader">
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </transition>
    <!--End-->
    <!--List-->
    <div class="block-section-3  mb-5" id="subcontractors_list">
        <div
            class="row border border-1 mb-3 mr-1 py-3 px-3"
            v-for="item in filteredInstances"
            v-bind:key="item.id"
        >
            <div class="col-9  d-flex  align-items-center ">
                <span class="font-weight-bold">[[item.legal_form_name]] [[item.name]] </span>
                <span class="font-weight-light ml-5">
                    [[item.type_name]] —
                    [[item.taxe_type_name]]
                 </span>
            </div>
            <div class="col-3 d-flex justify-content-end">
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary border-0 "
                        v-on:click="deleteInstance(item.id)"
                        v-if="item.is_deletable"
                    >
                        <i class="fas fa-trash mr-2"></i> [[wording.btn_delete]]
                    </button>

                    <button
                        type="button"
                        class="btn btn-sm btn-outline-primary ml-3"
                        v-on:click="updateInstance(item.id)"

                    >
                        <i class="far fa-pencil ml-2"></i> [[wording.btn_update]]
                    </button>
            </div>
        </div>
    </div>
    <!--End-->
    <!--Modals-->
    {% include 'app_setup/subcontractors/modals/modal_create_update.html' %}
    {% include 'app_setup/subcontractors/modals/modal_delete.html' %}
    {% include 'app_setup/subcontractors/modals/modal_history.html' %}
    <!--End-->


{% endblock %}



{% block javascript %}
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                instance: {},
                instances: {},
                history: {},
                messages: [],
                messages_status: "",
                action: "",
                pageLoading: true,
                query: '',
                url_list: "{% url 'app_setup:api_subcontractor_list' %}",
                url_history: "{% url 'app_setup:api_subcontractor_history' %}",
                wording: {
                    'h1_list': 'Список контрагентов',
                    'h1_create': 'Создать контрагента',
                    'h1_update': 'Редактировать контрагента',
                    'h1_delete': 'Удалить контрагента',
                    'h1_history': 'История изменений контрагентов',
                    'btn_create': 'Создать',
                    'btn_add': 'Добавить контрагента',
                    'btn_delete': 'Удалить',
                    'btn_cancel': 'Отмена',
                    'btn_update': 'Редактировать',
                    'btn_save': 'Сохранить',
                    'btn_history': 'История',
                    'validation_error': 'Ошибка валидации',
                    'not_deletable': 'Мы не можем удалить элемент - он используется в системе. Сначала удалите его из всех транзакций.',
                    'approve_delete': ' Вы уверены, что хотите удалить контрагента ',
                }
            },
            computed: {
                url_detail: function () {
                    return "{% url 'app_setup:api_subcontractor_detail' 0 %}".slice(0, -1) + this.instance.id
                },
                filteredInstances: function () {
                    var result;
                    var filterKey = this.query && this.query.toLowerCase();
                    if (filterKey) {
                        result = this.instances.filter(function (e) {
                            var str_to_check = String(e.name).toLowerCase();
                            return str_to_check.indexOf(filterKey) !== -1
                        });
                        return result
                    } else {
                        return this.instances
                    }
                }
            },
            mounted: function(){
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

                this.getInstanceAll()

            },
            methods:{
                getInstanceAll: function () {
                    this.pageLoading = true;
                    axios({
                        method: 'get',
                        url: this.url_list,
                    })
                    .then(response => {
                        this.instances = response.data;
                        this.pageLoading = false;
                    })
                },
                showHistory: function () {
                    axios({
                        method: 'get',
                        url: this.url_history,
                    })
                    .then(response => {
                        this.history = response.data.records;
                        $("#modal-history").modal("show");
                        })
                    .catch(function (response) {
                        console.log(response);
                    });
                },
                createInstance: function () {
                    this.clearErrors();
                    this.instance = {};
                    this.action = "CREATE";
                    $("#modal-create-update").modal("show");
                },
                updateInstance: function (instance_id) {
                    this.clearErrors();
                    this.instance = {
                        "id": instance_id,
                    };
                    this.action = "UPDATE";
                    axios({
                        method: 'get',
                        url: this.url_detail,
                    })
                    .then(response => {
                        this.instance = response.data;
                        $("#modal-create-update").modal("show");
                        })
                    .catch(function (response) {
                        console.log(response);
                    });
                },
                deleteInstance: function (instance_id) {
                    this.instance = {
                        "id": instance_id,
                    };
                    this.action = "DELETE";
                    axios({
                        method: 'get',
                        url: this.url_detail,
                    })
                    .then(response => {
                        this.instance = response.data;
                        $("#modal-delete").modal("show");
                        })
                    .catch(function (response) {
                        console.log(response);
                    });
                },
                saveInstance: function () {
                    var  method;
                    var  url;
                    var  data;
                    var  submit_btn_id;
                    var  message;

                    if (this.action === "CREATE") {
                        method = 'post';
                        url = this.url_list;
                        data = this.instance;
                        submit_btn_id = "submitBtnCreate";
                        message = "Контрагент <b>" + this.instance.name + "</b> добавлен";
                    }
                    if (this.action === "UPDATE"){
                        method = 'put';
                        url = this.url_detail;
                        data = this.instance;
                        submit_btn_id = "submitBtnUpdate";
                        message = "Контрагент <b>" + this.instance.name + "</b> обновлен";
                    }
                    if (this.action === "DELETE"){
                        method = 'delete';
                        url = this.url_detail ;
                        data = this.instance;
                        submit_btn_id = "submitBtnDelete";
                        message = "Контрагент <b>" + this.instance.name + "</b> удален";
                    }

                    this.addSpinner(submit_btn_id);

                    axios({
                        method: method,
                        url: url,
                        data: data,
                        headers: {
                            // 'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(response => {
                        this.getInstanceAll();
                        $("#modal-create-update").modal("hide");
                        $("#modal-delete").modal("hide");
                        this.removeSpinner(submit_btn_id);
                        this.addMessage(message, 'success')

                    })
                    .catch(error => {
                        console.log(error.response);
                        this.removeSpinner(submit_btn_id);
                        this.clearErrors();
                        this.addErrors(error.response.data)
                        this.addMessage(error.response.status + " " + error.response.statusText, 'error')
                    });
                },
                addErrors: function (data) {
                    for (const field in data){
                        $('#id_'+ field).addClass( "form-control is-invalid" );
                        $('#id_'+ field).after(
                            "<div class=\"invalid-feedback\">" + data[field] + "</div>"
                        )
                    }
                },
                clearErrors: function () {
                    $('#modal-create-update').find('.is-invalid').removeClass( "is-invalid" );
                    $('#modal-create-update').find('.is-invalid').removeClass( "is-valid" );
                    $('#modal-create-update').find('.invalid-feedback').remove()
                },
                addSpinner: function (id) {
                     var submit_btn = $("#" + id);
                     submit_btn.append(
                        `<span
                        class="spinner-grow spinner-grow-sm"
                        style="vertical-align: baseline;
                        margin-bottom: -2px;"
                        role="status"
                        aria-hidden="true"></span>`
                     );
                     submit_btn.prop("disabled", true)
                },
                removeSpinner: function (id) {
                    var submit_btn = $("#" + id);
                    submit_btn.prop("disabled", false);
                    $('#modal-create-update').find('.spinner-grow').remove()
                },
                addMessage: function (message, status) {
                    if (status === "success"){
                        this.messages_status = 'alert-info'
                    }
                    if (status === "error"){
                        this.messages_status = 'alert-danger'
                    }
                    this.messages.push(message);
                    setTimeout(this.removeMessage, 5000)
                },
                removeMessage: function () {
                    this.messages = []
                }
            },
        })
    </script>
{% endblock %}

