<template>

    <div class="w-100">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Список валют</h3>
            <div id="default_currency" >
                <select  class="ui-border ui-radius-both heigh-1 width-8" v-model="defaultCurrency" >
                    <option v-for="item in currencies" :key="item.id" :value="item.id" >{{item.name}}</option>
                </select>
            </div>
        </div>

        <div class="mb-5">

            <table id="currencies_list" class="table table-hover table-bordered">
                <thead>
                    <tr >
                        <th>Название</th>
                        <th class="last-col-width"></th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="item in instances" :key="item.id">
                            <td>{{ item.name }}</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-primary border-0 ml-3"
                                    v-on:click="$emit('update-instance', item.id)"
                                >
                                    <i class="far fa-pencil"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-primary border-0 "
                                    v-on:click="$emit('delete-instance', item.id)"
                                    v-if="item.is_deletable"
                                >
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                </tbody>

            </table>
        </div>



        <div class="mb-3">
            <h3>Список курсов</h3>
        </div>

        <div class="mb-5">
            <table  id="rates_list" class="table table-hover table-bordered">
                <thead>
                    <tr >
                        <th>Валюта</th>
                        <th>Курс</th>
                        <th class="last-col-width"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in rates" :key="item.id">
                        <td>{{ item.target_display }} / {{ item.source_display }}</td>
                        <td>{{ item.rate }}</td>
                        <td>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-primary border-0 ml-3"
                                    v-on:click="$emit('update-rate', item.id)"
                                >
                                    <i class="far fa-pencil"></i>
                                </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>




        <div >
            <div>
                <h2 class="mb-5 mt-4">Конвертация транзакций</h2>
                <div class="alert alert-info" >
                    <div class="container  py-4">
                        <div class="row">
                        <div class="col-6">
                            <h3>Логика работы системы курсов валюты следующая:</h3><br><br>
                            <p>представьте коробки, в которых лежат деньги с разной закупочной стоимостью. Вам нужно потратить деньги их этих коробок. Сначала вы берете из самой первой, потом когда в ней закончились деньги из следующей и т.д. Таким образом для каждой расходной транзакции вы знаете ее стоимость конвертации (курс). Ну а коробки - это каждый приход денег: если вы меняли деньги в обменнике, вы знаете курс - его и используете. Если вам деньги подарил друг, то вы используете курс актуальный на день подарка.</p>
                            <p>При использовании свой валюты, вы можете знать закупочную цену если производили обмен, но если вы просто получили сумму в валюте, то курс не известен. В нашей системе мы считаем его равным прошлой доходной транзакции. А если таковой нет - то используется курс по умолчанию</p>
                            <p>Итого:</p>
                            <ul>
                                <li>доходная транзакция:</li>
                                <ul>
                                    <li>если это оплаченная транзакция: если это перевод - то у него есть курс конвертации, если доход - берется курс последней конвертации. если ее нет - то курс по умолчанию из БД.</li>
                                    <li>если плановая транзакция: используется курс по умолчанию из БД</li>
                                </ul>

                            <li>расходная транзакция:</li>
                                <ul>
                                    <li>если это оплаченная транзакция: системы стэков - сначала берутся деньги из самой первой доходной транзакции с ее курсом, потом из следующей и т.д. если стэки закончились - используется курс по умолчанию.</li>
                                    <li>если плановая транзакция:  используется курс по умолчанию из БД</li>
                                </ul>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h3>Здесь вы можете проверить логику  работу системы:</h3><br><br>

                        <form  v-on:submit.prevent="convert">
                            <label class="label1 w-100">
                                Транзакция для конвертации
                            </label>
                            <div >
                                <input v-model="convertTransaction" type="text" class="ui-border ui-radius-both heigh-1 width-100">
                            </div>
                            <label class="label1  w-100" >
                                В какаую валюту перевести
                            </label>
                            <select  class="ui-border ui-radius-both heigh-1 width-8" v-model="convertCurrency" >
                                <option v-for="item in currencies" :key="item.id" :value="item.id" >{{item.name}}</option>
                            </select>
                            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5 mt-3" id="conversion">Конвертировать</button>

                        </form>
                            <div id="conversion_result" class="mt-4">
                                {{converted}}
                            </div>
                        </div>
                      </div>
                    </div>

                '


                </div>
            </div>
        </div>



    </div>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'searchQuery',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getDefaultCurrency()
    },
    data(){
        return{
            instances:{},
            rates:{},
            currencies:{},
            defaultCurrency:null,
            convertTransaction:null,
            convertCurrency:null,
            converted:'',
            url:"/setup/api/currencies/",
            urlDefaulCurrency:"/setup/api/currencies/default/",
            urlToConvert:"/setup/api/convert/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    searchquery: this.searchQuery,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.rates = response.data.rates;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
        getDefaultCurrency(){
            axios({
                method: 'get',
                url: this.urlDefaulCurrency,
            })
            .then(response => {
                this.currencies = response.data.list;
                for (const item of this.currencies){
                    if (item.is_default === true) {
                        this.defaultCurrency = item.id
                    }
                }
            })
        },
        convert(){
            console.log('aa')
            axios({
                method: 'get',
                url: this.urlToConvert,
                params: {
                    transaction: this.convertTransaction,
                    currency: this.convertCurrency,
                }
            })
            .then(response => {
                this.converted = response.data;
            })
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        },
        searchQuery: _.debounce(function(newValue){
            this.getInstanceAll()
        },500),
        defaultCurrency(newValue){
            axios({
                method: 'post',
                url: this.urlDefaulCurrency,
                data: {
                    id:newValue,
                },
            })
            .then(response => {
            })
        }
    },
}
</script>

