<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.create}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label class="label1">
                                        Категория <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldCategory" v-if="extra" required>
                                        <option v-for="item in extra.categories" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label class="label1">
                                        Субкатегория <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldSubcategory" v-if="extra">
                                        <option v-for="item in listSubcategories" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                               <div class="col-6">
                                     <label class="label1">
                                        Короткое название проекта <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldNameShort" required>
                                </div>
                            </div>
                            <div class="row mb-3" v-if="showProjectGroup">
                                <div class="col-3">
                                     <label class="label1">
                                        Бренд <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldBrand" v-if="extra" required>
                                        <option v-for="item in extra.brand" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label class="label1">
                                        Формат работы <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldWorkFormat" v-if="extra" required>
                                        <option v-for="item in extra.work_format" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                               <div class="col-6">
                                     <label class="label1">
                                        Формат договора <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="fieldAgreementFormat" v-if="extra" required>
                                        <option v-for="item in extra.agreement_format" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                               </div>
                            </div>
                            <div class="row mb-3" v-if="showProjectGroup && showCommission">
                                <div class="col-3">
                                     <label class="label1">
                                        Коммиссия <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number" class="ui-border ui-radius-right heigh-1 width-100" v-model="fieldCommission" >

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.create}}</button>
                </div>

        </form>



    </section>






</template>

<script>
import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            fieldCategory:null,
            fieldSubcategory:null,
            fieldNameShort:null,
            fieldBrand:null,
            fieldWorkFormat:null,
            fieldAgreementFormat:null,
            fieldCommission:null,
            listSubcategories:[],

            showProjectGroup: false,
            showCommission: false,

            urlExtra:"/projects/api/extra",
            urlList:"/projects/api/",
            showModal: false,

            message: {},
            submitDisabled: false,
        }
    },
    computed:{
        instance(){
            return {
                category: this.fieldCategory,
                subcategory: this.fieldSubcategory,
                name_short: this.fieldNameShort,
                brand: this.fieldBrand,
                work_format: this.fieldWorkFormat,
                agreement_format: this.fieldAgreementFormat,
                commission: this.fieldCommission,

            }
        },
    },
    methods:{
        show(){
            this.setDefault();
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'post',
                url: this.urlList,
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.created,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
        setDefault(){
            this.fieldCategory = 1
            this.fieldSubcategory = null
            this.fieldNameShort = ''
            this.fieldBrand = null
            this.fieldWorkFormat = null
            this.fieldAgreementFormat = null
            this.fieldCommission = null
        },
    },
    watch:{
        fieldCategory(newValue){
            var list = [];
            for (const subcat of this.extra.subcategories){
                if (subcat.category === newValue) {
                    list.push(subcat)
                }
            }
            this.listSubcategories = list

            if (newValue === 1){
                this.showProjectGroup = true
            } else{
                this.showProjectGroup = false
            }
        },
        fieldAgreementFormat(newValue){
            if (newValue === 1){
                this.showCommission = true
            } else {
                this.showCommission = false
            }
        },
    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

