<template>
    <div></div>
</template>

<script>
import axios from 'axios'
export default {
    props: [ 'filterParam'],
    data(){
        return{
            history:{},
            url:"/projects/api/excel/",
            showModal: false,
        }
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    methods:{
         export: function () {
             axios({
                 method: 'post',
                 url: this.url,
                 responseType: 'blob',
                 data: {
                     filter: this.filterParam
                 }
             })
             .then(response => {
                const downloadUrl = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = downloadUrl;
                link.setAttribute('download', 'transactions.xls'); //any other extension
                document.body.appendChild(link);
                link.click();
                link.remove();
                 })
             .catch(function (response) {
                 console.log(response);
             });
         },
    },
}
</script>


