<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <div class="modal">
            <img class="modal-close-btn" src='/static/documents/img/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.h1_history}}
                    </h4>
                </div>

            <div class="modal-body">
                <p v-for="h in projects" v-html="h"></p>
                <p v-for="h in periods" v-html="h"></p>
                <p v-for="h in reports" v-html="h"></p>
                <p v-for="h in services" v-html="h"></p>
                <p v-for="h in services_in_report" v-html="h"></p>
                <p v-for="h in teams" v-html="h"></p>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-success btn-lg pl-5 pr-5"  v-on:click="close">ОК</button>
            </div>
        </div>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [ 'wording'],
    data(){
        return{
            projects:{},
            periods:{},
            reports:{},
            services:{},
            services_in_report:{},
            teams:{},
            url:"/projects/api/history",
            showModal: false,
        }
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    methods:{
        show(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.projects = response.data.projects;
                this.periods = response.data.periods;
                this.reports = response.data.reports;
                this.services = response.data.services;
                this.services_in_report = response.data.services_in_report;
                this.teams = response.data.teams;
                this.showModal = true
                $("body").attr('class', 'modalopen')
            })
            .catch(function (response) {
                console.log(response);
            });
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
    },
}
</script>


