<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.interface.settings}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>{{wording.interface.filter}}</h5>
                    </div>
                    <div class="block-section-modal">

                        <table class="table" >
                        <thead>
                            <tr >
                                <th class="width-4 list">Номер проекта <i id="code_2" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Короткое название проекта <i id="code_3" class="help-modal far fa-question-circle question-icon"></i> </th>
                                <th class="width-6 list">Категория проекта<i id="code_4" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-6 list">Субкатегория проекта<i id="code_5" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Бренд<i id="code_6" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-3 list">Формат оценки работы<i id="code_7" class="help-modal far fa-question-circle question-icon"></i></th>
    <!--                            <th class="width-5 list">Формат договора<i id="code_8" class="help-modal far fa-question-circle question-icon"></i></th>-->
                                <th class="width-5 list">Стадия проекта<i id="code_9" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-3 list">Начало работы по проекту<i id="code_10" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-3 list">Завершение работы по проекту<i id="code_11" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Источник лида<i id="code_12" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Формат получения договора<i id="code_13" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Продукты проекта<i id="code_14" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-3 list">Когда создан<i id="code_15" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Создан пользователем<i id="code_16" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-3 list">Когда изменен<i id="code_17" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Изменен пользователем<i id="code_18" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Лидер проекта<i id="code_19" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Команда проекта<i id="code_20" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Вовлеченные юниты<i id="code_21" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Выручка (в основной валюте)<i id="code_22" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Внешние расходы (в основной валюте)<i id="code_23" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Валовая прибыль (в основной валюте)<i id="code_24" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">РВП (в основной валюте)<i id="code_25" class="help-modal far fa-question-circle question-icon"></i></th>
                                <th class="width-5 list">Может быть отредактирован<i id="code_26" class="help-modal far fa-question-circle question-icon"></i></th>
                            </tr>
                            <tr>
                                <td v-for="(value, name, index) in colParam">
                                    <div class="custom-control custom-switch" v-if="name !== 'name'">
                                        <input type="checkbox" class="custom-control-input" :id="index" v-model="colParam[name]">
                                        <label class="custom-control-label" :for="index"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr is="v-filter" ref="filter" :isInFilterModal="true" :filter-param.sync="filterParam" ></tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"

                    >
                        {{wording.button.ok}}</button>
                </div>

        </form>



    </section>






</template>

<script>
import axios from 'axios'
import $ from "jQuery";
import Filter from '@/components/projects/Filter.vue'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-filter': Filter,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.checkCookies()
    },
    data(){
        return{
            showModal: false,
            message: {},
            filterParam:{},
            colParam:{}
        }
    },
    methods:{
        show(){
            this.filterParam = {}
            this.colParam = {}
            this.filterParam = JSON.parse(JSON.stringify(this.$store.state.interfaceProjectsInitSetFilter))
            this.colParam = JSON.parse(JSON.stringify(this.$store.state.interfaceProjectsInitSetColumn))
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            this.$store.commit('interfaceProjectsFilterInitSet', this.filterParam)
            this.$store.commit('interfaceProjectsColumnInitSet', this.colParam)
            this.message = {
                status: 'success',
                text: this.wording.message.settings,
            };
            this.$emit('send-message', this.message);
            this.close()
        },
        checkCookies(){
            try {
                this.$store.commit('interfaceProjectsFilterInitSet', JSON.parse(this.getCookie('projects_interface_filter')))
            } catch (e) {
                this.$store.commit('interfaceProjectsFilterInitSet', this.$store.state.interfaceProjectsInitDefaultFilter)
            }
            try {
                this.$store.commit('interfaceProjectsColumnInitSet', JSON.parse(this.getCookie('projects_interface_column')))
            } catch (e) {
                this.$store.commit('interfaceProjectsColumnInitSet', this.$store.state.interfaceProjectsInitDefaultColumn)
            }
        },
    },

}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

