<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    {{wording.header}}
                </h1>
            </div>
        </section>


        <section class="content-area">
            <div class="block-section-3">
                <div class="row mb-5 mt-3">
                    <div class="col-4">
                        <h2>{{wording.subheader.classic}}</h2>
                    </div>
                    <div class="col-4">
                        <h2>{{wording.subheader.effectiveness}}</h2>
                    </div>
<!--                    <div class="col-4">-->
<!--                        <h2>Сотрудники</h2>-->
<!--                    </div>-->
                </div>
                <div class="row">
                    <div class="col-4">
                        <p><router-link :to="{ name: 'ReportPL'}">{{wording.menu.pl}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'ReportCashflow'}">{{wording.menu.cashflow}}</router-link><br></p>
                    </div>

                    <div class="col-4">
                        <p><router-link :to="{ name: 'ReportSubcontractors'}">{{wording.menu.subcontractors}}</router-link></p><hr>
                        <p><router-link :to="{ name: 'ReportBrands'}">{{wording.menu.brands}}</router-link></p>
                    </div>

<!--                    <div class="col-4">-->
<!--                        <p><a href="#">ФОТ</a></p><hr>-->
<!--                        <p><a href="#">Обороты</a></p><hr>-->
<!--                        <p><a href="#">Часы</a></p>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
    </div>

</template>

<script>

import Wording from './wording.json'

export default {
    name: 'Reports',
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
}
</script>




