<template>
    <div>
        <section class="header ">
            <div class="d-flex align-items-center">
                    <router-link :to="{ name: 'Reports'}">
                        <div class=" px-4 py-4 border-right back-btn">
                            <h4 ><i class="fal fa-chevron-left"></i></h4>
                        </div>
                    </router-link>

                <h1 class="ml-3 mt-1" style="width:320px;">
                    <div>Отчет по Контрагентам</div>
                </h1>
            </div>
            <div class="d-flex   border-left pl-3 py-3 w-100 justify-content-between" >


                <div class="d-flex align-items-center">

                    <div  style="width: 100px;">
                        <select  class="ui-border ui-radius-both heigh-1 width-3" v-model="grid" required>
                            <option value="1" >День</option>
                            <option value="2" >Неделя</option>
                            <option value="3" >Месяц</option>
                            <option value="4" >Квартал</option>
                            <option value="5" >Год</option>
                        </select>
                    </div>

                    <div  v-if="day"  class="ml-1">
                        <input type="date" class="ui-border ui-radius-both heigh-1 width-3"  v-model="dayFrom" required>
                    </div>
                    <div  v-if="week"  class="ml-1">
                        <input type="date" class="ui-border ui-radius-both heigh-1 width-3"  v-model="weekFrom" required>
                    </div>
                    <div  v-if="month" class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-3" v-model="monthFrom" required>
                            <option value="1" >Январь</option>
                            <option value="2" >Февраль</option>
                            <option value="3" >Март</option>
                            <option value="4" >Апрель</option>
                            <option value="5" >Май</option>
                            <option value="6" >Июнь</option>
                            <option value="7" >Июль</option>
                            <option value="8" >Август</option>
                            <option value="9" >Сентябрь</option>
                            <option value="10" >Октбярь</option>
                            <option value="11" >Ноябрь</option>
                            <option value="12" >Декабрь</option>
                        </select>


                    </div>
                    <div  v-if="month"  class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="monthYearFrom" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>
                    <div  v-if="quartal" class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="quartalFrom" required>
                            <option value="1" >I</option>
                            <option value="2" >II</option>
                            <option value="3" >III</option>
                            <option value="4" >IV</option>
                        </select>
                    </div>
                    <div  v-if="quartal" >
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="quartalYearFrom" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>
                    <div  v-if="year"  class="ml-1">
                          <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="yearFrom" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>


                    <div class="mx-2">—</div>


                    <div v-if="day"  class="ml-1">
                        <input type="date" class="ui-border ui-radius-both heigh-1 width-3"  v-model="dayTo" required>
                    </div>
                    <div v-if="week"class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-both width-3" v-model="weekIntervalFrom" required>
                            <option value="2" >2 недели</option>
                            <option value="4" >4 недели</option>
                            <option value="6" >6 недель</option>
                            <option value="8" >8 недели</option>
                            <option value="12" >12 недель</option>
                        </select>
                    </div>
                    <div v-if="month"  class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-3" v-model="monthTo" required>
                            <option value="1" >Январь</option>
                            <option value="2" >Февраль</option>
                            <option value="3" >Март</option>
                            <option value="4" >Апрель</option>
                            <option value="5" >Май</option>
                            <option value="6" >Июнь</option>
                            <option value="7" >Июль</option>
                            <option value="8" >Август</option>
                            <option value="9" >Сентябрь</option>
                            <option value="10" >Октбярь</option>
                            <option value="11" >Ноябрь</option>
                            <option value="12" >Декабрь</option>
                        </select>
                    </div>
                    <div v-if="month"  class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="monthYearTo" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>
                    <div v-if="quartal" class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="quartalTo" required>
                            <option value="1" >I</option>
                            <option value="2" >II</option>
                            <option value="3" >III</option>
                            <option value="4" >IV</option>
                        </select>
                    </div>
                    <div v-if="quartal" >
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="quartalYearTo" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>
                    <div v-if="year" class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-2" v-model="yearTo" required>
                            <option value="2018" >2018</option>
                            <option value="2019" >2019</option>
                            <option value="2020" >2020</option>
                            <option value="2021" >2021</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center ml-3">
                    <div   class="ml-1  ">
                        <select  class="ui-border ui-radius-both heigh-1 width-3" v-model="pay_status" required>
                            <option value="1" >Все</option>
                            <option value="2" >Оплаченные</option>
                            <option value="3" >Запланированные</option>

                        </select>
                    </div>
                    <div   class="ml-1">
                        <select  class="ui-border ui-radius-both heigh-1 width-4" v-model="taxes" required>
                            <option value="0" >Без налогов</option>
                            <option value="1" >С налогами</option>
                        </select>
                    </div>
                </div>
                <button  type="button" class="btn btn-outline-primary  pr-3 pl-3 pt-2 pb-2 ml-3"
                    v-on:click="defaultFilters">
                    <i class="far fa-times"></i>

                </button>
                <button type="submit" class="btn  btn btn-primary pr-3 pl-3 pt-2 pb-2 ml-1"
                    v-on:click="getReport"
                >
                    Выгрузить
                </button>
            </div>
        </section>




        <section class="content-area">
            <div class="block-section-3" >

                <div v-if="empty" class="d-flex flex-column align-items-center justify-content-center"    style="height: 80vh; color: lightgrey;" >
                    <i class="fal fa-chart-bar" style="font-size:17em;"></i>
                    <p  style="font-size:1em;">Отчет пока не создан</p>
                </div>
                <div v-else>
                    <div class="row" v-if="reportRaw">
                    <div class="col-2 mb-3">
                        <label for="group">Группировка</label>
                        <select
                        id="group"
                        v-model="groupSelected">
                            <option
                             v-for="item in groupVerbose" v-bind:value="item.id"
                            >{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2 mb-3" v-show="showLevels">
                        <label for="levels">Глубина просмотра</label>

                        <select
                        id="levels"
                        v-model="levelSelected">
                            <option
                             v-for="item in levelVerbose"
                            >{{item}}
                            </option>
                        </select>
                    </div>
                </div>


                <table class="table table-bordered table-sm" v-if="reportRaw">
                    <thead class="thead-dark">
                        <td class="normal3  align-middle"></td>
                        <td class="normal3  align-middle" style="min-width: 100px;">За период</td>
                        <td
                                class="normal3  align-middle" style="min-width: 135px;"
                            v-for="item in reportRaw.header"
                        >{{item}}</td>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in reportFiltered.data"
                            v-bind:class="colorize(item)"
                        >
                            <td v-bind:class="colorize(item)" style="min-width: 400px;" >
                                {{item.added}}
                                {{item.transaction}}
                                <span v-show="!showLevels">
                                    <span v-show="item.project" class="text-muted">
                                    — {{item.project}} / {{item.subcategory}} / {{item.category}}

                                    </span>
                                </span>
                            </td>
                            <td  class="normal3  align-middle" style="min-width: 100px;">{{item.sum}}</td>
                            <td style="min-width: 120px;"
                                class="normal3  align-middle"
                                v-for="el in item.timegrid"
                            >
                                {{el}}
                            </td>

                        </tr>
                    </tbody>
                </table>
                </div>



                </div>
        

        </section>
    </div>

</template>

<script>


import axios from 'axios';



export default {
    name: 'ReportPL',
    components: {
    },
    data(){
        return{
            url:'/reports/api/subcontractors/',
            grid: '1',
            dayFrom : '',
            weekFrom : '',
            weekIntervalFrom : '2',
            monthFrom : '1',
            monthYearFrom : '',
            quartalFrom : '1',
            quartalYearFrom : '',
            yearFrom : '',
            dayTo : '',
            monthTo : '12',
            monthYearTo : '',
            quartalTo : '4',
            quartalYearTo : '',
            yearTo : '',
            pay_status : '1',
            taxes : '1',
            day: true,
            week: false,
            month: false,
            quartal: false,
            year: false,
            empty: true,
            initial: '',
            groupVerbose:
            [
                {
                    id: 0,
                    name: 'По контрагенту'
                }
            ],
            groupSelected: '0',
            levelSort: '',
            levelSelected: '',
            levelVerbose: '',
            showLevels: true,
            taxe_selected: '',
            reportRaw: {},
            reportFormated: '',
            reportFiltered: '',
        }
    },
    computed: {},
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted: function() {
        this.defaultFilters()
    },
    watch: {
        grid: function (newGrid, oldGrid) {
            if (newGrid === '1'){
                this.day = true;
                this.week = false;
                this.month = false;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '2'){
                this.day = false;
                this.week = true;
                this.month = false;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '3'){
                this.day = false;
                this.week = false;
                this.month = true;
                this.quartal = false;
                this.year = false
            }
            if (newGrid === '4'){
                this.day = false;
                this.week = false;
                this.month = false;
                this.quartal = true;
                this.year = false
            }
                if (newGrid === '5'){
                this.day = false;
                this.week = false;
                this.month = false;
                this.quartal = false;
                this.year = true
          }
        },
        levelSelected: function (newLevelSelected, oldLevelSelected) {
            for (let j = 0; j < this.levelVerbose.length; j++) {
                if (newLevelSelected === this.levelVerbose[j]) {

                    if (newLevelSelected !== this.levelVerbose[this.levelVerbose.length - 1]) {

                        let reportFormatedCopy = JSON.parse(JSON.stringify(this.reportFormated));
                        if (reportFormatedCopy.data){
                            for (var i = reportFormatedCopy.data.length - 1; i >= 0; i--) {
                                if (reportFormatedCopy.data[i].indent > j) {
                                    reportFormatedCopy.data.splice(i, 1);
                                }
                            }
                        }

                        this.reportFiltered = reportFormatedCopy;
                        return this.reportFiltered
                    }
                    else{
                        this.reportFiltered = JSON.parse(JSON.stringify(this.reportFormated));
                        return this.reportFiltered
                    }
                }
            }
        },
        groupSelected: function(newGroupSelected, oldGroupSelected){
            this.reportBuilder(newGroupSelected);
            this.defaultSelected(newGroupSelected)
        },
    },
    methods: {
        getReport(){
            this.levelSort = ''
            this.levelSelected = ''
            this.levelVerbose = ''

            axios({
                method: 'post',
                url: this.url,
                data: {
                    grid: this.grid,
                    dayFrom : this.dayFrom,
                    weekFrom : this.weekFrom,
                    weekIntervalFrom : this.weekIntervalFrom,
                    monthFrom : this.monthFrom,
                    monthYearFrom : this.monthYearFrom,
                    quartalFrom : this.quartalFrom,
                    quartalYearFrom : this.quartalYearFrom,
                    yearFrom : this.yearFrom,
                    dayTo : this.dayTo,
                    monthTo : this.monthTo,
                    monthYearTo : this.monthYearTo,
                    quartalTo : this.quartalTo,
                    quartalYearTo : this.quartalYearTo,
                    yearTo : this.yearTo,
                    pay_status : this.pay_status,
                    taxes : this.taxes,
                },
            })
            .then(response => {
                this.reportRaw = JSON.parse(response.data.report);
                this.empty = false
                this.reportBuilder(this.groupSelected); // building report
                this.defaultSelected(this.groupSelected); // setting default select filters
            })
            .catch(function (response) {
                console.log(response);
            });
        },
        defaultSelected: function(id){
            id = parseInt(id)
            if (id === 0){
                this.showLevels = true;
                this.levelSelected = this.levelVerbose[this.levelVerbose.length-2]
                // console.log(this.levelSelected)
            }
            if (id === 1){
                this.showLevels = false;
            }
        },
        defaultFilters: function(){
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();
            var year = d.getFullYear();
            var now = year + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;
            this.dayFrom = now;
            this.weekFrom = now;
            this.monthYearFrom = year;
            this.quartalYearFrom = year;
            this.yearFrom = year;
            this.dayTo = now;
            this.monthYearTo = year;
            this.quartalYearTo = year;
            this.yearTo = year ;
            this.pay_status = 1
            this.taxes = '1'
        },
        reportBuilder: function(groupSelected){
            try {
                try {
                    this.levelSort = this.reportRaw.levels[groupSelected];
                    this.levelVerbose = this.reportRaw.levels_verbose[groupSelected];

                    let sortBy = this.reportRaw.sort_by[groupSelected];
                    this.reportRaw.data.sort(function(a,b){
                        let i = 0, result = 0;
                        while(i < sortBy.length && result === 0) {
                            result = sortBy[i].direction*(a[ sortBy[i].prop ].toString() < b[ sortBy[i].prop ].toString() ? -1 : (a[ sortBy[i].prop ].toString() > b[ sortBy[i].prop ].toString() ? 1 : 0));
                            i++;
                        }
                        return result;
                    });
                }
                catch (err) {
                    console.log('нет сортировки');
                }

                let reportRawCopy = JSON.parse(JSON.stringify(this.reportRaw));
                let reportRawCopyFormated = this.linesBuilder(reportRawCopy, groupSelected);
                this.reportFormated = JSON.parse(JSON.stringify(reportRawCopyFormated));
                this.reportFiltered = JSON.parse(JSON.stringify(reportRawCopyFormated))
            }
            catch (err) {
                console.log('нет  объекта 2');
                this.reportFormated = '';
                this.reportFiltered = ''
            }
        },
        linesBuilder : function (reportRawCopy, groupSelected) {
            try {
                this.reportRaw.levels[groupSelected] // to check if it's a Non sorting oprtion
                reportRawCopy.data = this.indentAdd(reportRawCopy.data)
                reportRawCopy.data = this.grouper(reportRawCopy.data, this.levelSort, this.levelSort.length);
            }
            catch (err) {
                console.log('нет сортировки');
            }
            reportRawCopy.data = this.summerizer_horizontal(reportRawCopy.data);

            return reportRawCopy
        },
        indentAdd: function(reportRawCopyData){
            let level;
            try {
                level = this.levelSort.length
            }
            catch (err){
                level=1

            }
            for (var i = 0; i < reportRawCopyData.length; i++){
                reportRawCopyData[i].indent = level
            }
            return reportRawCopyData
        },
        summerizer_horizontal: function(reportRawCopyData){
            for (let i = 0; i < reportRawCopyData.length; i++){
                    let sum = 0;
                    for (let j = 0; j < reportRawCopyData[i]['timegrid'].length; j++) {
                        sum = Number((sum + reportRawCopyData[i]['timegrid'][j]).toFixed(2))
                    }
                    reportRawCopyData[i]['sum'] = sum;
                    sum = 0
            }
            return reportRawCopyData
        },
        grouper: function(reportRawCopyData, levels, length){
            let param = levels[0];
            if (param !== undefined) {
                let new_data = [];

                // loop data
                let state = reportRawCopyData[0][param]; // use state of the first element
                let gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0); // fill timegrid with zeros
                let datasum = [];

                for (var i = 0; i < reportRawCopyData.length; i++) {
                    if (reportRawCopyData[i][param] === state && i === (reportRawCopyData.length - 1)) {
                        gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                        datasum.push(reportRawCopyData[i]);
                    }

                    //if state has changed OR we are in the end of array
                    if (reportRawCopyData[i][param] !== state || i === (reportRawCopyData.length - 1)) {

                        let new_levels = levels.slice();
                        new_levels.shift();
                        datasum = this.grouper(datasum, new_levels, length);

                        let added;
                        if (param === 'transaction_type'){
                            if (state === 0){added = 'Расход'} else{ added = 'Доход'}
                        } else{
                            added = state
                        }
                        let obj = {
                                'indent': length - levels.length,
                                'added': added,
                                'timegrid': gridsum
                            };

                        new_data.push(obj);
                        new_data = new_data.concat(datasum);

                        gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0);
                        datasum = []
                    }

                    //if state has changed AND we are in the end of array
                    if (reportRawCopyData[i][param] !== state && i === (reportRawCopyData.length - 1)) {
                        gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                        datasum.push(reportRawCopyData[i]);
                        state = reportRawCopyData[i][param];

                        let new_levels = levels.slice();
                        new_levels.shift();
                        datasum = this.grouper(datasum, new_levels, length);

                        let added;
                        if (param === 'transaction_type'){
                            if (state === 0){added = 'Расход'} else{ added = 'Доход'}
                        } else{
                            added = state
                        }
                        let obj = {
                                'indent': length - levels.length,
                                'added': added,
                                'timegrid': gridsum
                            };

                        new_data.push(obj);
                        new_data = new_data.concat(datasum);

                        gridsum = Array(reportRawCopyData[0]['timegrid'].length).fill(0);
                        datasum = []

                    }
                    gridsum = this.arraySum(gridsum, reportRawCopyData[i].timegrid, true);
                    datasum.push(reportRawCopyData[i]);
                    state = reportRawCopyData[i][param];
                }
                reportRawCopyData = new_data
            }
            return reportRawCopyData
        },
        arraySum: function (array1, array2, type){
            var result = [];
            var ctr = 0;
            var x=0;

            if (array1.length === 0)
            return "array1 is empty";
            if (array2.length === 0)
            return "array2 is empty";

            if (type){
                while (ctr < array1.length && ctr < array2.length) {
                    // console.log((array1[ctr] + array2[ctr]))
                    result.push(Number((array1[ctr] + array2[ctr]).toFixed(2)));
                    ctr++;
                }
                if (ctr === array1.length) {
                    for (x = ctr; x < array2.length; x++)   {
                      result.push(array2[x]);
                    }
                }
                else {
                    for (x = ctr; x < array1.length; x++)
                        {
                          result.push(array1[x]);
                    }
                }
                return result;

            } else {
                while (ctr < array1.length && ctr < array2.length) {
                    // console.log((array1[ctr] - array2[ctr]))
                    result.push(Number((array1[ctr] - array2[ctr]).toFixed(2)));
                    ctr++;
                }
                if (ctr === array1.length) {
                    for (x = ctr; x < array2.length; x++)   {
                      result.push(array2[x] * -1 );
                    }
                }
                else {
                    for (x = ctr; x < array1.length; x++)
                        {
                          result.push(array1[x] * -1 );
                    }
                }
                return result;
            }
        },
        colorize: function (item) {
            if (item.indent === false){
                return  'normal  align-middle tablerow-f-c tablerow-f-p'
            }
            if (item.indent === 0) {
                return 'normal  align-middle tablerow-0-c tablerow-0-p'
            }
            else if (item.indent === 1){
                if(this.groupSelected !== this.groupVerbose.length -1 ){
                    return  'normal  align-middle tablerow-1-c tablerow-1-p'
                } else{
                    return  'normal  align-middle tablerow-4-c tablerow-1-p'
                }
            }
            else if (item.indent === 2){
                return 'normal  align-middle tablerow-4-c tablerow-2-p'
            }
        },
    },
}
</script>




