<template>
    <tr class="multifilters" >

        <td class="no margin-1" v-if="colParam.type || isInFilterModal">
            <v-select
                    v-if="extra"
                    v-model="filterParam.type"
                    :options="extra.type"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1" v-if="colParam.full_name || isInFilterModal">
            <input type="text" class="ui-border ui-radius-both heigh-1" v-model="filterParam.name" >
        </td>
        <td class="no margin-1" v-if="colParam.signed_at || isInFilterModal">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateSignFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateSignTo" >
        </td>
        <td class="no margin-1" v-if="colParam.status || isInFilterModal">
            <select multiple class="multiselect" size="8" v-model="filterParam.status" v-if="extra">
                <option v-for="item in extra.status" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1" v-if="colParam.status_date || isInFilterModal">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStatusFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.dateStatusTo" >
        </td>
        <td class="no margin-1" v-if="colParam.agreement || isInFilterModal" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.agreement"
                    :options="extra.agreements"
                    label="full_name_with_parents"
                    :reduce="full_name_with_parents => full_name_with_parents.id"
            >
            </v-select>
        </td>
        <td class="no margin-1"  v-if="colParam.subcontractor || isInFilterModal">
            <v-select
                    v-if="extra"
                    v-model="filterParam.subcontractor"
                    :options="extra.subcontractors"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1" v-if="colParam.mycompany || isInFilterModal">
            <select multiple class="multiselect" size="8" v-model="filterParam.mycompany" v-if="extra">
                <option v-for="item in extra.mycompany" :key="item.id" :value="item.id" >{{item.name}}</option>
            </select>
        </td>
        <td class="no margin-1" v-if="colParam.covered_period_from || isInFilterModal">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodStartFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodStartTo" >
        </td>
        <td class="no margin-1" v-if="colParam.covered_period_till || isInFilterModal">
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodEndFrom" > -
            <input type="date" class="ui-border ui-radius-both heigh-1" v-model="filterParam.datePeriodEndTo" >
        </td>
        <td class="no margin-1" v-if="colParam.project || isInFilterModal" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.project"
                    :options="extra.projects"
                    label="full_name"
                    :reduce="full_name => full_name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1" v-if="colParam.transaction || isInFilterModal" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.transaction"
                    :options="extra.transactions"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>
        <td class="no margin-1" v-if="colParam.report || isInFilterModal" >
            <v-select
                    v-if="extra"
                    v-model="filterParam.report"
                    :options="extra.reports"
                    label="name"
                    :reduce="name => name.id"
            >
            </v-select>
        </td>

        <td class="no margin-1" v-if="colParam.has_attachment || isInFilterModal">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasAttachments"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        <td class="no margin-1" v-if="colParam.has_scan || isInFilterModal">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasScan"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        <td class="no margin-1" v-if="colParam.has_src || isInFilterModal">
            <select multiple class="multiselect" size="8" v-model="filterParam.hasSrc"  v-if="extra">
                <option value="1" >Да</option>
                <option value="0" >Нет</option>
            </select>
        </td>

        </tr>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'

export default {
    props: [
        'isInFilterModal'
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
       this.$nextTick(function () {
            this.filterParam = JSON.parse(JSON.stringify(this.$store.state.interfaceAccountingsInitSetFilter))
        })
        this.getExtra();
    },
    data(){
        return{
            filterParam:{},
            extra:null,
            url:"/docs/api/accounting/extra",
        }
    },
    computed:{
        colParam(){
            return this.$store.state.interfaceAccountingsInitSetColumn
        }
    },
    methods:{
        getExtra(){
            axios({
                method: 'get',
                url: this.url,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        clean(){
            this.filterParam = JSON.parse(JSON.stringify(this.$store.state.interfaceAccountingsInitSetFilter))
        },
    },
    watch:{
        filterParam:{
            deep: true,
            handler: function (newValue) {
                this.$emit('update:filter-param', newValue);
            },
        },
    },
}
</script>


