<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.interface.settings}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>{{wording.interface.filter}}</h5>
                    </div>
                    <div class="block-section-modal">

                        <table class="table" >
                        <thead>
                            <tr >
                                <th class="width-5 list">{{wording.fields.type }}</th>
                                <th class="width-3 list">{{wording.fields.name }}</th>
                                <th class="width-4 list">{{wording.fields.signed_at }}</th>
                                <th class="width-8-1 list">{{wording.fields.status }}</th>
                                <th class="width-4 list">{{wording.fields.date_status_change }}</th>
                                <th class="width-10 list">{{wording.fields.agreement }}</th>
                                <th class="width-6 list">{{wording.fields.subcontractor }}</th>
                                <th class="width-5 list">{{wording.fields.mycompany }}</th>
                                <th class="width-4 list">{{wording.fields.covered_period_from }}</th>
                                <th class="width-4 list">{{wording.fields.covered_period_till }}</th>
                                <th class="width-9 list">{{wording.fields.project }}</th>
                                <th class="width-4 list">{{wording.fields.transaction }}</th>
                                <th class="width-4 list">{{wording.fields.report }}</th>
                                <th class="width-4 list">{{wording.fields.files_attached }}</th>
                                <th class="width-4 list">{{wording.fields.has_scan }}</th>
                                <th class="width-4 list">{{wording.fields.has_src }}</th>
                            </tr>
                            <tr>
                                <td v-for="(value, name, index) in colParam">
                                    <div class="custom-control custom-switch" v-if="name !== 'type' && name !== 'full_name' && name !== 'signed_at'">
                                        <input type="checkbox" class="custom-control-input" :id="index" v-model="colParam[name]">
                                        <label class="custom-control-label" :for="index"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr is="v-filter" ref="filter" :isInFilterModal="true" :filter-param.sync="filterParam" ></tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"

                    >
                        {{wording.button.ok}}</button>
                </div>

        </form>



    </section>






</template>

<script>
import axios from 'axios'
import $ from "jQuery";
import Filter from '@/components/accountings/Filter.vue'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-filter': Filter,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.checkCookies()
    },
    data(){
        return{
            showModal: false,
            message: {},
            filterParam:{},
            colParam:{},
        }
    },
    methods:{
        show(){
            this.filterParam = {}
            this.colParam = {}
            this.filterParam = JSON.parse(JSON.stringify(this.$store.state.interfaceAccountingsInitSetFilter))
            this.colParam = JSON.parse(JSON.stringify(this.$store.state.interfaceAccountingsInitSetColumn))
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            this.$store.commit('interfaceAccountingsFilterInitSet', this.filterParam)
            this.$store.commit('interfaceAccountingsColumnInitSet', this.colParam)

            this.message = {
                status: 'success',
                text: this.wording.message.settings,
            };
            this.$emit('send-message', this.message);
            this.close()
        },
        checkCookies(){
            try {
                this.$store.commit('interfaceAccountingsFilterInitSet', JSON.parse(this.getCookie('accountings_interface_filter')))
            } catch (e) {
                this.$store.commit('interfaceAccountingsFilterInitSet', this.$store.state.interfaceAccountingsInitDefaultFilter)
            }
            try {
                this.$store.commit('interfaceAccountingsColumnInitSet', JSON.parse(this.getCookie('accountings_interface_column')))
            } catch (e) {
                this.$store.commit('interfaceAccountingsColumnInitSet', this.$store.state.interfaceAccountingsInitDefaultColumn)
            }
        },
    },

}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

