<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.update}}
                    </h4>
                </div>

                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mb-3">
                                <div class="col-6">
                                     <label for="status" class="label1">
                                        {{wording.fields.status}}
                                    </label>
                                    <select id="status"  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.status" v-if="extra" required>
                                        <option v-for="item in extra.status" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3" v-if="showAgreement">
                                <div class="col-12">
                                     <label class="label1">
                                        {{wording.fields.agreement}}
                                    </label>
                                    <v-select
                                            v-if="extra"
                                            v-model="instance.agreement"
                                            :options="extra.agreements"
                                            label="full_name_with_parents"
                                            :reduce="full_name_with_parents => full_name_with_parents.id"
                                    >
                                    </v-select>

                                </div>
                            </div>
                            <div class="row mb-3"  >
                                <div class="col-6">
                                     <label  for="mycompany" class="label1">
                                        {{wording.fields.mycompany}}
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.mycompany" v-if="extra && showMyCompany" :required="showMyCompany" >
                                        <option v-for="item in extra.mycompany" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                    <input id="mycompany"  v-if="!showMyCompany" type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="MyCompanyData" disabled>

                                </div>
                                <div class="col-6">
                                     <label  for="subcontractor"  class="label1">
                                        {{wording.fields.subcontractor}}
                                    </label>
                                    <v-select
                                            v-if="extra && showSubcontractor"
                                            v-model="instance.subcontractor"
                                            :options="extra.subcontractors"
                                            label="name"
                                            :reduce="name => name.id"
                                    >
                                        <template #search="{attributes, events}">
                                            <input
                                              class="vs__search"
                                              :required="!instance.subcontractor && showSubcontractor"
                                              v-bind="attributes"
                                              v-on="events"
                                            />
                                        </template>
                                    </v-select>
                                    <input id="subcontractor"  v-if="!showSubcontractor" type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="SubcontractorData" disabled>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label  for="type"  class="label1">
                                        {{wording.fields.type}}
                                    </label>
                                    <select id="type"  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.type" v-if="extra" required>
                                        <option v-for="item in extra.type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label  for="signed_at" class="label1">
                                        {{wording.fields.signed_at}}
                                    </label>
                                    <input id="signed_at"  type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.signed_at" required >

                                </div>
                                <div class="col-6">
                                     <label  for="name" class="label1">
                                        {{wording.fields.name }}
                                    </label>
                                    <input id="name"  type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label  for="covered_period_from" class="label1">
                                        {{wording.fields.covered_period_from }}
                                    </label>
                                    <input id="covered_period_from"  type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.covered_period_from" >
                                </div>
                                <div class="col-3">
                                     <label  for="covered_period_till" class="label1">
                                         {{wording.fields.covered_period_till }}
                                    </label>
                                    <input id="covered_period_till"  type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.covered_period_till" >

                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <v-upload-files
                                            ref="uploadfiles"
                                            :files.sync="files"
                                            :delete-list.sync="deleteFilesList"
                                            :extra="extra"
                                            :url-files="urlFiles"
                                            :id="instance.id"
                                            :is-loading="isLoadingFiles"
                                            :wording="wording"
                                    ></v-upload-files>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                     <label  for="project" class="label1">
                                        {{wording.fields.project}}
                                    </label>
                                    <select id="project" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.project" v-if="extra">
                                        <option v-for="item in extra.projects" :key="item.id" :value="item.id" >{{item.full_name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                     <label  for="transaction" class="label1">
                                        {{wording.fields.transaction}}
                                    </label>
                                    <select id="transaction" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.transaction" v-if="extra">
                                        <option v-for="item in extra.transactions" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                     <label for="report" class="label1">
                                        {{wording.fields.report}}
                                    </label>
                                    <select id="report" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.report" v-if="extra">
                                        <option v-for="item in extra.reports" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button aria-label="cancel" type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"
                            aria-label="update"
                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.update}}</button>
                </div>
        </form>
    </section>
</template>

<script>

import UploadFiles from '@/components/accountings/UploadFiles.vue'
import axios from 'axios'
import $ from "jQuery";
import vSelect from 'vue-select'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-upload-files': UploadFiles,
        'v-select': vSelect,

    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            instanceDefault: {
                status: 0,
                mycompany: 1,
                subcontractor_role: 0,
                type: 0,
                prolongationType: 0,

            },
            urlExtra:"/docs/api/accounting/extra/",
            urlList:"/docs/api/accounting/",
            urlFiles:"/docs/api/accounting/files/",
            urlAgreementData:"/docs/api/accounting/extra_agreement/",

            showModal: false,
            files:[],
            deleteFilesList:[],
            isLoadingFiles:0,

            showAgreement: true,
            showMyCompany: true,
            showSubcontractor: true,
            MyCompanyData: null,
            SubcontractorData: null,

            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(el){
            this.instance  = {};
            this.instance = {
                "id": el,
            };
            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.filterInstance();
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });


        },
        filterInstance(){
            // need this to make Agreement/Mycompany&Subcontractor fileds changes work correct
            if (this.instance.agreement !== null){
                this.instance.subcontractor = null
                this.instance.mycompany = null
            }
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'put',
                url: this.urlList + this.instance.id + "/",
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });

            if (this.files.length !== 0) {
                var created = []
                var updated = []

                this.files.forEach((f,x) => {
                    if(f['id'] !== undefined ){
                        updated.push(f)
                    }else{
                        created.push(f)
                    }
                })
                if (created.length !== 0) {
                    this.isLoadingFiles += 1
                    this.saveFilesCreated(created)
                }
                if (updated.length !== 0) {
                    this.isLoadingFiles += 1
                    this.saveFilesUpdated(updated)
                }
            }
            if (this.deleteFilesList.length !== 0){
                this.isLoadingFiles += 1
                this.saveFilesDeleted()
            }
        },
        saveFilesCreated(created){

            let formData = new FormData();
            created.forEach((f,x) => {
                formData.append('file['+x+']', f.file);
                formData.append('file_type['+x+']', f.type);

            });

            axios({
                method: 'post',
                url: this.urlFiles + this.instance.id + "/",
                data: formData,
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
            })
            .then(response => {
                this.isLoadingFiles -= 1
                this.$refs.uploadfiles.getFiles();
                console.log('files upladed!')

            })
            .catch(error => {
                console.log(error.response);
            });
        },
        saveFilesUpdated(updated){
            axios({
                method: 'put',
                url: this.urlFiles + this.instance.id + "/",
                data: updated,

            })
            .then(response => {
                this.isLoadingFiles -= 1
                this.$refs.uploadfiles.getFiles();
                console.log('files upDATED!')

            })
            .catch(error => {
                console.log(error.response);
            });
        },
        saveFilesDeleted(){
            axios({
                method: 'delete',
                url: this.urlFiles + this.instance.id + "/",
                data: this.deleteFilesList,

            })
            .then(response => {
                this.isLoadingFiles -= 1
                this.$refs.uploadfiles.getFiles();
                console.log('files delete!')

            })
            .catch(error => {
                console.log(error.response);
            });
        },
        loadAgreeemntData(){
            axios({
                method: 'get',
                url: this.urlAgreementData,
                params: { id :this.instance.agreement},
            })
            .then(response => {
                this.MyCompanyData = response.data.mycompany_display
                this.SubcontractorData = response.data.subcontractor_name

            })
            .catch(error => {
                console.log(error.response);
            });
        },
    },
    watch:{
        instance:{
            deep: true,
            handler: function (newValue) {
                    if (newValue.agreement !== undefined && newValue.agreement !== null) {
                        this.showMyCompany = false
                        this.showSubcontractor = false
                        this.loadAgreeemntData()
                    } else {
                        this.showMyCompany = true
                        this.showSubcontractor = true
                    }

                    if (newValue.subcontractor !== undefined && newValue.subcontractor !== null) {
                        this.showAgreement = false
                    } else {
                        this.showAgreement = true
                    }
            },
        },
    },

}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
  @import "@/scss/uploadfiles.scss";
</style>