<template>
    <tr >
        <th class="width-5 list" v-if="colParam.name || isInFilterModal">{{wording.fields.name}}</th>
        <th class="width-3 list" v-if="colParam.transaction_type || isInFilterModal">{{wording.fields.transaction_type}}</th>
        <th class="width-4 list" v-if="colParam.status || isInFilterModal">{{wording.fields.status}}</th>
        <th class="width-6 list" v-if="colParam.doc_status || isInFilterModal">{{wording.fields.doc_status}}</th>
        <th class="width-6 list" v-if="colParam.subcontractor || isInFilterModal">{{wording.fields.subcontractor}}</th>
        <th class="width-5 list" v-if="colParam.subcontractor_type || isInFilterModal">{{wording.fields.subcontractor_type}}</th>
        <th class="width-6 list" v-if="colParam.pay_purpose || isInFilterModal">{{wording.fields.pay_purpose}}</th>
        <th class="width-3 list" v-if="colParam.date || isInFilterModal">{{wording.fields.date}}</th>
        <th class="width-3 list" v-if="colParam.date_fact || isInFilterModal">{{wording.fields.date_fact}}</th>
        <th class="width-3 list" v-if="colParam.date_doc || isInFilterModal">{{wording.fields.date_doc}}</th>
        <th class="width-4 list" v-if="colParam.sum_before_taxe || isInFilterModal">{{wording.fields.sum_before_taxe}}</th>
        <th class="width-4 list" v-if="colParam.sum_after_taxe || isInFilterModal">{{wording.fields.sum_after_taxe}}</th>
        <th class="width-4 list" v-if="colParam.sum_taxe || isInFilterModal">{{wording.fields.sum_taxe}}</th>
        <th class="width-3 list" v-if="colParam.subcontractor_taxetype || isInFilterModal">{{wording.fields.subcontractor_taxetype}}</th>
        <th class="width-3 list" v-if="colParam.agreement_start_date || isInFilterModal">{{wording.fields.agreement_start_date}}</th>
        <th class="width-3 list" v-if="colParam.agreement_end_date || isInFilterModal">{{wording.fields.agreement_end_date}}</th>
        <th class="width-3 list" v-if="colParam.pay_delay || isInFilterModal">{{wording.fields.pay_delay}}</th>
        <th class="width-3 list" v-if="colParam.delayed || isInFilterModal">{{wording.fields.delayed}}</th>
        <th class="width-4 list" v-if="colParam.pay_model || isInFilterModal">{{wording.fields.pay_model}}</th>
        <th class="width-3 list" v-if="colParam.date_act || isInFilterModal">{{wording.fields.date_act}}</th>
        <th class="width-5 list" v-if="colParam.comment || isInFilterModal">{{wording.fields.comment}}</th>
        <th class="width-5 list" v-if="colParam.estimation_link || isInFilterModal">{{wording.fields.estimation_link}}</th>
        <th class="width-6 list" v-if="colParam.project || isInFilterModal">{{wording.fields.project}}</th>
        <th class="width-6 list" v-if="colParam.project_category || isInFilterModal">{{wording.fields.project_category}}</th>
        <th class="width-5 list" v-if="colParam.project_subcategory || isInFilterModal">{{wording.fields.project_subcategory}}</th>
        <th class="width-4 list" v-if="colParam.project_brand || isInFilterModal">{{wording.fields.project_brand}}</th>
        <th class="width-5 list" v-if="colParam.project_short_name || isInFilterModal">{{wording.fields.project_short_name}}</th>
        <th class="width-4 list" v-if="colParam.stage || isInFilterModal">{{wording.fields.stage}} </th>
        <th class="width-4 list" v-if="colParam.unit || isInFilterModal">{{wording.fields.unit}}</th>
        <th class="width-4 list" v-if="colParam.account || isInFilterModal">{{wording.fields.account}}</th>
        <th class="width-3 list" v-if="colParam.created_at || isInFilterModal">{{wording.fields.created_at}}</th>
        <th class="width-8 list" v-if="colParam.created_by || isInFilterModal">{{wording.fields.created_by}}</th>
        <th class="width-3 list" v-if="colParam.modified_at || isInFilterModal">{{wording.fields.modified_at}}</th>
        <th class="width-8 list" v-if="colParam.modified_by || isInFilterModal">{{wording.fields.modified_by}}</th>
        <th class="width-2 list" v-if="colParam.is_hidden || isInFilterModal">{{wording.fields.is_hidden}}</th>
        <th class="width-2 list" v-if="colParam.is_editable || isInFilterModal">{{wording.fields.is_editable}}</th>
    </tr>
</template>

<script>

import Wording from '@/components/transactions/wording.json'

export default {
    props: [
        'isInFilterModal'
    ],

    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        },
        colParam(){
            return this.$store.state.interfaceTransactionsInitSetColumn
        }
    },
}
</script>


