<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.interface.settings}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>{{wording.interface.filter}}</h5>
                    </div>
                    <div class="block-section-modal">

                        <table class="table" >
                        <thead>
                            <v-header-names :isInFilterModal="true"></v-header-names>
                            <tr>
                                <td v-for="(value, name, index) in colParam">
                                    <div class="custom-control custom-switch" v-if="name !== 'name'">
                                        <input type="checkbox" class="custom-control-input" :id="index" v-model="colParam[name]">
                                        <label class="custom-control-label" :for="index"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr is="v-filter" ref="filter"  :isInFilterModal="true" :filter-param.sync="filterParam" ></tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"

                    >
                        {{wording.button.ok}}</button>
                </div>

        </form>



    </section>






</template>

<script>
import axios from 'axios'
import $ from "jQuery";
import Filter from '@/components/transactions/Filter.vue'
import HeaderNames from '@/components/transactions/HeaderNames.vue'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-filter': Filter,
        'v-header-names': HeaderNames,

    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){

    },
    data(){
        return{
            showModal: false,
            message: {},
            filterParam: {},
            colParam:{},
        }
    },
    methods:{
        show(){
            this.filterParam = {}
            this.colParam = {}
            this.filterParam = JSON.parse(JSON.stringify(this.$store.state.interfaceTransactionsInitSetFilter))
            this.colParam = JSON.parse(JSON.stringify(this.$store.state.interfaceTransactionsInitSetColumn))
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            this.$store.commit('interfaceTransactionsFilterInitSet', this.filterParam)
            this.$store.commit('interfaceTransactionsColumnInitSet', this.colParam)

            this.message = {
                status: 'success',
                text: this.wording.message.settings,
            };
            this.$emit('send-message', this.message);
            this.close()
        },

    },

}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

