
{% for el in list %}
    <tr>
        <td>{{ el.name }}</td>
        <td>{{ el.file }}</td>
        <td>
            <button type="button"
              class="js-update-doc_template"
              data-url="{% url 'app_setup:doc_template_update' el.id %}">
                {{wording.btn_update}}
            </button>
        </td>
        <td>
            <button type="button"
              class="js-delete-doc_template"
              data-url="{% url 'app_setup:doc_template_delete' el.id %}">
                {{wording.btn_delete}}
            </button>
        </td>
    </tr>
{% endfor %}

