{% load widget_tweaks %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{{ form.non_field_errors }}

{% for hidden_field in form.hidden_fields %}
{{ hidden_field.errors }}
{{ hidden_field }}
{% endfor %}

<ul>
{% if form.instance.file == '' %}
    <li>{{ form.name.label_tag }}<br>{{ form.name.help_text }}<br>{{ form.name }}<br>{{ form.name.errors }}</li>
    <li>{{ form.file.label_tag }}<br>{{ form.file.help_text }}<br>{{ form.file }}<br>{{ form.file.errors }}</li>

{% else %}
    <li><a href="{{form.path}}">{{ form.filename }}</a></li>
    <li>{{ form.name }}</li>


{% endif %}
</ul>


