{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate"/>
        <title>FinS | Financial CRM</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div  class="d-flex flex-column justify-content-center align-items-center">
                        <div class="lang-container">
                            <a href="{% url 'app_about:index' %}"><span class="btn-lang active">РУ</span></a>
                            <a href="{% url 'app_about:index_en' %}"><span class="btn-lang ml-2">EN</span></a>
                        </div>
                        <a href="{% url 'app_about:index' %}"><img width='170px' src="{% static 'img/finslogo.svg' %}"></a>
                        <h2 class="text-center ">
                            Финансовый учет для студий и агентств.
                        </h2>
                        <p  class="text-center text-secondary">
                            Детальный учет финансовых показателей проектов, юнит-экономика, учет объемы выпоненных услуг.
                        </p>
                        <div class="btn-group">
                        <a href="{% url 'app_auth:demo' %}" class="btn btn-primary rounded-top w-100 pr-3 pl-3 pt-3 pb-3" role="button">Демо</a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'app_auth:login' %}" class="btn btn-outline-primary rounded-left  pr-3 pl-3 pt-3 pb-3" role="button">Войти</a>
                            <a href="{% url 'app_signup:signup' %}" class="btn btn-outline-primary rounded-right pr-3 pl34 pt-3 pb-3" role="button">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


