{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate"/>
        <title>FinS | Financial CRM</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div  class="d-flex flex-column justify-content-center align-items-center">
                        <div class="lang-container">
                            <a href="{% url 'app_about:index' %}"><span class="btn-lang ">РУ</span></a>
                            <a href="{% url 'app_about:index_en' %}"><span class="btn-lang active ml-2">EN</span></a>
                        </div>
                        <a href="{% url 'app_about:index' %}"><img width='170px' src="{% static 'img/finslogo.svg' %}"></a>
                        <h2 class="text-center ">
                            Financial CRM for agencies and web-studios.
                        </h2>
                        <p  class="text-center text-secondary">
                            Project financial details, unit-economy, reports  and much more.
                        </p>
                        <div class="btn-group">
                        <a href="{% url 'app_auth:demo_eng' %}" onclick=" setlang()" class="btn btn-primary  w-100 pr-3 pl-3 pt-3 pb-3" role="button">Demo</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <script>
function setlang()
{
     console.log('a')
    sessionStorage.setItem('test', 1);
}
</script>

    </body>
</html>


