{% extends 'base_app.html' %}
{% load static %}





{% block header %}
    <div style="white-space: nowrap; min-width: 1000px;">
        <h1 class="title">
            {{wording.h1_list}}
        </h1>


          <button  type="submit" class="{{js.jscreate_agr}} btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" data-url={{url.create_agr}}>
            {{wording.btn_add_agr}}
        </button>
          <button  type="submit" class="{{js.jscreate_ad}} btn btn-primary btn pr-3 pl-3 pt-2 pb-2 " data-url={{url.create_ad}}>
            {{wording.btn_add_ad}}
        </button>

      <button  type="submit" class="{{js.jshistory}} btn btn-link text-primary btn  ml-3" data-url={{url.history}}>
                <i class="far fa-hourglass-start"></i> {{wording.btn_history}}
        </button>

    </div>
    <div style="white-space: nowrap;">
        <button  type="submit" class="btn btn-outline-success  pr-3 pl-3 pt-2 pb-2" onclick="location.href='{% url 'app_docs:index' %}';" id="clear_button">Очистить</button>
          <button  type="submit" form="docs_filters" class="btn btn-success  pr-3 pl-3 pt-2 pb-2 " id="filter_button">
            Фильтровать
        </button>
    </div>

{% endblock %}



{% block content %}

    <div id="messages">
        {% include 'app_project/project_card/partial_project_messages.html' %}
    </div>

    {% block table %}
    {% endblock %}

    <div id="pagination" class="block-section">
            {% include 'app_transaction/pagination.html' %}
    </div>

    <div class="modal fade" id="modal-docs">
        <div class="modal-dialog">
              <div class="modal-content">
             </div>
        </div>
    </div>


{% endblock %}




