<div>
    <span class="normal">
        <button type="button"
          class="js-update-ad btn btn-sm btn-link ml-3 "
          data-url="{% url 'app_docs:accounting_docs_update' item.id %}"
        style="min-height: 25px;"
        >
            <i class="far fa-pencil"></i>
        </button>
    </span>
    <span class="normal">
        <button type="button"
          class="js-delete-ad btn btn-sm btn-link px-0 "
          data-url="{% url 'app_docs:accounting_docs_delete' item.id %}"
        style="min-height: 25px;"
        >
            <i class="fas fa-trash"></i>
        </button>
    </span>
</div>