{% extends 'app_docs/global/docs_list.html' %}
{% load static %}
{% load get_verbose_name %}
{% load widget_tweaks %}

{% block table %}



<div class="block-section">
    <table class="table table-striped table-hover" id="docs_list">
    <thead>
        <tr >
            <th class="width-6 list">{% get_verbose_name obj 'type' %}<i id="code_27" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'name' %}<i id="code_28" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-3 list">По номеру с последователями<i id="code_29" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'signed_at' %}<i id="code_30" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'status' %}<i id="code_31" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'status_date' %}<i id="code_32" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'subcontractor' %}<i id="code_33" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'subcontractor_role' %}<i id="code_34" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-5 list">{% get_verbose_name obj 'mycompany' %}<i id="code_35" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'validity_period_from' %}<i id="code_36" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'validity_period_till' %}<i id="code_37" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-5 list">{% get_verbose_name obj 'prolongation_type' %}<i id="code_38" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'prolongation_alert' %}<i id="code_39" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'description' %}<i id="code_40" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'project' %}<i id="code_41" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'transaction' %}<i id="code_42" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'report' %}<i id="code_43" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">{% get_verbose_name obj 'doc_template' %}<i id="code_44" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'parent' %}<i id="code_45" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">Есть прикрепленные файлы<i id="code_46" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">Есть скан документа<i id="code_47" class="help-modal far fa-question-circle question-icon"></i></th>
            <th class="width-4 list">Есть исходник документа<i id="code_48" class="help-modal far fa-question-circle question-icon"></i></th>
        </tr>
        <tr class="multifilters">
            <form action="" id="docs_filters" method="get" onsubmit="addspinner(this, 'filter_button')">
                <td class="no margin-1">{% render_field filter.form.type class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.name class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.name_full class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.signed_at class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.status class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.status_date class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.subcontractor class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.subcontractor_role class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.mycompany class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.validity_period_from class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.validity_period_till class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.prolongation_type class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.prolongation_alert class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.description class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.project class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.transaction class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.report class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.doc_template class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.parent class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.has_attachment class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.has_scan class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.has_src class="multiselect" size="8" %}</td>

            </form>
        </tr>
    </thead>
    <tbody>
        {% include 'app_docs/global/partial_list.html' %}
    </tbody>

</table>
</div>



{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/agreement.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/ad.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/docs_global.js' %}"></script>
{% endblock %}


