{% extends 'base_app.html' %}
{% load static %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
           {{wording.h1_list}}
        </h1>
        <button  type="submit" class="{{js.jshistory}} btn btn-link text-primary  mt-1 ml-3" data-url="{{url.history}}">
                <i class="far fa-hourglass-start"></i> {{wording.btn_history}}
        </button>

    </div>

    <div style="white-space: nowrap;">
        <button type="submit" class="{{js.jscreate}} btn btn-primary"data-url="{{url.create}}">
            {{wording.btn_add}}
        </button>
    </div>
{% endblock %}


{% block content %}



    {% block table %}
    {% endblock %}



    <div class="modal fade" id="modal-global">
        <div class="modal-dialog">
              <div class="modal-content">
             </div>
        </div>
    </div>

{% endblock %}




