
{% for el in list %}
    <tr>
        <td>{{ el.name }}</td>
        <td>
            <button type="button"
              class="js-update-unit  btn btn-sm btn-link ml-3"
              data-url="{% url 'app_setup:unit_update' el.id %}">
                <i class="far fa-pencil"></i>
            </button>

            <button type="button"
              class="js-delete-unit btn btn-sm btn-link px-0"
              data-url="{% url 'app_setup:unit_delete' el.id %}">
                    <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
{% endfor %}

