{% extends 'app_setup/global/setup_list.html' %}
{% load static %}


{% block table %}
<div class="block-section">
    <table  id="units_list" class="table table-hover table-bordered">
    <thead>
        <tr >
            <th>Название</th>
            <th class="last-col-width"></th>
        </tr>
    </thead>
    <tbody>
        {% include 'app_setup/units/partial_list.html' %}
    </tbody>

    </table>
</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/units.js' %}"></script>
{% endblock %}


