{% extends 'base_app.html' %}
{% load static %}


{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
           {{wording.h1_list}}
        </h1>
        <button  type="submit" class="{{js.jshistory}} btn btn-link text-primary  mt-1 ml-3" data-url="{{url.history}}">
                <i class="far fa-hourglass-start"></i> {{wording.btn_history}}
        </button>

    </div>

    <div style="white-space: nowrap;">
        <button type="submit" class="{{js.jscreate}} btn btn-primary"data-url="{{url.create}}">
            {{wording.btn_add}}
        </button>
    </div>
{% endblock %}


{% block content %}

<div class="block-section d-flex justify-content-between align-items-center">
    <h3>Список валют</h3>
    <div id="default_currency" data-url="{% url 'app_setup:currency_default' %}" >{{default_currency_form}}</div>
</div>

<div class="block-section">

    <table id="currencies_list" class="table table-hover table-bordered">
        <thead>
            <tr >
                <th>Название</th>
                <th class="last-col-width"></th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_setup/currencies/partial_list.html' %}
        </tbody>

    </table>
</div>



<div class="block-section">
    <h3>Список курсов</h3>
</div>

<div class="block-section">
    <table  id="rates_list" class="table table-hover table-bordered">
        <thead>
            <tr >
                <th>Валюта</th>
                <th>Курс</th>
                <th class="last-col-width"></th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_setup/currencies/partial_list_rate.html' %}
        </tbody>
    </table>
</div>




<div class="block-section">
    <div>
        <h2 class="mb-5 mt-4">Конвертация транзакций</h2>
        <div class="alert alert-info" >
            <div class="container  py-4">
                <div class="row">
                <div class="col-6">
                    <h3>Логика работы системы курсов валюты следующая:</h3><br><br>
                    <p>представьте коробки, в которых лежат деньги с разной закупочной стоимостью. Вам нужно потратить деньги их этих коробок. Сначала вы берете из самой первой, потом когда в ней закончились деньги из следующей и т.д. Таким образом для каждой расходной транзакции вы знаете ее стоимость конвертации (курс). Ну а коробки - это каждый приход денег: если вы меняли деньги в обменнике, вы знаете курс - его и используете. Если вам деньги подарил друг, то вы используете курс актуальный на день подарка.</p>
                    <p>При использовании свой валюты, вы можете знать закупочную цену если производили обмен, но если вы просто получили сумму в валюте, то курс не известен. В нашей системе мы считаем его равным прошлой доходной транзакции. А если таковой нет - то используется курс по умолчанию</p>
                    <p>Итого:</p>
                    <ul>
                        <li>доходная транзакция:</li>
                        <ul>
                            <li>если это оплаченная транзакция: если это перевод - то у него есть курс конвертации, если доход - берется курс последней конвертации. если ее нет - то курс по умолчанию из БД.</li>
                            <li>если плановая транзакция: используется курс по умолчанию из БД</li>
                        </ul>

                    <li>расходная транзакция:</li>
                        <ul>
                            <li>если это оплаченная транзакция: системы стэков - сначала берутся деньги из самой первой доходной транзакции с ее курсом, потом из следующей и т.д. если стэки закончились - используется курс по умолчанию.</li>
                            <li>если плановая транзакция:  используется курс по умолчанию из БД</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-6">
                    <h3>Здесь вы можете проверить логику  работу системы:</h3><br><br>

                <form method="post" id="conversion_form"  action="{% url 'app_setup:currency_conversion' %}">
                    {% csrf_token %}

                    <div class="form-group">{{conversion_form}}</div>
                    <button type="submit" class="btn btn-success btn-lg pl-5 pr-5 mt-3" id="conversion">Конвертировать</button>

                </form>
                    <div id="conversion_result" class="mt-4"></div>
                </div>
              </div>
            </div>

        '


        </div>
    </div>
</div>

<div class="block-section mb-5">

    <div class="container">
        <div class="row">

            </div>
        </div>
    </div>




</div>










<div class="modal fade" id="modal-global">
    <div class="modal-dialog">
          <div class="modal-content">
         </div>
    </div>
</div>




{% endblock %}










{% block javascript %}
    <script type='text/javascript' src="{% static 'js/currencies.js' %}"></script>
{% endblock %}


