{% extends 'base_app.html' %}
{% load static %}
{% load get_verbose_name %}





{% block header %}
    <div style="white-space: nowrap; min-width: 1000px;">
        <h1 class="title">
            [[wording.h1_list]]
        </h1>
        <button  type="submit" class=" btn btn-primary pr-3 pl-3 pt-2 pb-2 ml-3"  v-on:click="createInstance">
            <i class="fas fa-plus"></i>
        </button>
        <button  type="submit" class="btn btn-outline-primary text-primary  pr-3 pl-3 pt-2 pb-2 ml-2" v-on:click="showHistory">
            <i class="far fa-hourglass-start"></i>
        </button>

    </div>
    <div style="white-space: nowrap;">

        <button  v-on:click.prevent="cleanFilter" type="submit" class="btn btn-outline-success  pr-3 pl-3 pt-2 pb-2" id="clear_button">
            Очистить
        </button>
        <button v-on:click.prevent="updateList"  type="submit"  class="btn btn-success  pr-3 pl-3 pt-2 pb-2 " id="filter_button" >
            Фильтровать
        </button>
    </div>

{% endblock %}



{% block content %}

    <!--Preloader-->
        <v-preloader :page-loading="pageLoading"></v-preloader>
    <!--End-->

    <!--List-->
    <div class="block-section">
        <table class="table table-striped table-hover" id="docs_list">
        <thead>
            <tr >
                <th class="width-7-1 list">{% get_verbose_name obj 'type' %}<i id="code_27" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-8 list">{% get_verbose_name obj 'name' %}<i id="code_28" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">{% get_verbose_name obj 'signed_at' %}<i id="code_30" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-8-1 list">{% get_verbose_name obj 'status' %}<i id="code_31" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">{% get_verbose_name obj 'status_date' %}<i id="code_32" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">{% get_verbose_name obj 'agreement' %}<i id="code_32" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-6 list">{% get_verbose_name obj 'subcontractor' %}<i id="code_33" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'mycompany' %}<i id="code_35" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">{% get_verbose_name obj 'covered_period_from' %}<i id="code_36" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">{% get_verbose_name obj 'covered_period_till' %}<i id="code_37" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">Есть прикрепленные файлы<i id="code_46" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">Есть скан документа<i id="code_47" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-4 list">Есть исходник документа<i id="code_48" class="help-modal far fa-question-circle question-icon"></i></th>
            </tr>
            <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>
        </thead>

        <tbody
                is="v-list"
                ref="list"
                :paginator.sync="paginator"
                :filter-param.sync="filterParam"
                v-on:isready="isReadyList = true"
                v-on:isloaded="pageLoading = false"
                v-on:isloading="pageLoading = true"
                v-on:update-instance="updateInstance"
                v-on:delete-instance="deleteInstance"
                v-on:create-instance-child="createInstanceChild"
        ></tbody>


    </table>
    </div>
    <!--End-->


    <!--Pagination-->
    <div id="pagination" class="block-section">
        <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
    </div>
    <!--End-->

    <!--Modals-->
            <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList"></v-create-instance>
            <v-update-instance ref="updateInstance" :wording="wording" v-on:update-list="updateList"></v-update-instance>
            <v-delete-instance ref="deleteInstance" :wording="wording" v-on:update-list="updateList"></v-delete-instance>
            <v-history ref="history" :wording="wording"></v-history>
    <!--End-->





{% endblock %}

{% block javascript %}

    <script type='text/javascript' src="{% static 'accounting/js/app.js' %}"></script>
    <script type='text/javascript' src="{% static 'accounting/js/chunk-vendors.js' %}"></script>
{% endblock %}


