{% extends 'base_app.html' %}
{% load static %}


{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Отчеты
        </h1>
    </div>



{% endblock %}

{% block content %}

<div class="block-section-3">
    <div class="row mb-5 mt-3">
        <div class="col-4">
            <h2>Документы</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p><a href="{% url 'app_docs:argeement_index' %}">Договора</a></p><hr>
            <p><a href="{% url 'app_docs:accounting_index' %}">Первичная документация</a><br></p>
        </div>

    </div>
</div>

{% endblock %}
