       {% if el.is_editable == True or user_can_block == 0 and el.status != 3 %}

            {% if el.is_transfer == True %}
                <span class="update">
                   <button type="button"
                      class="js-update-transfer btn btn-sm btn-link ml-3 "
                      data-url="{% url 'app_transaction:transfer_update' el.id %}"

                   >
                        <i class="far fa-pencil"></i>
                    </button>
                </span>
                <span class="delete">
                    <button type="button"
                      class="js-delete-transfer btn btn-sm btn-link px-0"
                      data-url="{% url 'app_transaction:transfer_delete' el.id %}"

                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
            {% else %}
                <span class="update">
                    <button type="button"
                      class="js-update-transaction btn btn-sm btn-link ml-3"
                      data-url="{% url 'app_transaction:transaction_update' el.id %}"

                    >
                        <i class="far fa-pencil"></i>
                    </button>
                </span>
                <span class="delete">
                    <button type="button"
                      class="js-delete-transaction btn btn-sm btn-link px-0"
                      data-url="{% url 'app_transaction:transaction_delete' el.id %}"

                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
           {% endif %}
        {% else %}
            {% if el.is_transfer == True %}
                <span class="update">
                   <button hidden type="button"
                      class="js-update-transfer btn btn-sm btn-link ml-3"
                      data-url="{% url 'app_transaction:transfer_update' el.id %}"

                   >
                        <i class="far fa-pencil"></i>
                    </button>
                </span>
                <span class="delete">
                    <button hidden type="button"
                      class="js-delete-transferbtn-sm btn btn-link px-0"
                      data-url="{% url 'app_transaction:transfer_delete' el.id %}"

                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
            {% else %}
                <span class="update">
                    <button hidden type="button"
                      class="js-update-transaction btn btn-sm btn-link ml-3"
                      data-url="{% url 'app_transaction:transaction_update' el.id %}"

                    >
                        <i class="far fa-pencil"></i>
                    </button>
                </span>
                <span class="delete">
                    <button hidden type="button"
                      class="js-delete-transaction btn-sm btn-link px-0"
                      data-url="{% url 'app_transaction:transaction_delete' el.id %}"

                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
           {% endif %}
        {% endif %}