{% load get_verbose_name %}

            <th class="width-5 list">{% get_verbose_name obj 'name' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'type' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'status' %}<i id="code_2" class="help-modal far fa-question-circle"></i></th>
            <th class="width-6 list">{% get_verbose_name obj 'doc_request' %}</th>
            <th class="width-6 list">{% get_verbose_name obj 'subcontractor' %}</th>
            <th class="width-5 list">Тип контрагента</th>
            <th class="width-6 list">{% get_verbose_name obj 'purpose' %}</th>
            <th class="width-3 list">Системная дата</th>
            <th class="width-3 list">{% get_verbose_name obj 'date_fact' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'date_doc' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'sum_before_taxes' %}</th>
            <th class="width-4 list">Сумма после налогов</th>
            <th class="width-4 list">Размер налога</th>
            <th class="width-3 list">Тип налога</th>
            <th class="width-3 list">{% get_verbose_name obj 'agreement_start_date' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'agreement_end_date' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'pay_delay' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'delayed' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'pay_model' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'act_date' %}</th>
            <th class="width-5 list">{% get_verbose_name obj 'comment' %}</th>
            <th class="width-5 list">{% get_verbose_name obj 'estimation_link' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'project' %}</th>
            <th class="width-6 list">Категория проекта</th>
            <th class="width-5 list">Субкатегория проекта</th>
            <th class="width-4 list">Бренд</th>
            <th class="width-5 list">Короткое название</th>
            <th class="width-4 list">Этап</th>
            <th class="width-4 list">{% get_verbose_name obj 'unit' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'account' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'created_at' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'created_by' %}</th>
            <th class="width-3 list">{% get_verbose_name obj 'modified_at' %}</th>
            <th class="width-4 list">{% get_verbose_name obj 'modified_by' %}</th>
            <th class="width-2 list">{% get_verbose_name obj 'is_transfer' %}</th>
            <th class="width-2 list">{% get_verbose_name obj 'hidden' %}</th>
            <th class="width-2 list">{% get_verbose_name obj 'is_editable' %}</th>
