{% extends 'app_transaction/transactions_list.html' %}
{% load static %}
{% load widget_tweaks %}
{% load get_verbose_name %}

{% block table %}


{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="block-section">
    <table  id="transactions_list" class="table table-hover" data-list-saver="{% url 'app_transaction:ajax_list_saver' %}">
    <thead>
        <tr >
            {% include 'app_transaction/partial_list_header.html' %}
        </tr>
        <tr class="multifilters">
            <form action="" id="transactions_filters" method="get" onsubmit="addspinner(this, 'filter_button')">
                <td class="no margin-1">{% render_field filter.form.name class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.type class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.status class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.doc_request class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.subcontractor class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.subcontractor__type class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.purpose class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.date class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.date_fact class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.date_doc class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.sum_before_taxes class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.sat class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.taxes class="ui-border ui-radius-both heigh-1" %} </td>
                <td class="no margin-1">{% render_field filter.form.subcontractor__taxe_type class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.agreement_start_date class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.agreement_end_date class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.pay_delay class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.delayed class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.pay_model class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.act_date class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.comment class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.estimation_link class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.project class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.project__category class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.project__subcategory class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.project__brand class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.project__name_short class="ui-border ui-radius-both heigh-1" %}</td>
                <td class="no margin-1">{% render_field filter.form.project__stage class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.unit class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.account class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.created_at class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.created_by class="multiselect" size="8" %}  </td>
                <td class="no margin-1">{% render_field filter.form.modified_at class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                <td class="no margin-1">{% render_field filter.form.modified_by class="multiselect" size="8" %}</td>
                <td class="no margin-1">{% render_field filter.form.is_transfer class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.hidden class="multiselect" size="8" %} </td>
                <td class="no margin-1">{% render_field filter.form.is_editable class="multiselect" size="8" %} </td>

            </form>
        </tr>
        <tr >
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{sum}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody id="transactions_list_tbody">
        {% include 'app_transaction/partial_list.html' %}
    </tbody>

</table>
</div>


{{ formset.management_form }}

{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/transactions.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/transactions_list.js' %}"></script>
{% endblock %}


