{% load static %}

<div class="footer blog-footer ">
    <div class="container">
        <div class="row mt-5" style="margin-bottom: 100px;">
            <div class="col-12 col-md-4">
                <a class="" href="{% url 'app_about:index' %}"><img width='140' class="mb-5" src="{% static 'img/finslogo.svg' %}"></a>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <div class="footer-menu-item mb-3 font-weight-bold">ПРОДУКТ</div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Краткое демо</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Что умеем</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Тариф</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Безопасность</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Команада</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">API</a></div>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <div class="footer-menu-item mb-3 font-weight-bold">БЛОГ</div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Новости</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Наши курсы</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Жизнь</a></div>

            </div>
            <div class="col-12 col-md-2 mb-4">
                <div class="footer-menu-item mb-3 font-weight-bold">МЕДИА</div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Пресс-релиз</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Презентации</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Конференции</a></div>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <div class="footer-menu-item mb-3 font-weight-bold">ЮР.ИНФО</div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Соглашение</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Конфиденциальность</a></div>
                <div class="footer-menu-item mb-2"><a class="text-decoration-none text-secondary" href="#">Договор-оферта</a></div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12  d-flex flex-wrap flex-md-nowrap justify-content-between">
                <span><span class="text-secondary">© Copyright 2009 - 2019</span> FinSystem Software</span>
                <div>
                     <a class="text-decoration-none" href="#">Terms of use</a>
                <a class="text-decoration-none ml-3" href="#">Privacy policy</a>
                </div>

            </div>
        </div>
    </div>
</div >