<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal"  v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='/static/documents/img/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.create}}
                    </h4>
                </div>

                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">
                                        Название отчета <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.name" required>
                                </div>
                            </div>

                            <div class="row mt-2" v-for="(service, index) in services">
                                 <div class="col-2">
                                    <label class="label1">
                                        <b>Услуга</b>  {{service.name}}
<!--                                        <input type="number" hidden v-model="instance.allservices[index]" required>-->

                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="label1">
                                        Количество затраченных часов  <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5" v-model="instance.projectServices[service.id].hours" required>
                                </div>
                                <div class="col-6">
                                    <label class="label1">
                                        Описание работы  <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.projectServices[service.id].description" required>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.create}}

                    </button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording',
        'projectid',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getServices()
    },
    data(){
        return{
            instance:{},
            instanceDefault:{},
            services:{},
            urlListReports: "/projects/api/report_list/",
            urlListServices: "/projects/api/service_list/",
            showModal: false,
            extra:null,
            periodId:null,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(period){
            this.periodId = period
            this.instance  = JSON.parse(JSON.stringify(this.instanceDefault)) ;
            this.showModal = true
            $("body").attr('class', 'modalopen')

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            axios({
                method: 'post',
                url: this.urlListReports + this.periodId + "/",
                data: this.instance,
            })
           .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.created,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-reports');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
        getServices() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.urlListServices + this.projectid + '/',
            })
            .then(response => {
                this.services = response.data;

                this.instanceDefault = {
                    name:null,
                    projectServices:{}
                };
                for (var i = 0; i < this.services.length; i++) {
                    this.instanceDefault.projectServices[this.services[i].id] = {
                        hours: null,
                        description: null,
                    }
                }

                this.$emit('isloaded');
            })
        },

    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

