<template>
    <div>
        <h3><div class="badge badge-info">{{wording.header.list}}</div></h3>

            <span v-for="item in instances" class="ml-4">

                {{item.name}}

                <button type="button"
                    class="btn btn-sm btn-link px-0"
                    v-on:click="$emit('update-report', item.id)"
                >
                    <i class="far fa-pencil"></i>
                </button>

                <button type="button"
                    class="btn btn-sm btn-link px-0 ml-2"
                    v-on:click="$emit('delete-report', item.id)"

                >
                 <i class="fas fa-trash"></i>{{item.id}}
                </button>
            </span>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    props: [ 'id', 'wording'],
    data(){
        return{
            instances:{},
            url:"/projects/api/report_list/",
        }
    },
    mounted(){
        this.getInstanceAll()
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.id + '/',
            })
            .then(response => {
                this.instances = response.data;
                this.$emit('isloaded');
            })
        },


    },
}
</script>


