{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate"/>

        <title>FinS | Login</title>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>


    </head>

    <body class="text-center">







        <form class="form-signin" name="LoginForm" action="{% url 'app_auth:login' %}" method="post" onsubmit="addspinner(this,'login')">
            {% csrf_token %}
            <a href="{% url 'app_about:index_en' %}"><img class="mb-5" width='140' src="{% static 'img/finslogo.svg' %}"></a>
<!--            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>-->


            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                        You don't have access to this account
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        Please, sign in.
                    </div>

                {% endif %}
            {% endif %}



            <label for="inputEmail" class="sr-only">Email</label>
            {% render_field form.username  type="email" id="inputEmail" class="form-control" placeholder="Email" required="true" autofocus="true" %}

            <label for="inputPassword" class="sr-only">Password</label>
            {% render_field form.password  type="password" id="inputPassword" class="form-control" placeholder="Password" required="true" %}

            <div class="checkbox mb-3">
                <a href="{% url 'app_auth:password_reset' %}">Forgot you password?</a>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">Login</button>
            <p class="mt-5 mb-3 text-muted"><span class="text-secondary">© Copyright 2009 - 2019</span><br> FinSystem Software</p>
            <input type="hidden" name="next" value="{{ next }}">
        </form>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="{% static 'bootstrap-4.4.1/dist/js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>


        {% block javascript %}
        {% endblock %}

        <script>
         var addspinner = function (theform, btn) {
             var submit_btn;
             if (btn){
                 submit_btn = $("#" + btn)
             } else{
                 submit_btn = $("#" + theform.id + " :submit")
             }
             submit_btn.append(
                `<span class="spinner-grow spinner-grow-sm"  style="vertical-align: baseline; margin-bottom: -2px;"  role="status" aria-hidden="true"></span>`
             );
             submit_btn.prop("disabled", true)
         }
    </script>

    </body>
</html>












