<template>
    <div id="app">
        <v-menu></v-menu>
        <div class="nomobile" >
            <i class="fal fa-mobile nomobile-icon"></i>
            <span>{{noMobileTxt}}</span>
        </div>
        <router-view/>
    </div>
</template>

<script>
import Menu from '@/components/global/Menu.vue'
import _ from "lodash";

export default {
  name: 'Home',
  components: {
    'v-menu': Menu,

  },
  mounted(){
      this.$nextTick(()=>document.body.classList.remove('app-mounting'));
      this.checkCookiesSettings()
  },
  computed: {
        noMobileTxt(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return 'Мобильная версия находится в стадии разработки.'
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return 'Mobile version is comming soon.'
            }
        }
  },
  methods:{
          checkCookiesSettings(){
            try {
                this.$store.commit('interfaceTransactionsFilterInitSet', JSON.parse(this.getCookie('transaction_interface_filter')))
            } catch (e) {
                this.$store.commit('interfaceTransactionsFilterInitSet', this.$store.state.interfaceTransactionsInitDefaultFilter)
            }
            try {
                this.$store.commit('interfaceTransactionsColumnInitSet', JSON.parse(this.getCookie('transaction_interface_column')))
            } catch (e) {
                this.$store.commit('interfaceTransactionsColumnInitSet', this.$store.state.interfaceTransactionsInitDefaultColumn)
            }
        },
  }


}
</script>

<style lang="scss">
    @import "@/scss/global.scss";


    .nomobile{
        position: fixed;
        width:100%;
        height: 100%;
        background-color: #2f4c98;
        z-index: 10000;

      flex-direction: column;
        align-items: center;
        justify-content: center;
        color:white;
    }
    @include media-breakpoint-up(xs) {
        .nomobile{
          display: flex;
        }
    }
    @include media-breakpoint-up(lg) {
        .nomobile{
          display: none;
        }
    }
  .nomobile > span{
    text-align: center;
      max-width: 250px;
    padding: 20px;
  }

  .nomobile-icon{
    font-size: 30px;
  }
</style>