{% extends 'app_setup/global/setup_list.html' %}
{% load static %}

{% block table %}
<div class="block-section">
    <table id="brands_list"  class="table table-hover table-bordered">
        <thead>
            <tr >
                <th>Название</th>
                <th class="last-col-width"></th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_setup/brands/partial_list.html' %}
        </tbody>

    </table>
</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/brands.js' %}"></script>
{% endblock %}


