<template>
    <div>
        <h4  class="mb-4">{{wording.statistics.header}}</h4>
        <table id="statistics" class="table">
            <thead>
            <th>{{wording.statistics.currency}}</th>
            <th>{{wording.statistics.income}}</th>
            <th>{{wording.statistics.outcome}}</th>
            <th>{{wording.statistics.profit}}</th>
            <th>{{wording.statistics.profilability}}</th>
            </thead>
            <tbody>
                <tr v-for="row in instance">
                    <td>{{ row.currency }}</td>
                    <td>{{ row.income }}</td>
                    <td>{{ row.outcome_ext }}</td>
                    <td>{{ row.gross_profit }}</td>
                    <td>{{ row.gross_profitability }}%</td>
                </tr>
            </tbody>
        </table>


    </div>




</template>

<script>
import axios from 'axios'
export default {
    props: [ 'id', 'wording'],
    data(){
        return{
            instance:{},
            url:"/projects/api/statistics/",

        }
    },
    mounted(){
        this.get()
    },
    methods:{
        get() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.id + '/',
            })
            .then(response => {
                this.instance = response.data.report;
                this.$emit('isloaded');
            })
        },
    },
}
</script>


