<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap" >
                <h1 class="title">
                    {{wording.header.list}}
                </h1>
                  <button  type="submit" class="btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" v-on:click="createInstance">
                    <i class="fas fa-plus"></i>
                </button>
                <button v-on:click="showHistory" type="submit" class="btn btn-outline-primary  pr-3 pl-3 pt-2 pb-2 ml-3" >
                        <i class="far fa-hourglass-start"></i>
                </button>
                <button  v-on:click="exportExcel" ty type="submit" class="btn btn-outline-primary pr-3 pl-3 pt-2 pb-2 ml-3" value='excel' name="xls" >
                     <i class="fas fa-file-excel"></i>
                </button>
                <button  v-on:click="settings" ty type="submit" class="btn btn-outline-primary pr-3 pl-3 pt-2 pb-2 ml-3" >
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <div style="white-space: nowrap;">
                <button  v-on:click.prevent="cleanFilter" type="submit" class="btn btn-outline-secondary  pr-3 pl-3 pt-2 pb-2"  ><i class="far fa-times"></i></button>
                  <button v-on:click.prevent="updateList"  type="submit" style="position: relative;" class="btn btn-secondary  pr-3 pl-3 pt-2 pb-2 ml-3 " id="filter_button">

                      <i class="fas fa-filter"></i>

                </button>
            </div>
        </section>

        <section class="content-area">

            <!--Preloader-->
                <v-preloader :page-loading="pageLoading"></v-preloader>
            <!--End-->


            <!--Messages-->
                <v-messages ref="messages"></v-messages>
            <!--End-->

            <div class="block-section">

                <table  id="projects_list" class="table table-striped table-hover" >
                    <thead>
                        <tr >
                            <th class="width-4 list" v-if="colParam.name">Номер проекта <i id="code_2" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.name_short">Короткое название проекта <i id="code_3" class="help-modal far fa-question-circle question-icon"></i> </th>
                            <th class="width-6 list" v-if="colParam.category">Категория проекта<i id="code_4" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-6 list" v-if="colParam.subcategory">Субкатегория проекта<i id="code_5" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.brand">Бренд<i id="code_6" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-3 list" v-if="colParam.work_format">Формат оценки работы<i id="code_7" class="help-modal far fa-question-circle question-icon"></i></th>
<!--                            <th class="width-5 list">Формат договора<i id="code_8" class="help-modal far fa-question-circle question-icon"></i></th>-->
                            <th class="width-5 list" v-if="colParam.stage">Стадия проекта<i id="code_9" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-3 list" v-if="colParam.date_start">Начало работы по проекту<i id="code_10" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-3 list" v-if="colParam.date_end">Завершение работы по проекту<i id="code_11" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.nbsource">Источник лида<i id="code_12" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.nbformat">Формат получения договора<i id="code_13" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.products">Продукты проекта<i id="code_14" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-3 list" v-if="colParam.created_at">Когда создан<i id="code_15" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.created_by">Создан пользователем<i id="code_16" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-3 list" v-if="colParam.modified_at">Когда изменен<i id="code_17" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.modified_by">Изменен пользователем<i id="code_18" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.leader">Лидер проекта<i id="code_19" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.team">Команда проекта<i id="code_20" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.units">Вовлеченные юниты<i id="code_21" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.income">Выручка (в основной валюте)<i id="code_22" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.outcome">Внешние расходы (в основной валюте)<i id="code_23" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.gross_profit">Валовая прибыль (в основной валюте)<i id="code_24" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.gross_profitability">РВП (в основной валюте)<i id="code_25" class="help-modal far fa-question-circle question-icon"></i></th>
                            <th class="width-5 list" v-if="colParam.is_editable">Может быть отредактирован<i id="code_26" class="help-modal far fa-question-circle question-icon"></i></th>
                        </tr>
                        <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>

                    </thead>

                    <tbody
                        is="v-list"
                        ref="list"
                        :paginator.sync="paginator"
                        :filter-param.sync="filterParam"
                        v-on:isready="isReadyList = true"
                        v-on:isloaded="pageLoading = false"
                        v-on:isloading="pageLoading = true"
                        v-on:update-instance="updateInstance"
                        v-on:delete-instance="deleteInstance"
                        v-on:create-instance-child="createInstanceChild"
                        v-on:send-message="sendMessage"
                    ></tbody>

                </table>


            </div>

            <!--Pagination-->
            <div id="pagination" class="block-section">
                <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
            </div>
            <!--End-->


            <!--Modals-->
            <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-create-instance>
            <v-history ref="history" :wording="wording"></v-history>
            <v-excel ref="excel" :filter-param="filterParam"></v-excel>
            <v-settings :wording="wording" ref="settings" v-on:send-message="sendMessage"></v-settings>

            <!--End-->
        </section>
    </div>

</template>

<script>

import Wording from '@/components/projects/project/wording.json'

import Preloader from '@/components/global/Preloader.vue'
import Paginator from '@/components/global/Paginator.vue'
import Messages from '@/components/global/Messages.vue'


import List from '@/components/projects/List.vue'
import Filter from '@/components/projects/Filter.vue'
import CreateInstance from '@/components/projects/CreateInstance.vue'
import History from '@/components/projects/History.vue'
import Excel from '@/components/projects/Excel.vue'
import Settings from '@/components/projects/Settings.vue'

export default {
    name: 'Projects',
    components: {
        'v-preloader': Preloader,
        'v-paginator': Paginator,
        'v-list': List,
        'v-filter': Filter,
        'v-create-instance': CreateInstance,
        'v-history': History,
        'v-excel': Excel,
        'v-messages': Messages,
        'v-settings': Settings,

    },
    data(){
        return{
            filterParam:{},
            paginator: {},
            isReadyList: false,
            pageLoading: true,
        }
    },
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        },
        colParam(){
            return this.$store.state.interfaceProjectsInitSetColumn
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateList:  _.debounce(function(){
            this.$refs.list.getInstanceAll();
        }),
        cleanFilter(){
            this.$refs.filter.clean();
            this.updateList()
        },
        createInstanceChild(el){
            this.$refs.createInstanceChild.show(el);
        },
        createInstance(){
            this.$refs.createInstance.show();
        },
        updateInstance(el){
            this.$refs.updateInstance.show(el);
        },
        deleteInstance(el){
            this.$refs.deleteInstance.show(el);
        },
        showHistory(){
            this.$refs.history.show();
        },
        exportExcel(){
            this.$refs.excel.export();
        },
        settings(){
            this.$refs.settings.show();
        },

    },
    watch:{
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




