{% extends 'base_app.html' %}
{% load static %}
{% load get_verbose_name %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Мой профиль
        </h1>
    </div>
    <div>
        <button type="submit" id="js-profile-update" class="btn btn-primary  pr-3 pl-3 pt-2 pb-2" data-url="{% url 'app_setup:profile_update' %}">
            Редактировать свои данные
        </button>
    </div>

{% endblock %}





{% block content %}

<div class="block-section-3">
        <div class="row" id="profile">
            <div class="col-6">
                <div class="mb-4 d-flex flex-column">
                    <h1 class="display-3 mb-n4" style="float:none;">{{user.first_name}} {{user.last_name}}</h1>
                    <h4 class="display-4">{{user.email}}</h4>
                </div>
                <hr>
                <div class="mb-4 d-flex flex-column">
                    <div><span class="font-weight-lighter">Присоединился — </span>{{dbuser.joined_at}}</div>
                    <div><span class="font-weight-lighter">Юнит — </span>{{dbuser.unit}}</div>
                </div>
                <hr>
                <div class="mt-4 d-flex flex-column">
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_app_dashboard' %} — </span>{{dbuser.get_access_app_dashboard_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_app_docs' %} — </span>{{dbuser.get_access_app_docs_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_app_setup' %} — </span>{{dbuser.get_access_app_setup_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_app_project' %} — </span>{{dbuser.get_access_app_project_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_app_reports' %} — </span>{{dbuser.get_access_app_reports_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_users' %} — </span>{{dbuser.get_access_users_display}}</span>
                    <span class="mb-2"><span class="font-weight-lighter">{% get_verbose_name obj 'access_can_block' %} — </span>{{dbuser.get_access_can_block_display}}</span>
                </div>
            </div>
        </div>
        <div class="row mt-5">
                <div class="col-6">
                    <span class="text-black-50 ">*/ Изменения в профиле коснутся всех аккаунтов в которые вы подключены.</span>
                </div>
            </div>
</div>


<div class="modal fade" id="modal-user">
    <div class="modal-dialog">
          <div class="modal-content">
         </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script type='text/javascript' src="{% static 'js/profile.js' %}"></script>
{% endblock %}


