{% autoescape off %}

Список аккаунтов для удаления:
<ul>
  {% for account in delete_list %}
    <li>Аккаунт №{{account.pk}}.  Компания {{account.name}}. Заблокирован {{account.active_state_date}}</li>
  {% endfor %}
</ul>

{% endautoescape %}