<template>
    <div>
        <div class="d-flex justify-content-between align-items-start" >
            <h4  class="mb-5">{{wording.header.list_estimates}}</h4>
                <button type="button"
                  class="js-update-project btn btn-sm btn-primary mt-1"
                    v-if="instance.is_editable"
                        v-on:click="edit"

                >
                    <i class="far fa-pencil"></i>

                </button>
        </div>
        <div id="partial_project">
            <small style="line-height: 2;">
                <div class="row">
                    <div class="col-6">
                        <table class="w-100">
                            <tr>
                                <td><span class="light">Вероятность победы</span></td>
                                <td><span class="bold">{{instance.estimate_probability}}%</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Дата начала продажи</span></td>
                                <td><span class="bold">{{instance.estimate_presale_start | toDate | toNone}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Дата завершения продажи</span></td>
                                <td><span class="bold">{{instance.estimate_presale_end | toDate | toNone}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Внешние затраты на продажу</span></td>
                                <td><span class="bold">{{instance.estimate_presale_outcome_ext}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Внутренние затраты на продажу</span></td>
                                <td><span class="bold">{{instance.estimate_presale_outcome_int}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Дата начала работ по проекту</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_start | toDate | toNone}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="w-100">
                            <tr>
                                <td> <span class="light">Дата завершения работ по проекту	</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_end | toDate | toNone}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Выручка по проекту</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_income_before_taxes}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Рентабельность по валовой прибыли</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_gross_profitability_before_taxes}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Валовая прибыль</span> </td>
                                <td><span class="bold">{{instance.estimate_inprogress_gross_profit_before_taxes}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Рентабельность по проектной прибыли</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_project_profitability_before_taxes}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="light">Проектная прибыль</span></td>
                                <td><span class="bold">{{instance.estimate_inprogress_project_profit_before_taxes}}</span></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </small>
        </div>


    </div>




</template>

<script>
import axios from 'axios'
export default {
    props: [ 'id', 'wording'],
    data(){
        return{
            instance:{},
            url:"/projects/api/",

        }
    },
    mounted(){
        this.getInstanceAll()
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.id + '/',
            })
            .then(response => {
                this.instance = response.data;
                this.$emit('isloaded');
            })
        },
        edit(){
            this.$emit('update-estimate')
        },
    },
}
</script>


