<template>
    <div>
        <div class="d-flex justify-content-between align-items-start" >
            <h4  class="mb-5">{{wording.header.list_base}}</h4>
                <button type="button"
                  class="js-update-project btn btn-sm btn-primary mt-1"
                    v-if="instance.is_editable"
                        v-on:click="edit"

                >
                    <i class="far fa-pencil"></i>

                </button>
        </div>
        <div id="partial_project">
            <small >
                <div class="row mb-4 text-secondary">
                    <div class="col-6">

                        <table class="w-100" >
                            <tr>
                                <td class="py-1"><span>Категория проекта</span></td>
                                <td><span>{{instance.subcategory_display | toNone }}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="w-100" >
                            <tr>
                                <td class="py-1"><span>Формат оценки работы</span></td>
                                <td><span>{{instance.work_format_display | toNone }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Формат договора</span></td>
                                <td><span>{{instance.agreement_format_display | toNone }}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row mb-4">
                    <div class="col-6">
                    <table class="w-100" >
                        <tr>
                            <td class="py-1"><span>Стадия проекта</span></td>
                            <td><span>{{instance.stage_display | toNone }}</span></td>

                        </tr>
                        <tr>
                            <td class="py-1"><span>Короткое название проекта</span></td>
                            <td><span>{{instance.name_short | toNone }}</span></td>
                        </tr>
                        <tr>
                            <td class="py-1"><span>Бренд</span></td>
                            <td><span>{{instance.brand_display | toNone }}</span></td>
                        </tr>
                        <tr>
                            <td class="py-1"><span>Полное название проекта</span></td>
                            <td><span>{{instance.name_long | toNone }}</span></td>
                        </tr>
                        <tr>
                            <td class="py-1"><span>Субкатегория проекта</span></td>
                            <td><span>{{instance.subcategory_display | toNone }}</span></td>
                        </tr>
                        <tr>
                            <td class="py-1"></td>
                            <td></td>
                        </tr>
                    </table>
                    </div>
                    <div class="col-6">
                        <table class="w-100" >
                            <tr class="py-1" v-if="instance.agreement_format === 1">
                                <td><span>Коммиссия</span></td>
                                <td><span>{{instance.commission | toNone }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Начало работы по проекту</span></td>
                                <td><span>{{instance.project_start | toDate | toNone  }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Завершение работы по проекту</span></td>
                                <td><span>{{instance.project_end | toDate | toNone  }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Источник лида</span></td>
                                <td><span>{{instance.nb_source | toNone }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Формат получения договора</span></td>
                                <td><span>{{instance.nb_format | toNone }}</span></td>
                            </tr>
                            <tr>
                                <td class="py-1"><span>Продукты проекта</span></td>
                                <td><span>{{instance.products_full | toNone }}</span></td>
                            </tr>

                        </table>
                    </div>
                </div>

                <hr>

                <div  class="row mt-4">
                    <div class="col-12">

                            <div class="mb-2">
                                <span class="font-weight-bold"> Описание проекта:</span>
                                <div class="ml-3" style="word-wrap: break-word;"> {{instance.description | toNone }}</div>
                            </div>

                    </div>
                </div>
            </small>
        </div>


    </div>




</template>

<script>
import axios from 'axios'
export default {
    props: [ 'id', 'instance', 'wording'],
    data(){
        return{
            // instance:{},
            url:"/projects/api/",

        }
    },
    mounted(){
        this.getInstanceAll()
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url + this.id + '/',
            })
            .then(response => {
                // this.instance = response.data;
                this.$emit('update:instance', response.data);
                this.$emit('isloaded', );
            })
        },
        edit(){
            this.$emit('update-base')
        },
    },
}
</script>


