<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal"  v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='/static/documents/img/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.update_base}}
                    </h4>
                </div>

                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">
                                        Короткое название проекта: <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name_short" required>
                                </div>
                                <div class="col-8">
                                    <label class="label1">
                                        Полное название проекта: <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name_long" >
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <label class="label1">
                                        Субкатегория <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.subcategory" v-if="extra" >
                                        <option v-for="item in extra.subcategories" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="label1">
                                        Бренд <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.brand" v-if="extra" >
                                        <option v-for="item in extra.brand" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                     <label class="label1">
                                        Этап <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.stage" v-if="extra" required>
                                        <option v-for="item in extra.stage" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="label1" style="width:130px;">
                                        Начало работы по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.project_start" >
                                </div>
                                <div class="col-3">
                                    <label class="label1" style="width:130px;">
                                        Завершение работы по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.project_end" >
                                </div>
                                <div class="col-3" style="display: flex; flex-direction: column; justify-content: space-between;">
                                     <label class="label1">
                                        Источник лида <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.nb_source" v-if="extra" >
                                        <option v-for="item in extra.nbsource" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label class="label1">
                                        Формат получения договора <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.nb_format" v-if="extra" >
                                        <option v-for="item in extra.nbformat" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                     <label class="label1">
                                        Описание проекта<i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <textarea type="date" class="ui-border ui-radius-both width-100" rows="4" v-model="instance.description" ></textarea>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4  product-list ">
<!--                                    {{ form.project_products.label_tag }}-->
<!--                                    {% for checkbox in form.project_products %}-->
<!--                                        <div class="form-check">-->
<!--                                            {{ checkbox.tag }}-->

<!--                                             <label class="form-check-label">{{ checkbox.choice_label }}</label>-->
<!--                                        </div>-->
<!--                                    {% endfor %}-->

                                </div>
                                <div class="col-4">
                                     <label class="label1">
                                        Может быть отредактирован<i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.isEditable"  v-if="extra">
                                        <option value="1" >Да</option>
                                        <option value="0" >Нет</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="label1" style="width:130px;">
                                        Коммиссия <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.commission" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.update}}
                    </button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording',
        'id',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            urlExtra:"/projects/api/extra",
            urlList:"/projects/api/",
            showModal: false,
            extra:null,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(){
            this.instance  = {};
            this.instance = {
                "id": this.id,
            };
            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'put',
                url: this.urlList + this.instance.id + "/",
                data: this.instance,
            })
          .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated_base,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-base');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });


        },

    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

