<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal"  v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='/static/documents/img/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.update_estimates}}
                    </h4>
                </div>

                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="label1">
                                        Вероятность победы<i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.estimate_probability" >
                                        <option value="0" >0%</option>
                                        <option value="20" >20%</option>
                                        <option value="40" >40%</option>
                                        <option value="60" >60%</option>
                                        <option value="80" >80%</option>
                                        <option value="100" >100%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Начало работы по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_presale_start" >
                                </div>
                                <div class="col-3">
                                    <label class="label1" style="width:130px;">
                                        Завершение работы по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_presale_end" >
                                </div>
                                <div class="col-3">
                                    <label class="label1" style="width:130px;">
                                        Внешние затраты на продажу <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_presale_outcome_ext" >
                                </div>
                                <div class="col-3">
                                    <label class="label1" style="width:130px;">
                                        Внутренние затраты на продажу <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_presale_outcome_int" >
                                </div>
                            </div>
                            <hr style="margin: 40px 0;">
                            <div class="row mt-2">
                                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Начало работ по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_inprogress_start" >
                                </div>
                                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Завершение работ по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="date"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_inprogress_end" >
                                </div>
                                <div class="col-4" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Выручка по проекту <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_inprogress_income_before_taxes" >
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <label class="label1">
                                        Рентабельность по валовой прибыли<i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.estimate_inprogress_gross_profitability_before_taxes" >
                                        <option value="0" >0%</option>
                                        <option value="20" >20%</option>
                                        <option value="40" >40%</option>
                                        <option value="60" >60%</option>
                                        <option value="80" >80%</option>
                                        <option value="100" >100%</option>
                                    </select>
                                </div>
                                <div class="col-3"  style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Валовая прибыль <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_inprogress_gross_profit_before_taxes" readonly>
                                </div>
                                <div class="col-3">
                                    <label class="label1">
                                        Рентабельность по проектной прибыли<i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <select  class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.estimate_inprogress_project_profitability_before_taxes" >
                                        <option value="0" >0%</option>
                                        <option value="20" >20%</option>
                                        <option value="40" >40%</option>
                                        <option value="60" >60%</option>
                                        <option value="80" >80%</option>
                                        <option value="100" >100%</option>
                                    </select>
                                </div>
                                <div class="col-3"  style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <label class="label1" style="width:130px;">
                                        Проектная прибыль <i class="far fa-question-circle question-icon"></i>
                                    </label>
                                    <input type="number"  class="ui-border ui-radius-left heigh-1 width-5"  v-model="instance.estimate_inprogress_project_profit_before_taxes" readonly>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.update}}</button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording',
        'id',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        // this.getExtra();
    },
    data(){
        return{
            instance:{},
            oldInstance:{},
            urlExtra:"/projects/api/extra",
            urlList:"/projects/api/",
            showModal: false,
            extra:null,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(){

            this.instance  = {};
            this.instance = {
                "id": this.id,
            };
            axios({
                method: 'get',
                url: this.urlList + this.instance.id + "/",
            })
            .then(response => {
                this.instance = response.data;
                this.oldInstance  = JSON.parse(JSON.stringify(this.instance)) ;

                this.showModal = true
                $("body").attr('class', 'modalopen')
                })
            .catch(function (response) {
                console.log(response);
            });

        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        // getExtra(){
        //     axios({
        //         method: 'get',
        //         url: this.urlExtra,
        //     })
        //     .then(response => {
        //         this.extra = response.data.extra;
        //     })
        // },
        saveInstance: function () {
            axios({
                method: 'put',
                url: this.urlList + this.instance.id + "/",
                data: this.instance,
            })
          .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.updated_estimates,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-estimate');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });


        },
        instanceDecompiler(){

        },

    },
    watch:{
        instance:{
            deep: true,
            handler: function (newValue) {
                if (this.oldInstance.estimate_inprogress_income_before_taxes !== newValue.estimate_inprogress_income_before_taxes){
                    this.instance.estimate_inprogress_gross_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_gross_profitability_before_taxes/100
                    this.instance.estimate_inprogress_project_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_project_profitability_before_taxes/100
                }

                if (this.oldInstance.estimate_inprogress_gross_profitability_before_taxes !== newValue.estimate_inprogress_gross_profitability_before_taxes){
                    this.instance.estimate_inprogress_gross_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_gross_profitability_before_taxes/100
                    this.instance.estimate_inprogress_project_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_project_profitability_before_taxes/100
                }

                if (this.oldInstance.estimate_inprogress_project_profitability_before_taxes !== newValue.estimate_inprogress_project_profitability_before_taxes){
                    this.instance.estimate_inprogress_gross_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_gross_profitability_before_taxes/100
                    this.instance.estimate_inprogress_project_profit_before_taxes = newValue.estimate_inprogress_income_before_taxes * newValue.estimate_inprogress_project_profitability_before_taxes/100
                }
                this.oldInstance  = JSON.parse(JSON.stringify(newValue)) ;
            },
        },
    }
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

