<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.create}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mb-3">
                                <div class="col-6">
                                     <label for="status" class="label1">
                                        {{wording.fields.status}}
                                    </label>
                                    <select id="status" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.status" v-if="extra" required>
                                        <option v-for="item in extra.status" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label for="mycompany" class="label1">
                                         {{wording.fields.mycompany}}
                                    </label>
                                    <select  id="mycompany" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.mycompany" v-if="extra" required>
                                        <option v-for="item in extra.mycompany" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label  for="subcontractor_role" class="label1">
                                        {{wording.fields.subcontractor_role}}
                                    </label>
                                    <select id="subcontractor_role" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.subcontractor_role" v-if="extra" required>
                                        <option v-for="item in extra.sub_role" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                     <label  for="aaa" class="label1">
                                        {{wording.fields.subcontractor}}
                                    </label>
                                    <v-select
                                            v-if="extra"
                                            v-model="instance.subcontractor"
                                            :options="extra.subcontractors"
                                            label="name"
                                            :reduce="name => name.id"
                                    >

                                      <template #search="{attributes, events}">
                                        <input
                                          class="vs__search"
                                          :required="!instance.subcontractor"
                                          v-bind="attributes"
                                          v-on="events"
                                        />
                                      </template>

                                    </v-select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label  for="type" class="label1">
                                         {{wording.fields.type}}
                                    </label>
                                    <select id="type" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.type" v-if="extra" required>
                                        <option v-for="item in extra.type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label  for="signed_at" class="label1">
                                         {{wording.fields.signed_at}}
                                    </label>
                                    <input id="signed_at" type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.signed_at" required >

                                </div>
                                <div class="col-6">
                                     <label  for="name" class="label1">
                                        {{wording.fields.name}}
                                    </label>
                                    <input id="name" type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                     <label  for="validity_period_from" class="label1">
                                        {{wording.fields.validity_period_from}}
                                    </label>
                                    <input id="validity_period_from" type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.validity_period_from" >
                                </div>
                                <div class="col-3">
                                     <label  for="validity_period_till" class="label1">
                                         {{wording.fields.validity_period_till}}
                                    </label>
                                    <input id="validity_period_till" type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.validity_period_till" >

                                </div>
                                <div class="col-3">
                                     <label  for="prolongation_type" class="label1">
                                        {{wording.fields.prolongation_type}}
                                    </label>
                                    <select id="prolongation_type" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.prolongation_type" v-if="extra">
                                        <option v-for="item in extra.prolongation_type" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                     <label  for="prolongation_alert" class="label1">
                                        {{wording.fields.prolongation_alert}}
                                    </label>
                                    <input id="prolongation_alert" type="date" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.prolongation_alert" >

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                     <label  for="description" class="label1">
                                        {{wording.fields.description}}
                                    </label>
                                    <textarea id="description" type="date" class="ui-border ui-radius-both width-100" rows="4" v-model="instance.description" ></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                     <label  for="project" class="label1">
                                        {{wording.fields.project}}
                                    </label>
                                    <select id="project" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.project" v-if="extra">
                                        <option v-for="item in extra.projects" :key="item.id" :value="item.id" >{{item.full_name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                     <label  for="transaction" class="label1">
                                        {{wording.fields.transaction}}
                                    </label>
                                    <select id="transaction" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.transaction" v-if="extra">
                                        <option v-for="item in extra.transactions" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                     <label for="report" class="label1">
                                        {{wording.fields.report}}
                                    </label>
                                    <select id="report" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.report" v-if="extra">
                                        <option v-for="item in extra.reports" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                     <label  for="doc_template" class="label1">
                                        {{wording.fields.doc_template}}
                                    </label>
                                    <select id="doc_template" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.doc_template" v-if="extra">
                                        <option v-for="item in extra.template" :key="item.id" :value="item.id" >{{item.name}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" aria-label="cancel" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            aria-label="create"
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"

                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>

                        {{wording.button.create}}</button>
                </div>

        </form>



    </section>






</template>

<script>

import axios from 'axios'
import $ from "jQuery";
import vSelect from 'vue-select'

export default {
    props: [
        'wording'
    ],
    components: {
        'v-select': vSelect,
    },
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
        this.getExtra();
    },
    data(){
        return{
            instance:{},
            instanceDefault: {
                status: 0,
                mycompany: 1,
                subcontractor_role: 0,
                type: 0,
                prolongation_type: 0,

            },
            urlExtra:"/docs/api/extra",
            urlList:"/docs/api/",
            showModal: false,
            message: {},
            submitDisabled: false,
            extra: {},
        }
    },
    methods:{
        show(){
            this.instance  = {};
            this.instance  = JSON.parse(JSON.stringify(this.instanceDefault)) ;
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        getExtra(){
            axios({
                method: 'get',
                url: this.urlExtra,
            })
            .then(response => {
                this.extra = response.data.extra;
            })
        },
        saveInstance: function () {
            axios({
                method: 'post',
                url: this.urlList,
                data: this.instance,
            })
            .then(response => {
                this.message = {
                    status: 'success',
                    text: this.wording.message.created,
                };
                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: 'Ошибка',
                };
                this.$emit('send-message', this.message);
                console.log(error.response);
            });
        },
    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

