<template>
    <tbody>

        <tr
                v-for="el in instances"
                :key="el.id"
        >
<!--            <td class="normal align-middle">{{ el.type_display }}</td>-->
            <td class="normal align-middle" colspan="3" v-if="colParam.full_name">
                  <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center" v-bind:style="indentStyleObject(el)">
                      <div>
                          <span v-if="el.idx !==0"><i class="fal fa-level-up indent-arrow"></i></span>
                          <span>{{ el.full_name }}</span>
                      </div>

                        <div>
                            <span class="normal">
                                <button type="button" class="btn btn-sm btn-link ml-3 " style="min-height: 25px;"
                                        v-on:click="$emit('create-instance-child', el.id)">
                                    <i class="far fa-plus"></i>
                                </button>
                            </span>
                            <span class="normal">
                                <button type="button" class="btn btn-sm btn-link" style="min-height: 25px;"
                                        v-on:click="$emit('update-instance', el.id)">
                                    <i class="far fa-pencil"></i>
                                </button>
                            </span>
                            <span class="normal">
                                <button type="button" class="btn btn-sm btn-link px-0" style="min-height: 25px;"
                                        v-on:click="$emit('delete-instance', el.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span>
                            <span class="normal">
                                <button type="submit"  class="btn btn-sm btn-link px-1 " style="min-height: 25px;">
                                 <i class="fal fa-download"></i>
                                </button>
                            </span>
                        </div>


                </div>
            </td>
<!--            <td class="normal align-middle" v-if="colParam.signed_at">{{ el.signed_at | toDate  }}</td>-->
            <td class="normal align-middle" v-if="colParam.status">{{ el.status_display }}</td>
            <td class="normal align-middle" v-if="colParam.status_date">{{ el.status_date | toDate  | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.subcontractor_name">{{ el.subcontractor_name }}</td>
            <td class="normal align-middle" v-if="colParam.subcontractor_role">{{ el.subcontractor_role_display }}</td>
            <td class="normal align-middle" v-if="colParam.mycompany">{{ el.mycompany_display}}</td>
            <td class="normal align-middle" v-if="colParam.validity_period_from">{{ el.validity_period_from | toDate | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.validity_period_till">{{ el.validity_period_till | toDate | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.prolongation_type">{{ el.prolongation_type_display  | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.prolongation_alert">{{ el.prolongation_alert | toDate  | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.description">{{ el.description | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.project">{{ el.project_display  | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.transaction">{{ el.transaction_display | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.report">{{ el.report_display | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.doc_template">{{ el.doc_template_display | toNone }}</td>
            <td class="normal align-middle" v-if="colParam.has_parent_full">{{ el.has_parent_full  | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.has_attachment">{{ el.has_attachment_display  | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.has_scan">{{ el.has_scan_display  | toNone}}</td>
            <td class="normal align-middle" v-if="colParam.has_src">{{ el.has_src_display  | toNone}}</td>
        </tr>
    </tbody>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'filterParam'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instances:{},
            url:"/docs/api/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0 && Object.keys(this.filterParam).length !==0){
                return true
            } else{
                return false
            }
        },
        colParam(){
            return this.$store.state.interfaceAgreementsInitSetColumn
        }
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    filter:this.filterParam,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        }
    },
}
</script>

