
<small>
    <ul>
        {% for agr in agrs %}

            <li>{{ agr.get_type_display }}  №{{ agr.name }} от {{ agr.signed_at }}</li>
            <ul>
                {% for file in agr.agreement_files.all %}
                    <li><a href="{{file.get_path}}">{{file.get_filename}}</a></li>
                {% endfor %}
            </ul>
            <ul>
                {% for ad in agr.account_docs.all %}
                    <li>{{ ad.get_type_display }}  №{{ ad.name }} от {{ ad.signed_at }}</li>
                    <ul>
                        {% for file in ad.accounting_docs_files.all %}
                            <li><a href="{{file.get_path}}">{{file.get_filename}}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</small>

    <!--<br>-->
    <!--Первичная документация-->

    <!--<table>-->
        <!--{% for ad in ads %}-->
            <!--<tr>-->
                <!--<td>{{ ad.get_type_display }}  №{{ ad.name }} от {{ ad.signed_at }}</td>-->
            <!--</tr>-->

            <!--{% for file in ad.accounting_docs_files.all %}-->
                <!--<tr>-->
                    <!--<td><a href="{{file.get_path}}">{{file.get_filename}}</a></td>-->
                <!--</tr>-->
            <!--{% endfor %}-->
        <!--{% endfor %}-->

    <!--</table>-->

    <br>

