{% load get_verbose_name %}



<small style="line-height: 2;">
    <div class="row">
        <div class="col-6">
            <table class="w-100">
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_probability' %}</span></td>
                    <td><span class="bold">{{project.estimate_probability}}%</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_presale_start' %}</span></td>
                    <td><span class="bold">{{project.estimate_presale_start | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_presale_end' %}</span></td>
                    <td><span class="bold">{{project.estimate_presale_end | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_presale_outcome_ext' %}</span></td>
                    <td><span class="bold">{{project.estimate_presale_outcome_ext}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_presale_outcome_int' %}</span></td>
                    <td><span class="bold">{{project.estimate_presale_outcome_int}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_start' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_start | default_if_none:wording.none}}</span></td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="w-100">
                <tr>
                    <td> <span class="light">{% get_verbose_name project 'estimate_inprogress_end' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_end | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_income_before_taxes' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_income_before_taxes}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_gross_profitability_before_taxes' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_gross_profitability_before_taxes}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_gross_profit_before_taxes' %}</span> </td>
                    <td><span class="bold">{{project.estimate_inprogress_gross_profit_before_taxes}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_project_profitability_before_taxes' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_project_profitability_before_taxes}}</span></td>
                </tr>
                <tr>
                    <td><span class="light">{% get_verbose_name project 'estimate_inprogress_project_profit_before_taxes' %}</span></td>
                    <td><span class="bold">{{project.estimate_inprogress_project_profit_before_taxes}}</span></td>
                </tr>

            </table>
        </div>
    </div>
</small>