{% load get_verbose_name %}


<small >
    <div class="row mb-4 text-secondary">
        <div class="col-6">

            <table class="w-100" >
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'category' %}</span></td>
                    <td><span>{{project.category | default_if_none:wording.none}}</span></td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="w-100" >
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'work_format' %}</span></td>
                    <td><span>{{project.get_work_format_display | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'agreement_format' %}</span></td>
                    <td><span>{{project.get_agreement_format_display | default_if_none:wording.none}}</span></td>
                </tr>
            </table>
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <div class="col-6">
        <table class="w-100" >
            <tr>
                <td class="py-1"><span>{% get_verbose_name project 'stage' %}</span></td>
                <td><span>{{project.get_stage_display}}</span></td>

            </tr>
            <tr>
                <td class="py-1"><span>{% get_verbose_name project 'name_short' %}</span></td>
                <td><span>{{project.name_short | default:wording.empty_str}}</span></td>
            </tr>
            <tr>
                <td class="py-1"><span>{% get_verbose_name project 'brand' %}</span></td>
                <td><span>{{project.brand | default_if_none:wording.none}}</span></td>
            </tr>
            <tr>
                <td class="py-1"><span>{% get_verbose_name project 'name_long' %}</span></td>
                <td><span>{{project.name_long | default_if_none:wording.none}}</span></td>
            </tr>
            <tr>
                <td class="py-1"><span>{% get_verbose_name project 'subcategory' %}</span></td>
                <td><span>{{project.subcategory | default_if_none:wording.none}}</span></td>
            </tr>
            <tr>
                <td class="py-1"></td>
                <td></td>
            </tr>
        </table>
    </div>
        <div class="col-6">
            <table class="w-100" >
                {% if project.agreement_format == 1 %}
                    <tr class="py-1">
                        <td><span>{% get_verbose_name project 'commission' %}</span></td>
                        <td><span>{{project.commission | default_if_none:wording.none}}</span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'project_start' %}</span></td>
                    <td><span>{{project.project_start | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'project_end' %}</span></td>
                    <td><span>{{project.project_end | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'nb_source' %}</span></td>
                    <td><span>{{project.nb_source | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'nb_format' %}</span></td>
                    <td><span>{{project.nb_format | default_if_none:wording.none}}</span></td>
                </tr>
                <tr>
                    <td class="py-1"><span>{% get_verbose_name project 'project_products' %}</span></td>
                    <td><span>{{project.products_full | default:wording.empty_str}}</span></td>
                </tr>

            </table>
        </div>
    </div>

    <hr>

    <div  class="row mt-4">
        <div class="col-12">

                <div class="mb-2">
                    <span class="font-weight-bold"> {% get_verbose_name project 'description' %}:</span>
                    <div class="ml-3" style="word-wrap: break-word;"> {{project.description | default:wording.empty_str}}</div>
                </div>

        </div>
    </div>
</small>