    {% if messages %}
            {% for message in messages %}
            <div style="margin-left:280px; margin-right:30px; margin-top: 120px !important;" class="fixed-bottom d-flex align-self-end w-25 ml-auto alert {{ message.tags }} mb-5 mt-3 alert-dismissible fade " role="alert">

                <span>{{ message }}</span><br>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% endfor %}
    {% endif %}


<!--        <script>-->
<!--            window.setTimeout(function() {-->
<!--                $(".alert").addClass('show')-->
<!--            }, 500);-->
<!--            window.setTimeout(function() {-->
<!--                $(".alert").fadeTo(500, 0, function(){-->
<!--                    $(this).remove();-->
<!--                });-->
<!--            }, 3500);-->
<!--        </script>-->


<!--        {% if messages %}-->
<!--            {% for message in messages %}-->
<!--    <div class="toast ml-auto mr-5 mb-5 fixed-bottom " role="alert" data-delay="3000" data-autohide="true">-->
<!--        <div class="toast-header">-->
<!--            <strong class="mr-auto text-primary">FinS</strong>-->
<!--&lt;!&ndash;            <small class="text-muted">3 mins ago</small>&ndash;&gt;-->
<!--            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
<!--                <span aria-hidden="true">×</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="toast-body "> {{message}}</div>-->
<!--    </div>-->

<!--            {% endfor %}-->
<!--    {% endif %}-->

<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $(".toast").toast("show");-->
<!--    });-->
<!--</script>-->
