{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% load get_verbose_name %}

{% block header %}
    <div style="white-space: nowrap;">
        <div class="d-flex align-items-center">
            <a href="{% url 'app_project:index' %}" class=" px-4 py-4 border-right back-btn"><h4 ><i class="fal fa-chevron-left"></i></h4></a>
            <h1 class="ml-3 mt-1">
                <div id="project_name">{% include 'app_project/project_card/partial_project_name.html' %}</div>
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="block-section-3">


    <div id="messages"></div>

    <div class="row mb-5">
        <div class="col-12">
            <h4  class="mb-4">Статистика</h4>
            <table id="statistics" class="table">
                <thead>
                <th>Валюта</th>
                <th>Выручка</th>
                <th>Внешний расход</th>
                <th>Валовая прибыль</th>
                <th>РВП</th>
                </thead>
                <tbody>
                    {% include 'app_project/project_card/partial_statistics.html' %}
                </tbody>
            </table>
        </div>
    </div>




    {% if project.work_format != 1 %}
    <div class="row  mb-5" style="overflow-y: scroll;">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-start  mb-4">
                <h4 class="mb-3">{{wording.h1_list}}</h4>
                {% if project.is_editable == True or user_can_block == 0 %}
                    <button type="submit" class="js-create-transaction btn btn-sm btn-primary" data-url="{% url 'app_transaction:transaction_create_project' project.pk %}">
                        {{wording.btn_add}}
                    </button>
                {% endif %}

            </div>

            <table id="transactions_list" class="table">
                <thead>
                    {% include 'app_transaction/in_project/partial_list_header.html' %}
                </thead>
                <tbody>
                    {% include 'app_transaction/in_project/partial_list_in_projects.html' %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}



    {% if project.work_format == 1 %}

        <div class="row mb-5  mr-2" style="overflow-y: scroll;">
            <div class="col-12">

                <div class="d-flex justify-content-between align-items-start  mb-4">
                    <h4>{{wording.h1_period}}</h4>
                    {% if project.is_editable == True or user_can_block == 0 %}
                        <button type="submit" class="js-create-period btn  btn-sm btn-primary" data-url="{% url 'app_project:create_period' project.pk %}">
                            {{wording.btn_add2}}
                        </button>
                    {% endif %}
                </div>
                <div id="report_periods">
                    {% include 'app_project/project_card/partial_list_periods.html' %}
                </div>

            </div>
        </div>
    {% endif %}


    <div class="row mb-4 mr-3">
        <div class="col-6" >
            <div class="border mx-1 px-5 py-5 h-100">

                <div class="d-flex justify-content-between align-items-start" >
                    <h4  class="mb-5">Базовые характеристики</h4>
                    {% if project.is_editable == True or user_can_block == 0 %}
                        <button type="button"
                          class="js-update-project btn btn-sm btn-primary mt-1"
                          data-url="{% url 'app_project:project_update' pk %}">
    <!--                        {{wording.btn_update_p}}-->
                            <i class="far fa-pencil"></i>

                        </button>
                    {% endif %}
                </div>
                <div id="partial_project">
                    {% include 'app_project/project_card/partial_project.html' %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border mx-1 px-5 py-5 h-100">

                <div class="d-flex justify-content-between align-items-start">

                    <h4  class="mb-5">Предпродажная оценка</h4>
                    {% if project.is_editable == True or user_can_block == 0 %}
                        <button type="button"
                          class="js-update-estimation-project  btn  btn-sm btn-primary  mt-1"
                          data-url="{% url 'app_project:project_update_estimation' pk %}">
    <!--                        {{wording.btn_est}}-->
                            <i class="far fa-pencil"></i>

                        </button>
                    {% endif %}
                </div>
               <div id="partial_project_estimation">
                    {% include 'app_project/project_card/partial_project_estimation.html' %}
               </div>
            </div>
        </div>
    </div>











    <div class="row mb-4 mr-3">
        {% if project.work_format == 1 %}
                <div class="col-12 ">
                    <div class="border mx-1 px-5 py-5  h-100">
                        <div class="d-flex justify-content-between align-items-start  mb-4">
                            <h4>{{wording.h1_service}}</h4>
                            {% if project.is_editable == True or user_can_block == 0 %}
                                <button type="submit" class="js-create-service btn  btn-sm btn-primary" data-url="{% url 'app_project:service_create' project.pk %}">
                                    <i class="fal fa-plus"></i>
    <!--                                {{wording.btn_add3}}-->
                                </button>
                            {% endif %}
                        </div>
                        <table class="table mb-0">
                            <thead>
                                <th>Название</th>
                                <th>Стоимость часа</th>
                                <th></th>

                            </thead>
                            <tbody id="services">
                                {% include 'app_project/project_card/partial_list_services.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endif %}






    </div>


    <div class="row mb-5 mr-3">
        <div class="col-6">
            <div class="border mx-1 px-5 py-5 h-100">

                <div class="d-flex justify-content-between align-items-start mb-4">
                    <h4>Команда</h4>
                    {% if project.is_editable == True or user_can_block == 0 %}
                        <button type="button"
                          class="js-create-team btn btn-sm btn-primary "
                          data-url="{% url 'app_project:team_create' project.pk %}">
                            <i class="fal fa-plus"></i>
    <!--                        {{wording.btn_add5}}-->
                        </button>
                    {% endif %}
                </div>
                <table class="table mb-0">
                    <thead>
                    <th>Пользователь</th>
                    <th>Статус</th>
                    <th></th>
                    </thead>
                    <tbody id="team">
                        {% include 'app_project/project_card/partial_team.html' %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">

            <div class="border mx-1 px-5 py-5  h-100">

                <h4 class="mb-4 pb-2">Связанные документы</h4>
                <hr>
                {% if project.project_agreements.all or  project.project_ads.all%}
                    <div >
                        {% include 'app_project/project_card/partial_linked_docs.html' %}
                    </div>
                {% else%}
                    <div>Cвязаный с проектом документов нет</div>
                {% endif %}
            </div>
        </div>
    </div>



    {%  if project.is_deletable == True %}
        {% if project.is_editable == True or user_can_block == 0 %}
            <div class="row mb-5">
                <div class="col-12">
<!--                    <hr>-->
                    <button type="button"
                      class="js-delete-project btn btn-outline-danger mt-4"
                      data-url="{% url 'app_project:project_delete' pk %}">
                        {{wording.btn_delete_p}}
                    </button>
                </div>
            </div>
        {% endif %}
    {% endif %}



</div>


<div class="modal fade" id="modal-global">
    <div class="modal-dialog">
          <div class="modal-content">
         </div>
    </div>
</div>

{% endblock %}



{% block javascript %}
    <script type='text/javascript' src="{% static 'js/projects.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/transactions.js' %}"></script>
{% endblock %}


