<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <form
                method="post"
                v-on:submit.prevent="saveInstance"
            >
                {% csrf_token %}

                <div class="modal-header">
                        <h4 >
                            [[wording.h1_delete]]
                        </h4>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
                        </button>
                </div>

                <div v-if="instance.deletable">
                    <div class="modal-body" >
                        <p class="lead">[[wording.approve_delete]]<strong>[[instance.name]]</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">[[wording.btn_cancel]]</button>
                        <button
                                id="submitBtnDelete"
                                type="submit"
                                class="btn btn-success btn-lg pl-5 pr-5"
                        >[[wording.btn_delete]]</button>
                    </div>
                </div>
                <div v-else>
                      <div class="modal-body">
                        <p class="lead">[[wording.not_deletable]] </p>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">[[wording.btn_cancel]]</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>