<div class="modal fade" id="modal-create-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <form
                method="post"
                v-on:submit.prevent="saveInstance"
            >
                {% csrf_token %}

                <div class="modal-header">
                    <h4 v-if="action === 'CREATE' ">
                        [[wording.h1_create]]
                    </h4>
                    <h4 v-if="action === 'UPDATE' ">
                        [[wording.h1_update]]
                    </h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'app_setup/subcontractors/modals/modal_partial_form.html' %}
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">[[wording.btn_cancel]]</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            id="submitBtnCreate"
                            v-if="action === 'CREATE' "
                    >[[wording.btn_create]]</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            id="submitBtnUpdate"
                            v-if="action === 'UPDATE' "
                    >[[wording.btn_update]]</button>
                </div>
            </form>

        </div>
    </div>
</div>