<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap;">
                <h1 class="title">
                    Dashboard
                </h1>
            </div>
        </section>




        <section class="content-area">
            <div class="block-section">
                <h2>Добро пожаловать! </h2>
            </div>
        </section>
    </div>

</template>
