<template>
    <div>
        <section class="header ">
            <div style="white-space: nowrap; ">
                <h1 class="title">
                    {{wording.header.list}}
                </h1>
                <button type="submit" class="btn btn-primary pr-3 pl-3 pt-2 pb-2 ml-5" v-on:click="createInstance">
                     <i class="fas fa-plus"></i>
                </button>
                <button v-on:click="showHistory" type="submit" class="btn btn-outline-primary  pr-3 pl-3 pt-2 pb-2 ml-3" >
                        <i class="far fa-hourglass-start"></i>
                </button>
                <button  v-on:click="exportExcel" ty type="submit" class="btn btn-outline-primary pr-3 pl-3 pt-2 pb-2 ml-3"  name="xls" >
                     <i class="fas fa-file-excel"></i>
                </button>
                <button  v-on:click="settings" ty type="submit" class="btn btn-outline-primary pr-3 pl-3 pt-2 pb-2 ml-3" >
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <div style="white-space: nowrap;">

                <button  v-on:click.prevent="cleanFilter"   type="submit" class="btn btn-outline-secondary  pr-3 pl-3 pt-2 pb-2"  id="clear_button">
                    <i class="far fa-times"></i>
                </button>
                <button  v-on:click.prevent="updateList" type="submit"  class="btn btn-secondary  pr-3 pl-3 pt-2 pb-2 ml-3" id="filter_button">
                    <i class="fas fa-filter"></i>
                </button>

            </div>
        </section>




        <section class="content-area">
            <!--Preloader-->
            <v-preloader :page-loading="pageLoading"></v-preloader>
            <!--End-->

            <!--Messages-->
                <v-messages ref="messages"></v-messages>
            <!--End-->

            <!--List-->
            <div class="block-section">
            <table  id="transactions_list" class="table table-hover" >

                <thead>
                    <v-header-names></v-header-names>
                    <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>
                </thead>

                <tbody
                        is="v-list"
                        ref="list"
                        :paginator.sync="paginator"
                        :filter-param.sync="filterParam"
                        v-on:isready="isReadyList = true"
                        v-on:isloaded="pageLoading = false"
                        v-on:isloading="pageLoading = true"
                        v-on:update-instance="updateInstance"
                        v-on:delete-instance="deleteInstance"
                        :edited-in-transactions='true'
                        v-on:send-message="sendMessage"
                ></tbody>


            </table>
            </div>
            <!--End-->


            <!--Pagination-->
            <div id="pagination" class="block-section">
                <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
            </div>
            <!--End-->

            <!--Modals-->
            <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-create-instance>
            <v-update-instance ref="updateInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-update-instance>
            <v-delete-instance ref="deleteInstance" :wording="wording" v-on:update-list="updateList" v-on:send-message="sendMessage"></v-delete-instance>
            <v-history ref="history" :wording="wording"></v-history>
            <v-excel ref="excel" :filter-param="filterParam"></v-excel>
            <v-settings :wording="wording" ref="settings" v-on:send-message="sendMessage" ></v-settings>

            <!--End-->
        </section>
    </div>

</template>

<script>

import Wording from '@/components/transactions/wording.json'

import Preloader from '@/components/global/Preloader.vue'
import Paginator from '@/components/global/Paginator.vue'
import Messages from '@/components/global/Messages.vue'


import List from '@/components/transactions/List.vue'
import Filter from '@/components/transactions/Filter.vue'
import CreateInstance from '@/components/transactions/CreateInstance.vue'
import UpdateInstance from '@/components/transactions/UpdateInstance.vue'
import DeleteInstance from '@/components/transactions/DeleteInstance.vue'
import History from '@/components/transactions/History.vue'
import Excel from '@/components/transactions/Excel.vue'
import HeaderNames from '@/components/transactions/HeaderNames.vue'
import Settings from '@/components/transactions/Settings.vue'



export default {
    name: 'Transactions',
    components: {
        'v-preloader': Preloader,
        'v-paginator': Paginator,
        'v-list': List,
        'v-filter': Filter,
        'v-create-instance': CreateInstance,
        'v-update-instance': UpdateInstance,
        'v-delete-instance': DeleteInstance,
        'v-history': History,
        'v-excel': Excel,
        'v-header-names': HeaderNames,
        'v-messages': Messages,
        'v-settings': Settings,

    },
    data(){
        return{
            filterParam:{},
            paginator: {},
            isReadyList: false,
            pageLoading: true,
        }
    },
    mounted(){},
    computed: {
        wording(){
            if(this.$store.getters.LANGUAGE === 'ru'){
                return Wording.ru
            } else if (this.$store.getters.LANGUAGE === 'en'){
                return Wording.en
            }
        }
    },
    methods:{
        sendMessage(message){
            this.$refs.messages.show(message);
        },
        updateList:  _.debounce(function(){
            this.$refs.list.getInstanceAll();
        }),
        cleanFilter(){
            this.$refs.filter.clean();
            this.updateList()
        },
        createInstanceChild(el){
            this.$refs.createInstanceChild.show(el);
        },
        createInstance(){
            this.$refs.createInstance.show();
        },
        updateInstance(el){
            this.$refs.updateInstance.show(el);
        },
        deleteInstance(el){
            this.$refs.deleteInstance.show(el);
        },
        showHistory(){
            this.$refs.history.show();
        },
        exportExcel(){
            this.$refs.excel.export();
        },
        settings(){
            this.$refs.settings.show();
        },
    },
    watch: {
        isReadyList(newValue) {
            if (newValue){
                this.updateList()
            }
        } ,
    },
}
</script>




