{% extends 'base_app.html' %}
{% load static %}
{% load get_verbose_name %}



{% block header %}
    <div style="white-space: nowrap; min-width: 1000px;">
        <h1 class="title">
            [[wording.h1_list]]
        </h1>
        <button type="submit" class="btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" v-on:click="createInstance">
            [[wording.btn_add]]
        </button>
        <button v-on:click="showHistory" type="submit" class="js-history-transaction btn btn-link text-primary btn  ml-3" >
                <i class="far fa-hourglass-start"></i> [[wording.btn_history]]
        </button>
        <button  v-on:click="exportExcel" ty type="submit" class="btn btn-link text-primary btn " value='excel' name="xls" >
             <i class="fas fa-file-excel"></i> Excel
        </button>

    </div>
    <div style="white-space: nowrap;">

        <button  v-on:click.prevent="cleanFilter"   type="submit" class="btn btn-outline-success  pr-3 pl-3 pt-2 pb-2"  id="clear_button">
            Очистить
        </button>
        <button  v-on:click.prevent="updateList" type="submit"  class="btn btn-success  pr-3 pl-3 pt-2 pb-2 " id="filter_button">
            Фильтровать
        </button>

    </div>

{% endblock %}



{% block content %}

    <!--Preloader-->
        <v-preloader :page-loading="pageLoading"></v-preloader>
    <!--End-->

    <!--List-->
    <div class="block-section">
    <table  id="transactions_list" class="table table-hover" >

        <thead>
            <tr >
                <th class="width-5 list">{% get_verbose_name obj 'name' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'type' %}</th>
                <th class="width-4 list">{% get_verbose_name obj 'status' %}<i id="code_2" class="help-modal far fa-question-circle"></i></th>
                <th class="width-6 list">{% get_verbose_name obj 'doc_request' %}</th>
                <th class="width-6 list">{% get_verbose_name obj 'subcontractor' %}</th>
                <th class="width-5 list">Тип контрагента</th>
                <th class="width-6 list">{% get_verbose_name obj 'purpose' %}</th>
                <th class="width-3 list">Системная дата</th>
                <th class="width-3 list">{% get_verbose_name obj 'date_fact' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'date_doc' %}</th>
                <th class="width-4 list">{% get_verbose_name obj 'sum_before_taxes' %}</th>
                <th class="width-4 list">Сумма после налогов</th>
                <th class="width-4 list">Размер налога</th>
                <th class="width-3 list">Тип налога</th>
                <th class="width-3 list">{% get_verbose_name obj 'agreement_start_date' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'agreement_end_date' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'pay_delay' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'delayed' %}</th>
                <th class="width-4 list">{% get_verbose_name obj 'pay_model' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'act_date' %}</th>
                <th class="width-5 list">{% get_verbose_name obj 'comment' %}</th>
                <th class="width-5 list">{% get_verbose_name obj 'estimation_link' %}</th>
                <th class="width-6 list">{% get_verbose_name obj 'project' %}</th>
                <th class="width-6 list">Категория проекта</th>
                <th class="width-5 list">Субкатегория проекта</th>
                <th class="width-4 list">Бренд</th>
                <th class="width-5 list">Короткое название</th>
                <th class="width-4 list">Этап</th>
                <th class="width-4 list">{% get_verbose_name obj 'unit' %}</th>
                <th class="width-4 list">{% get_verbose_name obj 'account' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'created_at' %}</th>
                <th class="width-8 list">{% get_verbose_name obj 'created_by' %}</th>
                <th class="width-3 list">{% get_verbose_name obj 'modified_at' %}</th>
                <th class="width-8 list">{% get_verbose_name obj 'modified_by' %}</th>
                <th class="width-2 list">{% get_verbose_name obj 'hidden' %}</th>
                <th class="width-2 list">{% get_verbose_name obj 'is_editable' %}</th>
            </tr>
            <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>
        </thead>

        <tbody
                is="v-list"
                ref="list"
                :paginator.sync="paginator"
                :filter-param.sync="filterParam"
                v-on:isready="isReadyList = true"
                v-on:isloaded="pageLoading = false"
                v-on:isloading="pageLoading = true"
                v-on:update-instance="updateInstance"
                v-on:delete-instance="deleteInstance"
        ></tbody>


    </table>
    </div>
    <!--End-->


    <!--Pagination-->
    <div id="pagination" class="block-section">
        <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
    </div>
    <!--End-->

    <!--Modals-->
        <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList"></v-create-instance>
        <v-update-instance ref="updateInstance" :wording="wording" v-on:update-list="updateList"></v-update-instance>
        <v-delete-instance ref="deleteInstance" :wording="wording" v-on:update-list="updateList"></v-delete-instance>
        <v-history ref="history" :wording="wording"></v-history>
        <v-excel ref="excel" :filter-param="filterParam"></v-excel>

    <!--End-->

{% endblock %}

{% block javascript %}
    <script src="{% static 'transactions/js/app.js' %}"></script>
    <script src="{% static 'transactions/js/chunk-vendors.js' %}"></script>

{% endblock %}


