<template>
    <section v-if="showModal" class="modal-container">
        <div class="modal-container-bg"  v-on:click="close"></div>
        <form class="modal" v-on:submit.prevent="saveInstance">
            <img class="modal-close-btn" src='@/assets/icons/close_icon.svg' v-on:click="close">
                <div class="modal-header mb-3">
                    <h4>
                        {{wording.header.invite}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style=" display: flex; flex-direction: column;">
                        <div >
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label class="label1">Имя</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.first_name" required>
                                </div>
                                <div class="col-6">
                                    <label class="label1">Фамилия</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.last_name" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <label class="label1">Адрес электронной почты</label>
                                    <input type="text" class="ui-border ui-radius-both heigh-1 width-100" v-model="instance.email" required>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5"  v-on:click="close">{{wording.button.cancel}}</button>
                    <button
                            type="submit"
                            class="btn btn-success btn-lg pl-5 pr-5"
                            :disabled="submitDisabled"
                    >
                        <span
                            class="spinner-grow spinner-grow-sm"
                            style="vertical-align: baseline;
                            margin-bottom: -2px;"
                            role="status"
                            aria-hidden="true"
                            v-if="submitDisabled"
                        ></span>
                        {{wording.button.invite}}</button>
                </div>
        </form>
    </section>
</template>

<script>

import axios from 'axios'
import $ from "jQuery";

export default {
    props: [
        'wording'
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instance:{},
            instanceDefault: {},
            urlList:"/setup/api/team/",
            showModal: false,
            message: {},
            submitDisabled: false,
        }
    },
    methods:{
        show(){
            this.instance  = {};
            this.instance  = JSON.parse(JSON.stringify(this.instanceDefault)) ;
            this.showModal = true
            $("body").attr('class', 'modalopen')
        },
        close(){
            this.showModal = false
            $("body").removeClass('modalopen')

        },
        saveInstance: function () {
            this.submitDisabled = true;
            axios({
                method: 'post',
                url: this.urlList,
                data: this.instance,
            })
            .then(response => {
                console.log(response.data)
                if (response.data.code === 1){
                    this.message = {
                        status: 'success',
                        text: this.wording.message.is_in_system_and_invited ,
                    }
                }
                if (response.data.code === 2){
                    this.message = {
                        status: 'success',
                        text: this.wording.message.is_invited ,
                    }
                }

                this.$emit('send-message', this.message);
                this.$emit('update-list');
                this.submitDisabled = false;
                this.close()

            })
            .catch(error => {
                if (error.response.data.code === 1){
                    this.message = {
                        status: 'error',
                        text: this.wording.error.already_invited ,
                    }
                }
                this.$emit('send-message', this.message);
                this.submitDisabled = false
                console.log(error.response);
            });
        },
    },
}
</script>

<style lang="scss">
  @import "@/scss/modal.scss";
</style>

