<template>
    <div class="w-100">
        <div class="row mt-3 mb-3  mr-1 px-4 py-4 border border-1"
            v-for="user in instances"
             :key="user.id"
        >
            <div class="col-4 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between">

                    <div>
                        <h5 style="white-space: nowrap">{{ user.first_name }} {{ user.last_name }}
                            <br>
                                <span class="badge badge-success" v-if="user.is_joined">
                                    <span>Подключен </span>
                                </span>
                                    <span class="badge badge-warning" v-if="!user.is_joined">
                                        <span>Не подключен </span>
                                    </span>
                                    <button type="submit" class="js-resend-user btn btn-link btn-sm" v-if="!user.is_joined"
                                    v-on:click="reInvite(user.id)"
                                    >
                                        Выслать повторно</button>
                        </h5>
                    </div>
                    <div >
                        <small class="d-flex flex-column align-items-end">
                            <span class=" font-weight-lighter">{{ user.email }}</span>
                             <span class="font-weight-lighter">{{ user.unit}}</span>
                        </small>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <small class="font-weight-lighter text-black-50 ">Приглашен {{ user.invited_at }}</small>

                    <button type="button"
                        class="js-delete-user btn btn-sm btn-outline-secondary border-0 align-self-start"
                        v-on:click="$emit('delete-instance', user.id)"
                    >
                         <i class="fas fa-trash mr-2"></i> Удалить из компании
                    </button>
                </div>
            </div>





            <div class="col-4">
                <h5>Права
                    <button type="button"
                        class="js-update-user btn btn-sm btn-link"
                        v-on:click="$emit('update-instance', user.id)"
                    >
                        Изменить<i class="far fa-pencil ml-2"></i>
                    </button>
                </h5>
                <small style="line-height: 2;">

                    <table class=" w-100">
                        <tr>
                            <td style="width:230px;">Раздел Dashboard</td>
                            <td class="text-right font-weight-bold">{{ user.access_app_dashboard_display }}</td>
                        </tr>
                        <tr>
                            <td>Раздел Документы</td>
                            <td class="text-right font-weight-bold">{{ user.access_app_docs_display }}</td>
                        </tr>
                        <tr>
                            <td>Раздел Настройки</td>
                            <td class="text-right font-weight-bold">{{ user.access_app_setup_display }}</td>
                        </tr>
                        <tr>
                            <td>Раздел Проекты и транзакции</td>
                            <td class="text-right font-weight-bold">{{ user.access_app_project_display }}</td>
                        </tr>

                    </table>
                </small>

            </div>
            <div class="col-4 " >

                <small style="line-height: 2;">
                    <table class="w-100" style="margin-top: 40px !important;">
                        <tr>
                            <td>Раздел Отчеты</td>
                            <td class="text-right font-weight-bold">{{ user.access_app_reports_display }}</td>
                        </tr>
                        <tr>
                            <td>Раздел Пользователи</td>
                            <td class="text-right font-weight-bold">{{ user.access_users_display }}</td>
                        </tr>
                        <tr>
                            <td>Может блокировать проекты</td>
                            <td class="text-right font-weight-bold">{{ user.access_can_block_display }}</td>
                        </tr>
                    </table>
                </small>
            </div>
            <hr/>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
export default {
    props: [
        'paginator',
        'searchQuery',
        'wording',
    ],
    created(){
        axios.defaults.withCredentials = true;
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    },
    mounted(){
    },
    data(){
        return{
            instances:{},
            url:"/setup/api/team/",
            reinviteUrl:"/setup/api/team/resend/",

        }
    },
    computed:{
        isReady(){
            if (Object.keys(this.paginator).length !==0){
                return true
            } else{
                return false
            }
        },
    },
    methods:{
        getInstanceAll() {
            this.$emit('isloading');
            axios({
                method: 'get',
                url: this.url,
                params: {
                    offset: this.paginator.paginationOffset,
                    page: this.paginator.activePage,
                    searchquery: this.searchQuery,
                }
            })
            .then(response => {
                this.instances = response.data.list;
                this.paginator.pages = response.data.total_pages;
                if (this.paginator.pages < this.paginator.activePage){
                    this.paginator.activePage = 1;
                }
                this.$emit('isloaded');
            })
        },
        indentStyleObject(el){
            var indent = el.idx * 20;
            return {
                paddingLeft: indent + 'px',
            }
        },
        reInvite(id){
            axios({
                method: 'post',
                url: this.reinviteUrl + id + '/',
            })
            .then(response => {
                console.log(response)
                this.message = {
                    status: 'success',
                    text: this.wording.message.reinvited ,
                }
                this.$emit('send-message', this.message);
            })
            .catch(error => {
                this.message = {
                    status: 'error',
                    text: this.wording.error.not_reinvited ,
                }
                this.$emit('send-message', this.message);
            });
        },
    },
    watch:{
        isReady:function(newValue){
            if(newValue){
                this.$emit('isready');
            }
        },
        searchQuery: _.debounce(function(newValue){
            this.getInstanceAll()
        },500)
    },
}
</script>

